{% extends 'base.html' %}

{% block pageCss %}
<link rel="stylesheet" href="{{url_for('static', filename='style/global.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='style/examefinal.css')}}">
{% endblock %}

{% block pageTitle %} Exame Final {% endblock %}

{% block pageContent %}
<div class="container-sm global-container">  

  <div id="Forms">
        
    <h2 class="text-center">Exame Final</h2>
      <form action="/submit_quiz_final" method="POST">
        <p>
          Preparado para demonstrar todo o conhecimento adquirido ao longo deste curso? Este exame final oferece a oportunidade de mostrar sua compreensão e habilidades! Encare-o como um desafio gratificante, onde cada resposta reflete sua dedicação e preparação. Boa sorte!
        </p>
        <hr/>
  
        <!--Gabarito B-->  
        <p> <b>
          Pergunta 1: O que são as cerimônias e porque são importantes? 
        </p> </b>
          
        <input type="radio" id="A-alt" name="Alt-question-1" value="Alternativa A">
        <label for="Alternativa A">As cerimônias são eventos sociais, são importantes porque precisam ser comemoradas.</label><br>


        <input type="radio" id="B-alt" name="Alt-question-1" value="Alternativa B">
        <label for="Alternativa B">
        As cerimônias são eventos específicos e esperados, são importantes porque ajudam a compreender a linha do tempo geral.</label><br>

        <input type="radio" id="C-alt" name="Alt-question-1" value="Alternativa C">
        <label for="Alternativa C">As cerimônias são eventos específicos e esperados, são importantes porque o cliente muda sempre de ideia sobre o produto.</label><br>

        <input type="radio" id="D-alt" name="Alt-question-1" value="Alternativa D">
        <label for="Alternativa D">As cerimônias são sempre opcionais, cabe ao time definir se quer fazer a daily durante a sprint ou não, e só são importantes em momentos de crise.</label><br>

        <hr/>

        <!--Gabarito A-->
        <p> <b>
          Pergunta 2: O que se pode fazer com relação às estimativas quando se usa a metodologia ágil e o método Scrum?
        </p> </b>

        
        <input type="radio" id="A-alt" name="Alt-question-2" value="Alternativa A">
        <label for="Alternativa A">Estimativas são sempre importantes, mas não podem ser estáticas, ser ágil significa adaptabilidade constante e encontrar novas formas de lidar com problemas complexos.</label><br>


        <input type="radio" id="B-alt" name="Alt-question-2" value="Alternativa B">
        <label for="Alternativa B">Estimativas são sempre importantes, e uma vez definidas devem ser seguidas à risca por todos até a cerimônia de Release final.</label><br>

        <input type="radio" id="C-alt" name="Alt-question-2" value="Alternativa C">
        <label for="Alternativa C">Estimativas são dispensáveis, uma vez que a cada nova sprint desafios novos são apresentados, seria perda de tempo.</label><br>

        <input type="radio" id="D-alt" name="Alt-question-2" value="Alternativa D">
        <label for="Alternativa D">Estimativas são dispensáveis, a visão do produto é suficiente para saber o que precisa ser feito.</label><br>

        <hr/>

        <!--Gabarito D-->
        <p> <b>
          Pergunta 3: A respeito de uma equipe que usa a filosofia ágil e a metodologia Scrum, o que se pode afirmar verdadeiramente:
        </p> </b>

    
        <input type="radio" id="A-alt" name="Alt-question-3" value="Alternativa A">
        <label for="Alternativa A">Os papéis são fixos, bem claros e hierarquicamente organizados dentro da estrutura de uma Equipe.</label><br>


        <input type="radio" id="B-alt" name="Alt-question-3" value="Alternativa B">
        <label for="Alternativa B">Os papéis são fixos, pré-estabelecidos pelo cliente e todos devem opinar, mas a palavra final é sempre do Master.</label><br>

        <input type="radio" id="C-alt" name="Alt-question-3" value="Alternativa C">
        <label for="Alternativa C">Os papéis são estáveis, mas não são fixos, e à medida que os processos se desenvolvem,  pessoas podem assumir novas funções, todos devem opinar, mas a palavra final é sempre do Master.</label><br>

        <input type="radio" id="D-alt" name="Alt-question-3" value="Alternativa D">
        <label for="Alternativa D">Os papéis são estáveis, mas não são fixos, e à medida que os processos se desenvolvem, pessoas podem assumir novas funções, todos devem opinar e decidir, não há hierarquias.</label><br>
        


        <hr/>


        <!--Gabarito C-->
        <p> <b>
          Pergunta 4: Assinale a afirmação verdadeira a seguir:
        </p> </b>

        
        <input type="radio" id="A-alt" name="Alt-question-4" value="Alternativa A">
        <label for="Alternativa A">A visão do produto não é realmente relevante em um projeto.</label><br>


        <input type="radio" id="B-alt" name="Alt-question-4" value="Alternativa B">
        <label for="Alternativa B">A visão do produto é uma etapa final, onde aspectos estéticos são adicionados ao produto final.</label><br>

        <input type="radio" id="C-alt" name="Alt-question-4" value="Alternativa C">
        <label for="Alternativa C">A melhor forma de começar uma Sprint Planning Meeting é apresentando a Visão do Produto </label><br>

        <input type="radio" id="D-alt" name="Alt-question-4" value="Alternativa D">
        <label for="Alternativa D">A Visão do produto é estabelecida apenas uma vez, antes do início do desenvolvimento e não muda ao longo do projeto.</label><br>
        
        <hr/>

        <!--Gabarito B-->
        <p> <b>
          Pergunta 5: A respeito da Sprint Planning Meeting, pode se afirmar o seguinte:
        </p> </b>

        
        <input type="radio" id="A-alt" name="Alt-question-5" value="Alternativa A">
        <label for="Alternativa A">É a última cerimônia Scrum, onde os incrementos são apresentados/tornados públicos;</label><br>


        <input type="radio" id="B-alt" name="Alt-question-5" value="Alternativa B">
        <label for="Alternativa B">É a primeira cerimônia Scrum, onde todos os detalhes precisam ser minuciosamente pensados;</label><br>

        <input type="radio" id="C-alt" name="Alt-question-5" value="Alternativa C">
        <label for="Alternativa C">É uma cerimônia intermediária, deve acontecer em projetos com mais de 5 sprints;</label><br>

        <input type="radio" id="D-alt" name="Alt-question-5" value="Alternativa D">
        <label for="Alternativa D">Não é uma cerimônia oficial do Scrum, mas como a Visão do Produto, é fortemente recomendada;</label><br>
        
        <hr/>

        <!--Gabarito A-->
        <p> <b>
          Pergunta 6: Qual o papel do Product Owner?
        </p> </b>

        
        <input type="radio" id="A-alt" name="Alt-question-6" value="Alternativa A">
        <label for="Alternativa A">Gerenciar o Backlog, garantir o ROI, definir a visão do produto, gerenciar a entrada de requisitos e definir prioridades.</label><br>


        <input type="radio" id="B-alt" name="Alt-question-6" value="Alternativa B">
        <label for="Alternativa B">Tomar decisões finais sobre as funcionalidades a serem desenvolvidas.</label><br>

        <input type="radio" id="C-alt" name="Alt-question-6" value="Alternativa C">
        <label for="Alternativa C">Responsabilizar-se pelo desenvolvimento do produto e garantir sua qualidade.</label><br>

        <input type="radio" id="D-alt" name="Alt-question-6" value="Alternativa D">
        <label for="Alternativa D">Encarregado de gerenciar os conflitos dentro da equipe.</label><br>
        
        <hr/>

        <!--Gabarito D-->
        <p> <b>
          Pergunta 7: Qual é a definição de Scrum Master no Scrum?
        </p> </b>

        
        <input type="radio" id="A-alt" name="Alt-question-7" value="Alternativa A">
        <label for="Alternativa A">O Scrum Master é responsável por pensar e desenvolver o produto, sendo o papel mais importante.</label><br>


        <input type="radio" id="B-alt" name="Alt-question-7" value="Alternativa B">
        <label for="Alternativa B">O Scrum Master é o líder da equipe de desenvolvimento e tem como objetivo cobrar caso haja tarefas a serem concluídas.</label><br>

        <input type="radio" id="C-alt" name="Alt-question-7" value="Alternativa C">
        <label for="Alternativa C">O Scrum Master é um gerenciador, onde tem principal função no Backlog do Produto, adicionando e excluindo as User Stories.</label><br>

        <input type="radio" id="D-alt" name="Alt-question-7" value="Alternativa D">
        <label for="Alternativa D">O Scrum Master é um facilitador, que ajuda a equipe a entender e adotar o Scrum, removendo impedimentos e promovendo um ambiente de trabalho colaborativo.</label><br>
        
        <hr/>


        <!--Gabarito C-->
        <p> <b>
          Pergunta 8: Quais são as perguntas recorrentes do Daily Scrum?
        </p> </b>

        
        <input type="radio" id="A-alt" name="Alt-question-8" value="Alternativa A">
        <label for="Alternativa A">O que você gostou de fazer no projeto? Está com alguma dificuldade?</label><br>


        <input type="radio" id="B-alt" name="Alt-question-8" value="Alternativa B">
        <label for="Alternativa B">Qual é o plano para a próxima sprint? Qual foi a atualização no Burndown Chart?</label><br>

        <input type="radio" id="C-alt" name="Alt-question-8" value="Alternativa C">
        <label for="Alternativa C">O que fiz desde a última Daily? O que pretendo fazer até a próxima? Existe algum impedimento?</label><br>

        <input type="radio" id="D-alt" name="Alt-question-8" value="Alternativa D">
        <label for="Alternativa D">O cliente pediu um novo requisito? Existe alguma tarefa atrasada? Alguém do time necessita de ajuda na implementação?</label><br>
        
        <hr/>

        <!--Gabarito A-->
        <p> <b>
          Pergunta 9: Qual o formato de uma User Story?
        </p> </b>

        <input type="radio" id="A-alt" name="Alt-question-9" value="Alternativa A">
        <label for="Alternativa A">Como &lt tipo de usuário &gt quero &lt funcionalidade desejada &gt para &lt motivo que remeta um valor ao negócio &gt</label><br>

        <input type="radio" id="B-alt" name="Alt-question-9" value="Alternativa B">
        <label for="Alternativa B">Como &lt tipo de usuário &gt quero &lt funcionalidade desejada &gt para quem/o/a  &lt usuário final &gt</label><br>

        <input type="radio" id="C-alt" name="Alt-question-9" value="Alternativa C">
        <label for="Alternativa C">Como &lt tipo de usuário &gt necessito de &lt produto final &gt</label><br>

        <input type="radio" id="D-alt" name="Alt-question-9" value="Alternativa D">
        <label for="Alternativa D">Como &lt tipo de usuário &gt quero &lt funcionalidade desejada &gt</label><br>
        
        <hr/>

        <!--Gabarito B-->
        <p> <b>
          Pergunta 10: Uma Release Planning Meeting é composta por:
        </p> </b>

        
        <input type="radio" id="A-alt" name="Alt-question-10" value="Alternativa A">
        <label for="Alternativa A">Visão do Produto - Status do Projeto - Tema - Estimativa - Mapear Itens - Plano de Comunicação - Gráficos</label><br>


        <input type="radio" id="B-alt" name="Alt-question-10" value="Alternativa B">
        <label for="Alternativa B">Abertura - Visão do Produto - Status do Projeto - Tema - Estimativa - Mapear Itens - Plano de Riscos - Plano de Comunicação e Logística  - Gráficos - Retrospectiva</label><br>

        <input type="radio" id="C-alt" name="Alt-question-10" value="Alternativa C">
        <label for="Alternativa C">Abertura - Visão do Produto - Status do Projeto - Estimativa - Mapear Itens - Plano de Comunicação - Gráficos - Retrospectiva</label><br>

        <input type="radio" id="D-alt" name="Alt-question-10" value="Alternativa D">
        <label for="Alternativa D">Abertura - Status do Projeto - Tema - Estimativa - Mapear Itens - Plano de Riscos - Plano de Comunicação e Logística  - Retrospectiva</label><br>
        
        <hr/>


        <!--Gabarito D-->
        <p> <b>
          Pergunta 11: Qual das seguintes alternativas descreve corretamente a essência de um processo empírico no contexto do Scrum?
        </p> </b>

      
        <input type="radio" id="A-alt" name="Alt-question-11" value="Alternativa A">
        <label for="Alternativa A">Um processo que segue uma sequência fixa e definida, onde cada etapa é previsível.</label><br>


        <input type="radio" id="B-alt" name="Alt-question-11" value="Alternativa B">
        <label for="Alternativa B">Um processo que não permite alterações durante a execução, garantindo a conformidade estrita com o plano inicial.</label><br>

        <input type="radio" id="C-alt" name="Alt-question-11" value="Alternativa C">
        <label for="Alternativa C">Um processo que prioriza a documentação extensiva e controle rígido de mudanças.</label><br>

        <input type="radio" id="D-alt" name="Alt-question-11" value="Alternativa D">
        <label for="Alternativa D">Um processo que adapta e melhora continuamente através da prática e experiência, enfrentando imprevistos.</label><br>
      
        <hr/>


        <!--Gabarito B-->
        <p> <b>
          Pergunta 12: Qual é a importância da transparência dentro do Scrum?
        </p> </b>

      
        <input type="radio" id="A-alt" name="Alt-question-12" value="Alternativa A">
        <label for="Alternativa A">Permitir que somente o Scrum Master tenha uma visão clara do progresso do projeto.</label><br>


        <input type="radio" id="B-alt" name="Alt-question-12" value="Alternativa B">
        <label for="Alternativa B">Assegurar que todos os membros da equipe compreendam claramente os processos e estejam alinhados nos termos utilizados.</label><br>

        <input type="radio" id="C-alt" name="Alt-question-12" value="Alternativa C">
        <label for="Alternativa C">Garantir que as decisões sejam tomadas exclusivamente pelo Product Owner.</label><br>

        <input type="radio" id="D-alt" name="Alt-question-12" value="Alternativa D">
        <label for="Alternativa D">Facilitar a introdução de novas metodologias sem a necessidade de comunicação constante.</label><br>

        <hr/>

        <!--Gabarito A-->
        <p> <b>
          Pergunta 13: Como o Product Owner garante que o desenvolvimento do produto está alinhado com as necessidades do negócio?
        </p> </b>

      
        <input type="radio" id="A-alt" name="Alt-question-13" value="Alternativa A">
        <label for="Alternativa A">Definindo, priorizando e aceitando o trabalho a ser realizado pela equipe de desenvolvimento com base nas expectativas dos stakeholders.</label><br>


        <input type="radio" id="B-alt" name="Alt-question-13" value="Alternativa B">
        <label for="Participando diretamente no desenvolvimento e codificação do produto">Participando diretamente no desenvolvimento e codificação do produto.</label><br>

        <input type="radio" id="C-alt" name="Alt-question-13" value="Alternativa C">
        <label for="Alternativa C">Gerenciando conflitos internos na equipe de desenvolvimento.</label><br>

        <input type="radio" id="D-alt" name="Alt-question-13" value="Alternativa D">
        <label for="Alternativa D">Monitorando apenas os aspectos técnicos do desenvolvimento sem interação com os stakeholders.</label><br>


        <hr/>


        <!--Gabarito B-->
        <p> <b>
          Pergunta 14: Qual das seguintes opções descreve corretamente a importância dos três pilares do Scrum (Transparência, Inspeção e Adaptação)?
        </p> </b>

      
        <input type="radio" id="A-alt" name="Alt-question-14" value="Alternativa A">
        <label for="Alternativa A">Eles garantem que todas as decisões sejam tomadas exclusivamente pelo Product Owner.</label><br>


        <input type="radio" id="B-alt" name="Alt-question-14" value="Alternativa B">
        <label for="Alternativa B">Eles proporcionam um ambiente onde o progresso pode ser monitorado continuamente e ajustes podem ser feitos com base em feedback constante.</label><br>

        <input type="radio" id="C-alt" name="Alt-question-14" value="Alternativa C">
        <label for="Alternativa C">Eles estabelecem uma hierarquia rígida dentro da equipe de desenvolvimento.</label><br>

        <input type="radio" id="D-alt" name="Alt-question-14" value="Alternativa D">
        <label for="Alternativa D">Eles eliminam a necessidade de reuniões frequentes e planejamento contínuo.</label><br>


        <hr/>

        <!--Gabarito C-->
        <p> <b>
          Pergunta 15: Qual é o principal objetivo de uma User Story no Scrum?
        </p> </b>

      
        <input type="radio" id="A-alt" name="Alt-question-15" value="Alternativa A">
        <label for="Alternativa A">Documentar tecnicamente todos os requisitos de um sistema.</label><br>


        <input type="radio" id="B-alt" name="Alt-question-15" value="Alternativa B">
        <label for="Alternativa B">Listar as tarefas diárias a serem realizadas pela equipe de desenvolvimento.</label><br>

        <input type="radio" id="C-alt" name="Alt-question-15" value="Alternativa C">
        <label for="Alternativa C">Descrever uma funcionalidade desejada de forma que tenha valor para o usuário, focando no ponto de vista do cliente.</label><br>

        <input type="radio" id="D-alt" name="Alt-question-15" value="Alternativa D">
        <label for="Alternativa D">Definir o cronograma e as metas do projeto</label><br>


        <hr/>

        <!--Gabarito A-->
        <p> <b>
          Pergunta 16: O Scrum master não pode comparecer a daily, e você irá assumir o papel temporariamente, para que o processo não seja quebrado!
          Qual é as perguntas que se deve fazer aos outros membros?
        </p> </b>

      
        <input type="radio" id="A-alt" name="Alt-question-16" value="Alternativa A">
        <label for="Alternativa A">O que fiz desde a última Daily? O que pretendo fazer até a próxima? Existe algum impedimento?</label><br>


        <input type="radio" id="B-alt" name="Alt-question-16" value="Alternativa B">
        <label for="Alternativa B">Está gostando do projeto? O que você acha que pode melhorar nele?</label><br>

        <input type="radio" id="C-alt" name="Alt-question-16" value="Alternativa C">
        <label for="Alternativa C">O cliente pediu um novo requisito? Existe alguma tarefa atrasada? Alguém do time necessita de ajuda na implementação?</label><br>

        <input type="radio" id="D-alt" name="Alt-question-16" value="Alternativa D">
        <label for="Alternativa D">Tem se esforçado para a realização desse projeto? Está ajudando os colegas de equipe?</label><br>


        <hr/>



        <!--Gabarito C-->
        <p> <b>
          Pergunta 17: Dada a seguinte situação, escolha a alternativa INCORRETA: <br>
          Durante a Sprint planning, todos os integrantes da equipe Scrum devem se reunir para organizar o que entregar e como produzir essa entrega de valor, respeitando o tempo da Sprint.
          
          Abaixo, estão listadas algumas dos passos para uma boa Sprint planning, escolha a alternativa INCORRETA:
        </p> </b>

      
        <input type="radio" id="A-alt" name="Alt-question-17" value="Alternativa A">
        <label for="Alternativa A">Preparar o backlog e verificar a disponibilidade da equipe</label><br>


        <input type="radio" id="B-alt" name="Alt-question-17" value="Alternativa B">
        <label for="Alternativa B">Estabelecer uma velocidade e apresentar um panorama geral</label><br>

        <input type="radio" id="C-alt" name="Alt-question-17" value="Alternativa C">
        <label for="Alternativa C">Analizar a Sprint anterior (caso tenha) buscando melhorar e culpar os membros que atrasaram entregas</label><br>

        <input type="radio" id="D-alt" name="Alt-question-17" value="Alternativa D">
        <label for="Alternativa D">Examinar o backlog e determinar a propriedade das tarefas</label><br>


        <hr/>

        <input class="btn btn-success" type="submit" value="Validar" onclick="toggle_screens(0)"><br>

      </form> <br>
  </div>
  
  <!--Modal para o usuário comentar sobre o curso-->
  <!-- Modal -->
  <div class="modal fade modal-section hidden" id="comentario" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" id="QUIZmodal" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <!-- Conteúdo do Modal -->
          <div class="container-content text-center row">
            <!-- Área da Imagem de Celebração (Parte da Esquerda) -->
            <div class="content-block col-sm-5">
              <img src="{{url_for('static' , filename='img/storyset/Celebration-rafiki.svg')}}" alt="" class="IMG-global">
            </div>
            <!-- Área dos Textos (Parte da Direita)-->
            <div class="content-block col-sm-7">
              <!-- Textos (Cima) -->
              <div class="modal-text-container">
                <h3 class="SUB-global ">
                  Parabéns!
                </h3>

                <p class="TXT-global">
                  Antes de verificar o resultado do exame, deixe o seu feedback para conseguir o certificado do curso!
                </p>

                <p class="TXT-global">
                  
                </p>
              </div>
              <div id="Forms">
                <form id="survey-form" action="/submit_comentarios" method="POST">
                  <div class="preencher">
                    <label for="name" id="name-label">Nome:</label>
                    <input style='color:black' type="text" id="name" name="Nome" placeholder="Digite o seu nome" required> <br>
    
                    <label for="numeber" id="number-label">RA:</label>
                    <input style='color:black' type="number" min="0"  id="number" name="RA" placeholder="Digite seu RA" required>
                  </div>
    
                  <label for="sugestoes">Escreva seu comentário aqui:</label>
                  <textarea style='color:black' id="sugestoes" name="Comentario" placeholder="Escreva aqui suas sugestões..." required></textarea> <br>
                  <div class="modal-btn-container">
                    <button class="BTN-global modal-return-btn" type="button" id="verResultados">Enviar</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <!-- Modal para mostrar os resultados -->
  <!-- Modal -->
  <div class="modal fade modal-section hidden" id="resultados" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" id="QUIZmodal" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <!-- Conteúdo do Modal -->
          <div class="container-content text-center row">
            <!-- Área da Imagem de Celebração (Parte da Esquerda) -->
              <div class="content-block col-sm-5">
                <img src="{{url_for('static' , filename='img/storyset/Celebration-rafiki.svg')}}" alt="" class="IMG-global">
              </div>
              <!-- Área dos Textos (Parte da Direita)-->
              <div class="content-block col-sm-7">
              <!-- Textos (Cima) -->
              <div class="modal-text-container">
                <h3 class="SUB-global ">
                  Parabéns!
                </h3>
                <p class="TXT-global">
                    Você acertou <b>{{score_final}} questões</b> e finalizou o <b>curso</b>!
                </p>
                <p class="TXT-global">
                  Clique abaixo para receber seu certificado
              </p>
              </div>   
              <!-- Botões (Baixo) -->
              <div class="modal-btn-container">
                
                <a href="/comentario" class="BTN-global modal-return-btn">
                  Finalizar curso
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!--Os scripts javascripts estão incluídos-->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>



  <script>
    $(document).ready(function () {
      var score = "{{ score_final }}";
      if (score) {
        var myModal = new bootstrap.Modal(document.getElementById('comentario'));
        myModal.show();
      }

      $('#enviarComentario').click(function () {
        $('#comentario').modal('hide');
        var myModal = new bootstrap.Modal(document.getElementById('resultados'));
        myModal.show();
      });

      $('#verResultados').click(function () {
        $('#comentario').modal('hide');
        var myModal = new bootstrap.Modal(document.getElementById('resultados'));
        myModal.show();
      });
    });
  </script>






  <!-- Script para mostrar o modal de comentário -->
  <!-- <script>
    function toggle_screens(n) {

    // Seleciona a tela atual
    let screen = document.getElementsByClassName("modal-section")[n]
    screen.classList.add('hidden') //Oculta a tela atual

    // Seleciona o próximo modal
    let next_screen = document.getElementsByClassName("toggle-section")[n + 1]
    next_screen.classList.remove('hidden') //Exibe a próxima tela
    }

    //Serve para mostrar o modal
    $(document).ready(function () {
      // Verifica se existe um score para mostrar, e se o modal deve ser exibido
      var score = "{{ score_final }}";
      if (score) {
        var myModal = new bootstrap.Modal(document.getElementById('resultados'));
        myModal.show();
      }
    });
  </script>

  {% if modal_show %}
  <script>
    $(document).ready(function(){
      $('#resultModal').modal('show');
    });
  </script>
  {% endif %} -->

</div>
{% endblock %}