        <!-- PERGUNTA | -->
            <div class="test-question">

                <!-- Pergunta -->
                <p class="test-question-text">
                    <span class="test-question-number">
                        Pergunta |:
                    </span>
                    
                </p>

                <!-- Alternativas [] -->
                <div class="test-answers-area">

                    <!-- Alternativa A -->
                    <input class="test-radio-input" class="test-radio-input" type="radio" id="|A-alt" name="Alt-question-|" value="Alternativa A">
                    <label class="test-radio-label" for="|A-alt">
                        
                    </label>

                    <!-- Alternativa B -->
                    <input class="test-radio-input" class="test-radio-input" type="radio" id="|B-alt" name="Alt-question-|" value="Alternativa B">
                    <label class="test-radio-label" for="|B-alt">
                        
                    </label>

                    <!-- Alternativa C -->
                    <input class="test-radio-input" class="test-radio-input" type="radio" id="|C-alt" name="Alt-question-|" value="Alternativa C">
                    <label class="test-radio-label" for="|C-alt">
                        
                    </label>
                    
                    <!-- Alternativa D -->
                    <input class="test-radio-input" class="test-radio-input" type="radio" id="|D-alt" name="Alt-question-|" value="Alternativa D">
                    <label class="test-radio-label" for="|D-alt">
                        
                    </label>
                </div>
            </div>