{% extends 'base.html' %}

    {% block pageCss %}
        <link rel="stylesheet" href="{{url_for('static', filename='style/capitulos.css')}}">
    {% endblock %}

    {% block title %} Capitulo 2{% endblock %}

    {% block pageContent %}
    
    <section class="container-fluid capitulo-scrum">
      <h1 class="title">Pilares Scrum (Transparência, Inspeção e Adaptação)</h1>
      <div class="content d-flex">
        <p class="text col-7">Pilares Scrum</p>
      </div>

      
    </section>
    
    
    {% endblock %}