{% extends 'base.html' %}

    {% block pageCss %}
    <link rel="stylesheet" href="{{url_for('static', filename='style/artefatos.css')}}">

        <!-- Ícones Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"> 

    <!-- CSS do Boostrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">

    <!-- CSS Global do Projeto -->
    <link rel="stylesheet" href="{{url_for('static', filename='style/global.css')}}">

    {% endblock %} 

    {% block pageTtile %} Homepage {% endblock %}

    {% block pageContent %}
<section>
    <h1 class="title-art">Artefatos Scrum</h1>
</section>
    <div class="container-content d-flex justify-content-center flex-wrap">
        <!-- Elemento 1 -->
        <div class="content-block">
             O Scrum possui alguns artefatos que dão uma visão do andamento do projeto e das Sprints. Os artefatos são informações que as equipes Scrum e as partes interessadas usam para detalhar o produto que está sendo desenvolvido, as ações para a produção dele e as ações realizadas durante o projeto. Sendo eles:
        </div>
    </div>
<div class="content d-flex justify-content-center flex-wrap">
    <ul>
        <li class="text"> Product Backlog </li> <br>
        <li class="text"> Sprint Backlog </li> <br>
        <li class="text"> Product Increment </li> <br>
        <li class="text"> Burndown Charts  </li> <br>
        <li class="text"> Definition of Done </li>
    </ul>
</div>
<section>
    <div class="content d-flex justify-content-center flex-wrap">
    <h1 class="subtitle-art">Product Backlog</h1>
    <div class="container-content row">
            <!-- Elemento 1 -->
            <div class="content-block col-sm-8">
            O Product Backlog é uma lista ordenada criada pelo Time Scrum, mas onde somente o Product Owner pode inserir, remover ou reordenar os itens. O formato mais utilizado para estes itens é o de User Stories, que deverão ser ordenados de acordo com o critério do Product Owner - geralmente itens mais importantes ficam no topo, e serão implementados antes. Em geral, os itens de maior importância são os itens que se têm maior conhecimento, já itens que precisam de maior refinamento geralmente têm uma importância menor e ficam mais abaixo no Product Backlog.
        </div>
        <!-- Elemento 2 -->
        <div class="content-block col-sm-4">
            <img class="img-fluid scrum-img" src="{{url_for('static', filename='img/storyset/Exams-rafiki.svg')}}" alt="img">
        </div>
    </div>
    </div>
</section>
    <div class="content-block">
        Além dos itens funcionais, o Product Backlog também contém itens não-funcionais (tempo de resposta), arquiteturais (ser desenvolvido com determinada tecnologia) e de infraestrutura (estar disponível somente dentro de uma intranet). Também pode conter itens que representem riscos a serem removidos. Durante o andamento do projeto, algumas funcionalidades podem acabar perdendo a importância e  até mesmo desaparecendo. Da mesma forma, novas funcionalidades também podem ser adicionadas, de acordo com a necessidade. Abaixo um exemplo de Product Backlog:
    </div>
    <section>
        <div class="content d-flex justify-content-center flex-wrap">
        <h1 class="subtitle-art">User Story</h1>
        <div class="container-content row">
            <div class="content-block">Ao descrever os itens para o Product Backlog, o Product Owner pode optar por User Stories, que descrevem uma funcionalidade que tenha valor ao cliente, mas em termos de negócios - e não de uma forma técnica. Assim, é composta de três aspectos:
            </div>
        </div>
        </div>
        <div class="content d-flex justify-content-center flex-wrap">
            <ul>
                <li class="text"> Descrição da história </li> <br>
                <li class="text"> Conversas sobre a história que servem para detalhá-la </li> <br>
                <li class="text"> Testes que conduzem aspectos importantes da história e determinar quando completa
                </li> 
            </ul>
        </div>
        <div class="container-content row">
            <div class="content-block">Como normalmente User Stories são escritos em cartões de notas, convencionou-se a utilização dos 3Cs para User Stories: Cartão, Conversação e Confirmação. O modelo mais utilizado para a descrição de uma história em uma User Story é:
            </div>
            <div class="cards d-flex">
                <div class="card col-3">
                  <div class="card-body">
                    <h5 class="card-title">Eu, como (papel), quero (funcionalidade) para (motivo).</h5>
                  </div>
                </div>
            </div>
        </section>
<section>
        <div class="container-content row">
            <div class="content-block">Neste modelo, o papel representa qualquer tipo de usuário que esteja utilizando o produto. Funcionalidade é a funcionalidade desejada, e motivo é o que determina o propósito desta funcionalidade. Ao se criar um User Story, o Product Owner deve sempre ter em mente que ela atenda aos critérios INVEST:
            </div>
            <div class="content d-flex justify-content-center flex-wrap">
                <ul>
                    <li class="text"> Independent - idealmente, pode ser implementado em qualquer ordem
                    </li> <br>
                    <li class="text"> Negotiable - pode ser negociável
                    </li> <br>
                    <li class="text"> Valuable - possui valor</li> <br>
                    <li class="text"> Estimatable - capaz de ser estimado</li> <br>
                    <li class="text"> Small - com descrição curta
                    </li> <br>
                    <li class="text"> Testable - podem-se criar testes
                    </li>
                </ul>
            </div>
        </section>
        <section>
            <div class="content d-flex justify-content-center flex-wrap">
            <h1 class="subtitle-art">Sprint Backlog</h1> </div>
            <div class="container-content row">

                <!-- Elemento 1 -->
                <div class="content-block col-sm-4">
                    <img class="img-fluid scrum-img" src="{{url_for('static', filename='img/storyset/Vision board-rafiki.svg')}}" alt="img">
                </div>
    
                <!-- Elemento 2 -->
                <div class="content-block col-sm-8">
                    O Sprint Backlog é o conjunto de itens selecionados para serem implementados durante a Sprint mais o plano para transformá-los em um Incremento. Assim, ao final de cada Sprint Planning Meeting, um novo Sprint Backlog é criado. Normalmente, o plano é composto das tarefas técnicas necessárias para transformar o item em um incremento do produto. Um dos formatos mais utilizados de Sprint Backlog é o de Task Board:
                </div>
                <div class="container-content row">
                    <div class="content-block"> No Task Board, à esquerda, temos os itens vindos do Product Backlog, enquanto que nas colunas To do, Doing e Done, temos as tarefas a serem feitas, em andamento e prontas, respectivamente. As tarefas podem apresentar o nome da pessoa que está trabalhando nela. O objetivo do Sprint Backlog é tornar visível o trabalho necessário para que o Development Team atinja a meta da Sprint. Para isto, os membros do Development Team podem adicionar novas tarefas no decorrer da Sprint, caso mais trabalho seja necessário. Da mesma forma, também podem remover tarefas caso se mostrem desnecessárias. </div>    
            </section>

    {% endblock %}