{% extends 'base.html' %}

    {% block pageCss %}
        <link rel="stylesheet" href="{{url_for('static', filename='style/burndown.css')}}">

        <!-- Ícones Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"> 

    <!-- CSS do Boostrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">

    <!-- CSS Global do Projeto -->
    <link rel="stylesheet" href="{{url_for('static', filename='style/global.css')}}">

    {% endblock %} 

    {% block pageTtile %} Homepage {% endblock %}

    {% block pageContent %}
<div class="container-sm global-container">

        <div class="container-content text-center">
            <div class="content-block">
                <h1 class="TITLE-global">
                    Artefatos Scrum
                </h1>
            </div>
        </div>
    <section>
        <div class="content d-flex justify-content-center flex-wrap">
            <h2 class="SUB-global">Product Increment </h2>
        </div>
        <div class="container-content text-right row">
            <!-- Elemento 1 -->
            <div class="content-block col-sm">
                <p class="TXT-global">Ao final de cada Sprint, o Development Team entrega um incremento do produto, resultado do que foi produzido durante a Sprint. Este é um dos conceitos principais de Scrum e vai de encontro com a sua natureza empírica, já que permite que o Product Owner perceba o valor do investimento e também vislumbre outras possibilidades. </p>
            </div>

            <!-- Elemento 2 -->
            <div class="content-block col-sm">
                <p class="TXT-global"> Para o Development Team é importante entender que o Incremento deve ser algo potencialmente entregável - o cliente pode optar por colocar imediatamente em produção. Com isso, o Development Team deve produzir código que tenha qualidade, com o mínimo de 
                    <span class="POP-global" data-bs-toggle="popover" 
                    data-bs-placement="top" data-bs-trigger="hover" 
                    data-bs-custom-class="custom-popover"
                    data-bs-title="bugs"
                    data-bs-content="Falha ou erro em um programa computacional, que o impede de se comportar como pretendido. ">
                bugs
                </span>
                    possível, evitando os famosos "quebra-galhos", "depois eu arrumo isso", etc. </p>
            </div>
        </div>
    </section>
 <section>
        <div class="content d-flex justify-content-center flex-wrap">
            <h2 class="SUB-global">Burndown Chart </h2>
        </div>
    <div class="container-content d-flex justify-content-center flex-wrap">
        <!-- Elemento 1 -->
        <div class="content-block">
            <p class="TXT-global">Em Scrum, o Development Team é autogerenciado, e para ajudar neste autogerenciamento, o Development Team pode fazer uso do Sprint Burndown Chart. O Sprint Burndown Chart torna visível a evolução diária do trabalho do Development Team, pois mostra a comparação entre o trabalho estimado com a quantidade restante estimada de trabalho. Normalmente, as unidades utilizadas são de esforço (em horas) planejado pelo tempo decorrido. A figura a seguir mostra um exemplo de um Sprint Burndown Chart: </p>
        </div>
    </div>
    <div class="container-content d-flex justify-content-center flex-wrap">
        <div class="content-block">
        <img class="img-fluid cont-img" src="{{url_for('static', filename='img/cont/burndownapi.png')}}" alt="img">
        </div>
    </div>
        <div class="container-content row">
            <!-- Elemento 1 -->
            <div class="content-block col-sm-8">
                <p class="TXT-global">Além de ajudar o time a se autogerenciar, um Sprint Burndown Chart também permite que o restante da organização também possa acompanhar o andamento da Sprint. Enquanto o Sprint Burndown Chart permite que o Development Team faça o autogerenciamento da Sprint, o Product Owner pode fazer uso de um outro gráfico para gerenciar o Release: o 
                    <span class="POP-global" data-bs-toggle="popover" 
                    data-bs-placement="top" data-bs-trigger="hover" 
                    data-bs-custom-class="custom-popover"
                    data-bs-title="Release Burndown Chart"
                    data-bs-content="As unidades utilizadas são de story points por Sprints.">
                    Release Burndown Chart. 
                </span>
                   Através do Release Burndown Chart, o Product Owner tem uma indicação do término da Release de acordo com os dados e estimativas feitas pelo Development Team, ou a quantidade do Product Backlog que será completada. </p>
            </div>
        <!-- Elemento 2 -->
        <div class="content-block col-sm-4">
            <img class="img-fluid scrum-img" src="{{url_for('static', filename='img/storyset/In progress-rafiki.svg')}}" alt="img">
        </div>
    </div>
    </div>
 </section>
 <section>
    <div class="container-content d-flex justify-content-center flex-wrap">

        <div class="content-block">
            <a href="#" class="BTN-global">
                <i class="bi bi-arrow-up-short"></i>
            </a>
        </div>
        <div class="content-block">
            <a href="/DoR_DoD" class="BTN-global">
                Avançar <i class="bi bi-arrow-right-short"></i>
            </a>
        </div>
    </div>
</div>
</section>

    {% endblock %}