{% extends 'base.html' %}

{% block pageCss %} {% endblock %}

{% block pageTitle %} Cerimônias Scrum {% endblock %}

{% block pageContent %} 

    <div class="container-sm global-container">

        <div class="container-content text-center">
            <div class="content-block">
                <h1 class="TITLE-global">
                    Cerimônias Scrum
                </h1>
            </div>
        </div>
        
        <div class="container-content text-center row">
            <div class="content-block col-md-4">
                <img src="{{url_for('static' , filename='img/storyset/Public talk-rafiki.svg')}}" alt="imagem palestra" class="IMG-global">
            </div>

            <div class="content-block col-md-8">
                <h2 class="SUB-global">
                    Sprint Review
                </h2>

                <div class="TXT-global-container">
                    <p class="TXT-global">
                        A Sprint Review é uma importante etapa após o fim de uma Sprint no desenvolvimento ágil. Aqui, o Product Owner avalia o que foi entregue comparando com o planejado durante a Sprint Planning Meeting. Esta cerimônia é aberta tanto para o cliente quanto para outras partes interessadas.
                    </p>
                </div>
                <div class="TXT-global-container">
                    <p class="TXT-global">  
                        Durante a Sprint Review, o Time Scrum apresenta claramente o que foi produzido e está disponível para responder a quaisquer perguntas dos presentes. Isso permite uma verificação conjunta do progresso e ajuda a garantir que as expectativas do cliente e do time estejam alinhadas.
                    </p>
                </div>
            </div>
        </div>

        <div class="container-content text-center row">
            <div class="content-block col-md-7">
                <h2 class="SUB-global">
                    Sprint Retrospective
                </h2>

                <div class="TXT-global-container">
                    <p class="TXT-global">
                        A Sprint Retrospective é uma reunião crucial que marca o final de uma Sprint. Nela, todo o Time Scrum se reúne para analisar o que aconteceu durante a Sprint que acabou de terminar, discutidindo o que deu certo, identificando quais foram os desafios enfrentados pela equipe, sugerindo soluções para esses problemas e decidindo como podemos melhorar na próxima Sprint.
                    </p>
                </div>
                
                <h2 class="SUB-global">
                    Release Planning Meeting 
                </h2>

                <div class="TXT-global-container">
                    <p class="TXT-global">
                        O Release Planning Meeting é uma reunião importante realizada pelo Time Scrum para planejar o lançamento de uma nova versão do produto, chamada de
                        <span class="POP-global" data-bs-toggle="popover" 
                            data-bs-placement="top" data-bs-trigger="hover" 
                            data-bs-custom-class="custom-popover"
                            data-bs-title="Release"
                            data-bs-content="Entrega dos resultados de várias Sprints ao cliente. Não exige o 	projeto completo, mas necessita de funcionalidades que agreguem valor o bastante.
                            ">
                                Release
                        </span>
                        . Durante essa reunião, o time trabalha para definir a visão de longo prazo do projeto e estabelecer o caminho a ser seguido após uma Sprint. Isso inclui determinar um prazo estimado para a implementação das funcionalidades necessárias para o produto.
                    </p>
                </div>
            </div>

            <div class="content-block col-md-5">
                <img src="{{url_for('static' , filename='img/storyset/Team-cuate.svg')}}" alt="imagem network" class="IMG-global">
            </div>  
        </div>

        <div class="container-content d-flex justify-content-center flex-wrap">

            <div class="content-block">
                <a href="#" class="BTN-global">
                    <i class="bi bi-arrow-up-short"></i>
                </a>
            </div>
            <div class="content-block">
                <a href="/CerimoniasPT-2" class="BTN-global">
                    Avançar <i class="bi bi-arrow-right-short"></i>
                </a>
            </div>
        </div>
        
    </div>

{% endblock %}