{% extends 'base.html' %}

{% block pageCss %}
<link rel="stylesheet" href="{{url_for('static', filename='style/estimativa.css')}}">
<link rel="stylesheet" href="{{url_for('static' , filename='style/Modulo-1/quiz.css')}}">
{% endblock %}

{% block pageTitle %} Estimativas {% endblock %}

{% block pageContent %}

<div class="container-sm global-container">
    <div class="container-content text-center">
        <div class="content-block">
            <h1 class="TITLE-global">
                Estimativas
            </h1>
        </div>
    </div>

    <div class="container-content text-center row">
        <div class="TXT-global-container">
            <p class="TXT-global text-center">
                Como se pode acompanhar ao longo dessas instruções, pode-se notar uma necessidade de compreensão do
                produto para fazer as estimativas corretas.
            </p>
        </div>
    </div>

    <div class="container-content text-center row">
        <div class="content-block col-md-4">
            <img src="{{url_for('static' , filename='img/storyset/Estimativa.svg')}}" alt="imagem de prazo e tempo" class="IMG-global">
        </div>


        <div class="content-block col-md-8">
            <div class="TXT-global-container">
                <p class="TXT-global">
                    Quando utilizamos User Stories, é comum utilizarmos uma outra unidade de medida, ao invés do usual
                    “tempo” utilizado frequentemente em metodologias tradicionais. No caso de User Stories, utilizamos
                    “Story Points”. Isso porque utilizar “horas ou dias” como unidade de medida estima não somente o esforço
                    necessário para a funcionalidade, mas também a velocidade individual dos membros que trabalhem nela.
                </p>
                <p class="TXT-global">
                    Story Points é uma unidade de medida relativa que leva em consideração o esforço necessário para
                    realizar uma determinada funcionalidade. Se uma funcionalidade requerer o dobro de esforço para ser
                    implementada, ela receberá aproximadamente o dobro de Story Points. Para estimar a quantidade de Story
                    Points de um User Story, o Time de Desenvolvimento o compara com outros já estimados.
                </p>
                <p class="TXT-global">
                    Caso não haja ainda nada estimado no Product Backlog, o Time de Desenvolvimento localiza o User Story
                    com o menor esforço para o desenvolvimento, e o utiliza como base para comparações. Uma das melhores
                    formas de se estimar Story Points é utilizando o Planning Poker.
                </p>
            </div>
        </div>

        <div class="container-content text-center">
            <div class="content-block">
                <h1 class="TITLE-global">
                    Planning Poker
                </h1>
            </div>
        </div>

        <div class="container-content text-center row">
            <div class="content-block col-md-8">
                <div class="TXT-global-container">
                    <p class="TXT-global">
                        O Planning Poker é uma estratégia de construção de estimativas a partir do conhecimento dos membros
                        do time. A ideia é que sejam capazes de decidir coletivamente e conscientemente quanto esforço cada
                        uma das tarefas irá demandar e por quanto tempo do time.
                    </p>
                    <p class="TXT-global">
                        No início do Planning Poker, cada membro do time recebe um conjunto de cartas. Cada carta exibe um
                        dos valores válidos para a estimativa (0, 1, 2, 3, 5, 8, 13, 20, 40 e 100, por exemplo).
                    </p>
                    <p class="TXT-global">
                        Em geral, os valores seguem uma escala baseada na sequência Fibonacci - outra sequência pode ser
                        escolhida, porém Fibonacci é a mais utilizada. Para cada User Story a ser estimado, o Product Owner
                        lê a descrição e esclarece quaisquer dúvidas que os membros do time tenham. Entretanto, é importante
                        lembrar que em determinado ponto, qualquer discussão adicional não busca uma precisão maior.
                    </p>
                    <p class="TXT-global">
                        Após todas as questões serem respondidas, cada membro seleciona uma carta representando sua
                        estimativa, mas sem mostrar aos outros. As cartas não são mostradas até o momento em que todos,
                        simultaneamente, exibem seus valores, de forma que todos vejam os valores selecionados
                        simultaneamente.
                    </p>
                </div>
            </div>
            <div class="content-block col-md-4">
                <img src="{{url_for('static' , filename='img/storyset/Estimativa2.svg')}}" alt="imagem poker cartas" class="IMG-global">
            </div>

            <div class="container-content text-center">
                <div class="content-block">
                    <img height="50%" width="50%" src="{{url_for('static' , filename='img/storyset/Estimativa3.png')}}" alt=" imagem fibonnaci" class="IMG-global">
                </div>
                <div class="content-block">
                    <p class="TXT-global text-center">
                        Neste ponto, é normal que as estimativas sejam significantemente diferentes. E na realidade é um bom
                        sinal. Quando as estimativas diferem, os membros com o maior e menor valores expõem os motivos que
                        os levaram a escolher aqueles valores. Depois das explanações e discussões, todos recolhem suas
                        cartas e estimam novamente, da mesma forma.
                    </p>
                </div>
            </div>

        </div>

        <div class="container-content text-center">
            <div class="content-block">
                <video class="VID-global" controls>
                    <source src="/static/video/SCRUMCAP3.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>

<!-- .:: QUIZ ::.  -->
    <form id="QUIZform" method="POST" action="/submit_quiz_cap_3">

        <!-- PRIMEIRA QUESTÃO -->
        <div class="QUIZform-container" id="first-question">
            
            <!-- Área da Pergunta (Parte de Cima) -->
            <div class="QUIZ-question row">
                <div class="question-number col-1">
                    <h5>
                        1
                    </h5>
                </div>
                
                <div class="question-text col-10">
                    <p class="TXT-global">Sprint podem ser definidas como:</p>
                    <ol class="LIST-global list-group">
                        <li class="list-group-item"> Ciclos completos de desenvolvimento com durações fixas. </li>
                        <li class="list-group-item"> Uma reunião diária para discutir o progresso do projeto. </li>
                        <li class="list-group-item"> Com finalidade de entregar um incremento de valor. </li>
                        <li class="list-group-item"> Uma reunião de brainstorming para gerar ideias criativas. </li>
                    </ol>
                </div>

            </div>

            <!-- Área das Respostas (Parte de Baixo) -->
            <div class="QUIZ-answers row">
                
                <div class="answer-container col-sm-10 col">

                    <!-- Alternativa A -->
                    <input type="radio" id="1A-alt" name="Alt-question-1" value="I e III estão corretas.">
                    <label class="asnwer-card" for="1A-alt">
                        <p class="TXT-global">I e III estão corretas.</p>
                    </label>

                    <!-- Alternativa B -->
                    <input type="radio" id="1B-alt" name="Alt-question-1" value="I e IV estão corretas.">
                    <label class="asnwer-card" for="1B-alt">
                        <p class="TXT-global">I e IV estão corretas.</p>
                    </label>

                    <!-- Alternativa C -->
                    <input type="radio" id="1C-alt" name="Alt-question-1" value="IV e V estão corretas.">
                    <label class="asnwer-card" for="1C-alt">
                        <p class="TXT-global">IV e V estão corretas.</p>
                    </label>

                    <!-- Alternativa D -->
                    <input type="radio" id="1D-alt" name="Alt-question-1" value="Todas as alternativas estão corretas.">
                    <label class="asnwer-card" for="1D-alt">
                        <p class="TXT-global">Todas as alternativas estão corretas.</p>
                    </label>
                </div>
                
            </div>
            
        </div>

        <!-- SEGUNDA QUESTÃO -->
        <div class="QUIZform-container" id="second-question">

            <!-- Área da Pergunta (Parte de Cima) -->
            <div class="QUIZ-question row">
                <div class="question-number col-1">
                    <h5>
                        2
                    </h5>
                </div>
                
                <div class="question-text col-10">
                    <p class="TXT-global">
                        A respeito do Sprint Backlog:
                    </p>
                </div>

            </div>

            <!-- Área das Respostas (Parte de Baixo) -->
            <div class="QUIZ-answers row">
                
                <div class="answer-container col-sm-10 col">

                    <!-- Alternativa A -->
                    <input type="radio" id="2A-alt" name="Alt-question-2" value="É o quadro de planejamento que será apresentado ao cliente no início da sprint.">
                    <label class="asnwer-card" for="2A-alt">
                        <p class="TXT-global">
                            É o quadro de planejamento que será apresentado ao cliente no início da sprint.
                        </p>
                    </label>

                    <!-- Alternativa B -->
                    <input type="radio" id="2B-alt" name="Alt-question-2" value="É o gráfico composto por uma linha real e uma linha ideal e tem a função de medir o desempenho do grupo.
                    ">
                    <label class="asnwer-card" for="2B-alt">
                        <p class="TXT-global">
                            É o gráfico composto por uma linha real e uma linha ideal e tem a função de medir o desempenho do grupo.
                        </p>
                    </label>

                    <!-- Alternativa C -->
                    <input type="radio" id="2C-alt" name="Alt-question-2" value="É o quadro onde serão designadas as responsabilidades das tarefas, juntamente com a organização das quais já foram concluídas, quais estão em andamento e quais estão para começar.">
                    <label class="asnwer-card" for="2C-alt">
                        <p class="TXT-global">
                            É o quadro onde serão designadas as responsabilidades das tarefas, juntamente com a organização das quais já foram concluídas, quais estão em andamento e quais estão para começar.
                        </p>
                    </label>

                    <!-- Alternativa D -->
                    <input type="radio" id="2D-alt" name="Alt-question-2" value="É o quadro onde terão as tarefas e subtarefas a serem desenvolvidas pelo Scrum Team, juntamente com uma ordem de prioridade, estimativa de conclusão e descrição.">
                    <label class="asnwer-card" for="2D-alt">
                        <p class="TXT-global">
                            É o quadro onde terão as tarefas e subtarefas a serem desenvolvidas pelo Scrum Team, juntamente com uma ordem de prioridade, estimativa de conclusão e descrição.
                        </p>
                    </label>
                </div>
                
            </div>
            
        </div>

        <!-- TERCEIRA QUESTÃO -->
        <div class="QUIZform-container" id="third-question">

            <!-- Área da Pergunta (Parte de Cima) -->
            <div class="QUIZ-question row">
                <div class="question-number col-1">
                    <h5>
                        3
                    </h5>
                </div>
                
                <div class="question-text col-10">
                    <p class="TXT-global">
                        Qual a função do Burndown Chart?
                    </p>
                </div>

            </div>

            <!-- Área das Respostas (Parte de Baixo) -->
            <div class="QUIZ-answers row">
                
                <div class="answer-container col-sm-10 col">

                    <!-- Alternativa A -->
                    <input type="radio" id="3A-alt" name="Alt-question-3" value="Estimar o número de horas extras realizadas pelos desenvolvedores.">
                    <label class="asnwer-card" for="3A-alt">
                        <p class="TXT-global">
                            Estimar o número de horas extras realizadas pelos desenvolvedores.
                        </p>
                    </label>

                    <!-- Alternativa B -->
                    <input type="radio" id="3B-alt" name="Alt-question-3" value="Tornar visível a evolução diária do trabalho do time, mostrando a comparação entre o trabalho estimado com a quantidade de esforço.">
                    <label class="asnwer-card" for="3B-alt">
                        <p class="TXT-global">
                            Tornar visível a evolução diária do trabalho do time, mostrando a comparação entre o trabalho estimado com a quantidade de esforço.
                        </p>
                    </label>

                    <!-- Alternativa C -->
                    <input type="radio" id="3C-alt" name="Alt-question-3" value="Priorizar as tarefas com base na complexidade e na dependência entre elas.">
                    <label class="asnwer-card" for="3C-alt">
                        <p class="TXT-global">
                            Priorizar as tarefas com base na complexidade e na dependência entre elas.
                        </p>
                    </label>

                    <!-- Alternativa D -->
                    <input type="radio" id="3D-alt" name="Alt-question-3" value="Gerenciar o orçamento do projeto de forma eficiente.">
                    <label class="asnwer-card" for="3D-alt">
                        <p class="TXT-global">
                            Gerenciar o orçamento do projeto de forma eficiente.
                        </p>
                    </label>
                </div>
                
            </div>
            
        </div>

        
        <button data-bs-toggle="modal" data-bs-target="#resultados" type="submit" value="Validar" onclick="submitQuiz()" class="QUIZform-button">
            Validar
        </button>

    </form>

    <!-- Botão voltar ao topo da página -->
    <div class="container-content d-flex justify-content-center flex-wrap">
        <div class="content-block">
            <a href="#" class="BTN-global">
                <i class="bi bi-arrow-up-short"></i>
            </a>
        </div>
        <div class="content-block">
            <a href="/trilha" class="BTN-global" id="btn-return-trail">
                <i class="bi bi-arrow-return-left"></i> Voltar a Trilha
            </a>
        </div>
    </div>


    <!--Modal para mostrar os resultados-->
    <!-- Modal -->
    <div class="modal fade" id="resultados" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true" data-bs-backdrop="static">
        <div class="modal-dialog modal-dialog-centered" id="QUIZmodal" role="document">
            <div class="modal-content">
                <div class="modal-body">

                    <!-- Conteúdo do Modal -->
                    <div class="container-content text-center row">

                        <!-- Área da Imagem de Celebração (Parte da Esquerda) -->
                        <div class="content-block col-sm-5">
                            <img src="{{url_for('static' , filename='img/storyset/Celebration-rafiki.svg')}}" alt="" class="IMG-global">
                        </div>

                        <!-- Área dos Textos (Parte da Direita)-->
                        <div class="content-block col-sm-7">

                            <!-- Textos (Cima) -->
                            <div class="modal-text-container">
                                <h3 class="SUB-global ">
                                    Parabéns!
                                </h3>
                                <p class="TXT-global">
                                    Você finalizou o terceiro quiz e acertou <b>{{score_cap3}} questões</b>!
                                </p>
                            </div>
                            
                            <!-- Botões (Baixo) -->
                            <div class="modal-btn-container">
                                <button type="button" class="BTN-global modal-close-btn" data-bs-dismiss="modal" aria-label="Close">
                                    Voltar
                                </button>

                                <a href="/trilha" class="BTN-global modal-return-btn">
                                    Prosseguir
                                </a>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>


    <!--Os scripts javascripts estão incluídos-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>


    <!--Serve para mostrar o modal-->
    <script>
    $(document).ready(function () {
    // Verifica se existe um score para mostrar, e se o modal deve ser exibido
    var score = "{{ score_cap3 }}";
    if (score)
    {
        var myModal = new bootstrap.Modal(document.getElementById('resultados'));
        myModal.show();
    }
    });
    </script>

</div>
{% endblock %}