{% extends 'base.html' %}

{% block pageCss %}
<link rel="stylesheet" href="{{url_for('static', filename='style/capitulos.css')}}">
{% endblock %}

{% block pageTitle %} Capitulo 1 {% endblock %}

{% block pageContent %}
<div class="container-sm global-container principal">
    <section class="container-fluid capitulo-scrum">
        <h1 class="TITLE-global">
            Capítulo 1
        </h1>
        <div class="content d-flex justify-content-center">
            <p class="TXT-global">
                Damos as boas-vindas ao Módulo 1, sua porta de entrada para todo o conteúdo teórico que será explorado
                neste curso! <br><br>
                Neste primeiro capítulo, vamos explorar os alicerces do Scrum: seus valores, princípios e pilares
                essenciais. Estes são os fundamentos que sustentam toda a metodologia ágil. Ao entendermos esses
                conceitos fundamentais, estaremos prontos para aplicar o Scrum de forma eficaz em nossos projetos de
                desenvolvimento de software.<br><br>
                Você pode avançar no conteúdo do capítulo clicando no botão 'Avançar' ou selecionar uma das seções
                destacadas abaixo para acessar uma página específica
            </p>
        </div>

        <div class="content d-flex justify-content-left trilha-scrum">
            <ul class="LIST-global">
                <li><i class="bi bi-bookmark-fill"></i><a class="links" href="/Fundamentos">Fundamentos Scrum</a></li>
                <br>
                <li><i class="bi bi-bookmark-fill"></i><a class="links" href="/Valores">Valores e Princípios
                    </a></li><br>
                <li><i class="bi bi-bookmark-fill"></i><a class="links" href="/Pilares Scrum">Os Pilares de Scrum
                    </a></li>
            </ul>
        </div>
    </section>

    <div class="container-content d-flex justify-content-center align-items-center flex-wrap">
        <div class="content-block">
            <a href="/trilha" class="BTN-global" id="btn-return-trail">
                <i class="bi bi-arrow-return-left"></i> Voltar a Trilha
            </a>
        </div>
        <div class="content-block">
            <a href="/Fundamentos" class="BTN-global">
                Avançar <i class="bi bi-arrow-right-short"></i>
            </a>
        </div>
    </div>

</div>
{% endblock %}