{% extends 'base.html' %}

    {% block pageCss %}
      <link rel="stylesheet" href="{{url_for('static', filename='style/pilares-scrum.css')}}">
    {% endblock %}

    {% block title %} Capitulo 2{% endblock %}

    {% block pageContent %}
    
    <section class="container-fluid capitulo-scrum">
      <h1 class="title">Pilares Scrum </h1>
      <h2 class="subtitle">Transparência, Inspeção e Adaptação</h2>
      <div>
        <p>A filosofia ágil não tem esse nome à toa. Em 2001, um grupo de desenvolvedores decidiu criar uma rotina de processos, cerimônias e artefatos para gerenciar a construção de softwares. Com o sucesso dessa sugestão de gestão, escreveram o Manifesto ágil, que é o texto que segue: 
          
          <p>Em uma tradução livre, o Manifesto Ágil consiste no seguinte:
            “Estamos descobrindo maneiras melhores de desenvolver software, fazendo-o nós mesmos e ajudando outros a fazerem o mesmo. Através deste trabalho, passamos a valorizar: Indivíduos e interações mais que processos e ferramentas Software em funcionamento mais que documentação abrangente Colaboração com o cliente mais que negociação de contratos Responder a mudanças mais que seguir um plano Ou seja, mesmo havendo valor nos itens à direita, valorizamos mais os itens à esquerda”
          </p>
        </p>
      </div>
    </section>



    <section>
      <h1 class="title">Manifesto Ágil</h1>
      
    </section>
    
    
    {% endblock %}