{% extends 'base.html' %}

{% block pageCss %}
<link rel="stylesheet" href="{{url_for('static', filename='style/capitulos.css')}}">
{% endblock %}

{% block pageTitle %} Capitulo 2{% endblock %}

{% block pageContent %}
<div class="container-sm global-container">
    <section class="container-fluid capitulo-scrum">
        <h1 class="TITLE-global">Capítulo 2</h1>
        <div class="content d-flex justify-content-center">
            <p class="TXT-global">Neste capítulo, exploraremos os principais papéis dentro do Scrum, enfatizando a importância das habilidades individuais e as responsabilidades associadas a cada função. Além disso, discutiremos o valor da auto-organização no contexto do Scrum e como ela contribui para o sucesso global do projeto. Ao compreendermos os papéis e responsabilidades dentro do framework Scrum, estaremos preparados para criar equipes eficazes e impulsionar o progresso do projeto de maneira colaborativa e produtiva. </p>
        </div>

        <div class="content d-flex justify-content-left trilha-scrum">
            <ul class="LIST-global">
                <li><i class="bi bi-bookmark-fill"></i><a class="links"
                        href="/Time Scrum" alt="icone_livro">Time Scrum (PO, SM, ST)</a></li><br>
                <li><i class="bi bi-bookmark-fill"></i><a class="links"
                    href="/Skills" alt="icone_livro">Soft Skills e Hard Skills</a></li><br>
                <li><i class="bi bi-bookmark-fill"></i><a class="links"
                    href="/Conceitos" alt="icone_livro">Auto-organização, Facilitação, Visão</a></li><br>
            </ul>
        </div>
    </section>
    
    
    <div class="container-content d-flex justify-content-center align-items-center flex-wrap">
        <div class="content-block">
            <a href="/trilha" class="BTN-global" id="btn-return-trail">
                <i class="bi bi-arrow-return-left"></i> Voltar a Trilha
            </a>
        </div>
        <div class="content-block">
            <a href="/Time Scrum" class="BTN-global">
                Avançar <i class="bi bi-arrow-right-short"></i>
            </a>
        </div>
    </div>

</div>
{% endblock %}