{% extends 'base.html' %}

{% block pageCss %} 
<link rel="stylesheet" href="{{url_for('static', filename='style/conceitos.css')}}">
<link rel="stylesheet" href="{{url_for('static' , filename='style/Modulo-1/quiz.css')}}">
{% endblock %}

{% block pageTitle %} Auto-organização, facilitação e visão {% endblock %}

{% block pageContent %} 
<div class="container-sm global-container">

    <div class="container-content text-center">
        <div class="content-block">
            <h1 class="TITLE-global">
                Auto-organização, facilitação e visão
            </h1>
        </div>
    </div>
    
    <div class="container-content text-center row">
        <div class="content-block col-md-4">
            <img src="{{url_for('static' , filename='img/storyset/office-rafiki.svg')}}" alt="ensinando_aprendendo" class="IMG-global">
        </div>

        <div class="content-block col-md-8">

            <div class="TXT-global-container">
                <p class="TXT-global">
                    Um dos princípios fundamentais do Scrum é a autoorganização, onde as equipes têm autonomia para tomar decisões e se organizar com o objetivo de alcançar os resultados esperados. A facilitação é crucial para garantir que as reuniões e processos do Scrum sejam eficazes e ágeis, apoiando a equipe na colaboração e resolução de problemas.
                </p>
            </div>
            <div class="TXT-global-container">
                <p class="TXT-global">  
                    A definição clara da visão e dos objetivos do projeto é essencial, pois fornece direção e inspiração para a equipe durante todo o desenvolvimento. Essa compreensão compartilhada do que se pretende alcançar mantém a equipe motivada e alinhada, mesmo diante de desafios e mudanças ao longo do caminho.
                </p>
            </div>

            <div class="TXT-global-container">
                <p class="TXT-global">  
                    Portanto, a abordagem Scrum combina a autonomia da equipe com a clareza de propósito, criando um ambiente propício para a entrega de valor de forma rápida e adaptativa.
                </p>
            </div>
        </div>
    </div>


    <div class="container-content text-center">
        <div class="content-block">
            <video class="VID-global" controls>
                <source src="/static/video/SCRUMCAP2.mp4" type="video/mp4">
            </video>
        </div>
    </div>


<!-- .:: QUIZ ::.  -->
    <form id="QUIZform" method="POST" action="/submit_quiz_cap_2">

        <!-- PRIMEIRA QUESTÃO - Gabarito: D -->
        <div class="QUIZform-container" id="first-question">
            
            <!-- Área da Pergunta (Parte de Cima) -->
            <div class="QUIZ-question row">
                <div class="question-number col-1">
                    <h5>
                        1
                    </h5>
                </div>
                
                <div class="question-text col-10">
                    <p class="TXT-global">
                        Qual é a função do Product Owner em um projeto ágil?
                    </p>
                </div>

            </div>

            <!-- Área das Respostas (Parte de Baixo) -->
            <div class="QUIZ-answers row">
                
                <div class="answer-container col-sm-10 col">

                    <!-- Alternativa A -->
                    <input type="radio" id="1A-alt" name="Alt-question-1" value="Alternativa A">
                    <label class="asnwer-card" for="1A-alt">
                        <p class="TXT-global">
                            O Product Owner atua como validador do trabalho do Develop Team, garantindo que todas as atividades desenvolvidas estejam alinhadas com suas visões para serem consideradas prontas para o lançamento.
                        </p>
                    </label>

                    <!-- Alternativa B -->
                    <input type="radio" id="1B-alt" name="Alt-question-1" value="Alternativa B">
                    <label class="asnwer-card" for="1B-alt">
                        <p class="TXT-global">
                            O Product Owner desempenha o papel de gerente do Develop Team, atribuindo tarefas, realizando acompanhamentos e resolvendo conflitos.
                        </p>
                    </label>

                    <!-- Alternativa C -->
                    <input type="radio" id="1C-alt" name="Alt-question-1" value="Alternativa C">
                    <label class="asnwer-card" for="1C-alt">
                        <p class="TXT-global">
                            O Product Owner é responsável por definir todas as tarefas técnicas e implementar diretamente o código do produto.
                        </p>
                    </label>

                    <!-- Alternativa D -->
                    <input type="radio" id="1D-alt" name="Alt-question-1" value="Alternativa D">
                    <label class="asnwer-card" for="1D-alt">
                        <p class="TXT-global">
                            O Product Owner atua como uma ponte entre o cliente e o development team, apresentando as tarefas da sprint com base nos requisitos do cliente e validando o trabalho desenvolvido após sua conclusão.
                        </p>
                    </label>
                </div>
                
            </div>
            
        </div>

        <!-- SEGUNDA QUESTÃO - Gabarito: A -->
        <div class="QUIZform-container" id="second-question">

            <!-- Área da Pergunta (Parte de Cima) -->
            <div class="QUIZ-question row">
                <div class="question-number col-1">
                    <h5>
                        2
                    </h5>
                </div>
                
                <div class="question-text col-10">
                    <p class="TXT-global">
                        Qual das seguintes definições corresponde a um dos estágios de um time auto-organizado?
                    </p>
                </div>

            </div>

            <!-- Área das Respostas (Parte de Baixo) -->
            <div class="QUIZ-answers row">
                
                <div class="answer-container col-sm-10 col">

                    <!-- Alternativa A -->
                    <input type="radio" id="2A-alt" name="Alt-question-2" value="Alternativa A">
                    <label class="asnwer-card" for="2A-alt">
                        <p class="TXT-global">
                            <b>Performing:</b> É o estágio em que o time começa a operar de forma coordenada e com um desempenho satisfatório.
                        </p>
                    </label>

                    <!-- Alternativa B -->
                    <input type="radio" id="2B-alt" name="Alt-question-2" value="Alternativa B">
                    <label class="asnwer-card" for="2B-alt">
                        <p class="TXT-global">
                            <b>Forming:</b> Refere-se ao período em que o time está passando por ajustes nas funções de seus membros.
                        </p>
                    </label>

                    <!-- Alternativa C -->
                    <input type="radio" id="2C-alt" name="Alt-question-2" value="Alternativa C">
                    <label class="asnwer-card" for="2C-alt">
                        <p class="TXT-global">
                            <b>Norming:</b> Representa o momento em que o time enfrenta conflitos internos e pode precisar da intervenção do Scrum para resolvê-los.
                        </p>
                    </label>

                    <!-- Alternativa D -->
                    <input type="radio" id="2D-alt" name="Alt-question-2" value="Alternativa D">
                    <label class="asnwer-card" for="2D-alt">
                        <p class="TXT-global">
                            <b>Storming:</b> É quando requisitos de permanência no grupo são estabelecidos.
                        </p>
                    </label>
                </div>
                
            </div>
            
        </div>

        <!-- TERCEIRA QUESTÃO - Gabarito: D -->
        <div class="QUIZform-container" id="third-question">

            <!-- Área da Pergunta (Parte de Cima) -->
            <div class="QUIZ-question row">
                <div class="question-number col-1">
                    <h5>
                        3
                    </h5>
                </div>
                
                <div class="question-text col-10">
                    <p class="TXT-global">
                        Qual a responsabilidade do Facilitador?
                    </p>
                </div>

            </div>

            <!-- Área das Respostas (Parte de Baixo) -->
            <div class="QUIZ-answers row">
                
                <div class="answer-container col-sm-10 col">

                    <!-- Alternativa A -->
                    <input type="radio" id="3A-alt" name="Alt-question-3" value="Alternativa A">
                    <label class="asnwer-card" for="3A-alt">
                        <p class="TXT-global">
                            Impor suas próprias ideias sem considerar as opiniões dos participantes.
                        </p>
                    </label>

                    <!-- Alternativa B -->
                    <input type="radio" id="3B-alt" name="Alt-question-3" value="Alternativa B">
                    <label class="asnwer-card" for="3B-alt">
                        <p class="TXT-global">
                            Tomar todas as decisões importantes sozinho, para facilitar o processo.
                        </p>
                    </label>

                    <!-- Alternativa C -->
                    <input type="radio" id="3C-alt" name="Alt-question-3" value="Alternativa C">
                    <label class="asnwer-card" for="3C-alt">
                        <p class="TXT-global">
                            Observar passivamente sem intervir, evitando conflitos.
                        </p>
                    </label>

                    <!-- Alternativa D -->
                    <input type="radio" id="3D-alt" name="Alt-question-3" value="Alternativa D">
                    <label class="asnwer-card" for="3D-alt">
                        <p class="TXT-global">
                            Otimizar processos, evitar que o grupo tome decisões erradas, reduzir conflitos e motivá-los.
                        </p>
                    </label>
                </div>
                
            </div>
            
        </div>

        
        <button data-bs-toggle="modal" data-bs-target="#resultados" type="submit" value="Validar" onclick="submitQuiz()" class="QUIZform-button">
            Validar
        </button>
    </form>



    <!-- Botão voltar ao topo da página -->
    <div class="container-content d-flex justify-content-center align-items-center flex-wrap">
        <div class="content-block">
            <a href="#" class="BTN-global">
            <i class="bi bi-arrow-up-short"></i>
            </a>
        </div>
        <div class="content-block">
            <a href="/trilha" class="BTN-global" id="btn-return-trail">
                <i class="bi bi-arrow-return-left"></i> Voltar a Trilha
            </a>
        </div>
        <div class="content-block">
            <a href="/Capitulo3" class="BTN-global">
                Avançar 
                <i class="bi bi-arrow-right-short"></i>
            </a>
        </div>
    </div>



    <!-- Modal -->
    <div class="modal fade" id="resultados" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true" data-bs-backdrop="static">
        <div class="modal-dialog modal-dialog-centered" id="QUIZmodal" role="document">
            <div class="modal-content">
                <div class="modal-body">

                    <!-- Conteúdo do Modal -->
                    <div class="container-content text-center row">

                        <!-- Área da Imagem de Celebração (Parte da Esquerda) -->
                        <div class="content-block col-sm-5">
                            <img src="{{url_for('static' , filename='img/storyset/Celebration-rafiki.svg')}}" alt="" class="IMG-global">
                        </div>

                        <!-- Área dos Textos (Parte da Direita)-->
                        <div class="content-block col-sm-7">

                            <!-- Textos (Cima) -->
                            <div class="modal-text-container">
                                <h3 class="SUB-global ">
                                    Parabéns!
                                </h3>
                                <p class="TXT-global">
                                    Você acertou <b>{{score_cap2}} questões</b> e finalizou o <b>Capítulo 2</b>!
                                </p>
                            </div>
                            
                            <!-- Botões (Baixo) -->
                            <div class="modal-btn-container">
                                <button type="button" class="BTN-global modal-close-btn" data-bs-dismiss="modal" aria-label="Close">
                                    Voltar
                                </button>

                                <a href="/trilha#Modulo-1" class="BTN-global modal-return-btn">
                                    Prosseguir
                                </a>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <!--Serve para mostrar o modal-->
    <script>
        $(document).ready(function () {
        // Verifica se existe um score para mostrar, e se o modal deve ser exibido
            var score = "{{ score_cap2 }}";
            if (score) 
            {
                var myModal = new bootstrap.Modal(document.getElementById('resultados'));
                myModal.show();
            }
        });
    </script>
</div>

{% endblock %}

