{% extends 'base.html' %}

{% block pageCss %} 
<link rel="stylesheet" href="{{url_for('static', filename='style/conceitos.css')}}">
{% endblock %}

{% block pageTitle %} Auto-organização, facilitação e visão {% endblock %}

{% block pageContent %} 
<div class="container-sm global-container">

    <div class="container-content text-center">
        <div class="content-block">
            <h1 class="TITLE-global">
                Auto-organização, facilitação e visão
            </h1>
        </div>
    </div>
    
    <div class="container-content text-center row">
        <div class="content-block col-md-4">
            <img src="{{url_for('static' , filename='img/storyset/office-rafiki.svg')}}" alt="ensinando_aprendendo" class="IMG-global">
        </div>

        <div class="content-block col-md-8">

            <div class="TXT-global-container">
                <p class="TXT-global">
                    Um dos princípios fundamentais do Scrum é a autoorganização, onde as equipes têm autonomia para tomar decisões e se organizar com o objetivo de alcançar os resultados esperados. A facilitação é crucial para garantir que as reuniões e processos do Scrum sejam eficazes e ágeis, apoiando a equipe na colaboração e resolução de problemas.
                </p>
            </div>
            <div class="TXT-global-container">
                <p class="TXT-global">  
                    A definição clara da visão e dos objetivos do projeto é essencial, pois fornece direção e inspiração para a equipe durante todo o desenvolvimento. Essa compreensão compartilhada do que se pretende alcançar mantém a equipe motivada e alinhada, mesmo diante de desafios e mudanças ao longo do caminho.
                </p>
            </div>

            <div class="TXT-global-container">
                <p class="TXT-global">  
                    Portanto, a abordagem Scrum combina a autonomia da equipe com a clareza de propósito, criando um ambiente propício para a entrega de valor de forma rápida e adaptativa.
                </p>
            </div>
        </div>
    </div>


    <div class="container-content text-center">
        <div class="content-block">
            <video class="VID-global" controls>
                <source src="/static/video/SCRUMCAP2.mp4" type="video/mp4">
            </video>
        </div>
    </div>

    
    <!--Questionário com 3 perguntas-->
    <section>
        <h2>
            Questionário
        </h2>
        <div class="formulario">
            <form class="question-forms" method="POST" action="/submit_quiz_cap_2">
                <ol>

                    <!--Primeira pergunta - Resposta: D-->
                    
                    <li>
                        Qual é a função do Product Owner em um projeto ágil?
                    </li>

                    <!--Alternativa A-->
                    <input type="radio" id="A-alt" name="Alt-question-1" value="O Product Owner atua como validador do trabalho do Develop Team, garantindo que todas as atividades desenvolvidas estejam alinhadas com suas visões para serem consideradas prontas para o lançamento.">
                    <label for="O Product Owner atua como validador do trabalho do Develop Team, garantindo que todas as atividades desenvolvidas estejam alinhadas com suas visões para serem consideradas prontas para o lançamento.">
                        O Product Owner atua como validador do trabalho do Develop Team, garantindo que todas as atividades desenvolvidas estejam alinhadas com suas visões para serem consideradas prontas para o lançamento.
                    </label><br>

                    <!--Alternativa B-->
                    <input type="radio" id="B-alt" name="Alt-question-1" value="O Product Owner desempenha o papel de gerente do Develop Team, atribuindo tarefas, realizando acompanhamentos e resolvendo conflitos.">
                    <label for="O Product Owner desempenha o papel de gerente do Develop Team, atribuindo tarefas, realizando acompanhamentos e resolvendo conflitos.">
                        O Product Owner desempenha o papel de gerente do Develop Team, atribuindo tarefas, realizando acompanhamentos e resolvendo conflitos.
                    </label><br>

                    <!--Alternativa C-->
                    <input type="radio" id="C-alt" name="Alt-question-1"
                    value="O Product Owner é responsável por definir todas as tarefas técnicas e implementar diretamente o código do produto.">
                    <label
                    for="O Product Owner é responsável por definir todas as tarefas técnicas e implementar diretamente o código do produto.">
                    O Product Owner é responsável por definir todas as tarefas técnicas e implementar diretamente o código do produto.
                    </label><br>

                    <!--Alternativa D-->
                    <input type="radio" id="D-alt" name="Alt-question-1" value="O Product Owner atua como uma ponte entre o cliente e o development team, apresentando as tarefas da sprint com base nos requisitos do cliente e validando o trabalho desenvolvido após sua conclusão.">

                    <label for="O Product Owner atua como uma ponte entre o cliente e o development team, apresentando as tarefas da sprint com base nos requisitos do cliente e validando o trabalho desenvolvido após sua conclusão.">
                        O Product Owner atua como uma ponte entre o cliente e o development team, apresentando as tarefas da sprint com base nos requisitos do cliente e validando o trabalho desenvolvido após sua conclusão.
                    </label>
                    <br>
                    <br>


                    <!--Segunda pergunta - Resposta: A-->

                    
                    <li>
                        Qual das seguintes definições corresponde a um dos estágios de um time auto-organizado?
                    </li>

                    <!--Alternativa A-->
                    <input type="radio" id="A-alt" name="Alt-question-2" value="Performing: É o estágio em que o time começa a operar de forma coordenada e com um desempenho satisfatório.">
                    <label for="Performing: É o estágio em que o time começa a operar de forma coordenada e com um desempenho satisfatório.">
                        Performing: É o estágio em que o time começa a operar de forma coordenada e com um desempenho satisfatório.
                    </label><br>

                    <!--Alternativa B-->
                    <input type="radio" id="B-alt" name="Alt-question-2" value="Forming: Refere-se ao período em que o time está passando por ajustes nas funções de seus membros.">
                    <label for="Forming: Refere-se ao período em que o time está passando por ajustes nas funções de seus membros.">
                        Forming: Refere-se ao período em que o time está passando por ajustes nas funções de seus membros.
                    </label><br>

                    <!--Alternativa C-->
                    <input type="radio" id="C-alt" name="Alt-question-2" value="Norming: Representa o momento em que o time enfrenta conflitos internos e pode precisar da intervenção do Scrum para resolvê-los.">
                    <label for="Norming: Representa o momento em que o time enfrenta conflitos internos e pode precisar da intervenção do Scrum para resolvê-los.">
                        Norming: Representa o momento em que o time enfrenta conflitos internos e pode precisar da intervenção do Scrum para resolvê-los.
                    </label><br>

                    <!--Alternativa D-->
                    <input type="radio" id="D-alt" name="Alt-question-2" value="Storming: É quando requisitos de permanência no grupo são estabelecidos.">
                    <label for="Storming: É quando requisitos de permanência no grupo são estabelecidos.">
                        Storming: É quando requisitos de permanência no grupo são estabelecidos.
                    </label><br>
                    <br>


                    <!--Terceira questão - Resposta: D-->
                    <li>
                        Qual a responsabilidade do Facilitador?
                    </li>

                    <!--Alternativa A-->
                    <input type="radio" id="A-alt" name="Alt-question-3" value="Impor suas próprias ideias sem considerar as opiniões dos participantes.">
                    <label for="Impor suas próprias ideias sem considerar as opiniões dos participantes.">
                        Impor suas próprias ideias sem considerar as opiniões dos participantes.
                    </label><br>

                    <!--Alternativa B-->
                    <input type="radio" id="B-alt" name="Alt-question-3" value="Tomar todas as decisões importantes sozinho, para facilitar o processo.">
                    <label for="Tomar todas as decisões importantes sozinho, para facilitar o processo.">
                        Tomar todas as decisões importantes sozinho, para facilitar o processo.
                    </label><br>


                    <!--Alternativa C-->
                    <input type="radio" id="C-alt" name="Alt-question-3" value="Observar passivamente sem intervir, evitando conflitos.">
                    <label for="Observar passivamente sem intervir, evitando conflitos.">
                        Observar passivamente sem intervir, evitando conflitos.
                    </label><br>

                    <!--Alternativa D-->
                    <input type="radio" id="D-alt" name="Alt-question-3" value="Otimizar processos, evitar que o grupo tome decisões erradas, reduzir conflitos e motivá-los.">
                    <label for="Otimizar processos, evitar que o grupo tome decisões erradas, reduzir conflitos e motivá-los.">
                        Otimizar processos, evitar que o grupo tome decisões erradas, reduzir conflitos e motivá-los.
                    </label><br>

                </ol>

            <button data-bs-toggle="modal" data-bs-target="#resultados" type="submit" value="Validar" onclick="submitQuiz()"
                class="btn btn-primary">Validar</button>
            </form>
        </div>
    </section>
    

    <!-- Botão voltar ao topo da página -->
    <div class="container-content d-flex justify-content-center align-items-center flex-wrap">
        <div class="content-block">
            <a href="#" class="BTN-global">
            <i class="bi bi-arrow-up-short"></i>
            </a>
        </div>
    <div class="content-block">
        <a href="/trilha" class="BTN-global" id="btn-return-trail">
            <i class="bi bi-arrow-return-left"></i> Voltar a Trilha
        </a>
    </div>
        <div class="content-block">
            <a href="/Capitulo3" class="BTN-global">
                Avançar 
                <i class="bi bi-arrow-right-short"></i>
            </a>
        </div>
    </div>


    <!--Modal para mostrar os resultados-->
    <!-- Modal -->
    <div class="modal fade" id="resultados" tabindex="-1" role="dialog" aria-labelledby="modal-title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="resultados">
                        Resultados
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                    <div class="modal-body">
                        Você acertou {{score_cap2}} respostas
                    </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>


    <!--Os scripts javascripts estão incluídos-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>


    <!--Serve para mostrar o modal-->
    <script>
    $(document).ready(function () {
    // Verifica se existe um score para mostrar, e se o modal deve ser exibido
    var score = "{{ score_cap2 }}";
    if (score)
    {
        var myModal = new bootstrap.Modal(document.getElementById('resultados'));
        myModal.show();
    }
    });
    </script>


</div>

{% endblock %}

