{% extends 'base.html' %}

{% block pageCss %} {% endblock %}

{% block pageTitle %} Soft Skills e Hard Skills {% endblock %}

{% block pageContent %} 

<div class="container-sm global-container">
    <div class="container-content text-center">
        <div class="content-block">
            <h1 class="TITLE-global">
                Soft Skills e Hard Skills
            </h1>
        </div>
        <p>A palavra “skills” vem do inglês e significa habilidades. No ambiente profissional, podemos dividir as habilidades em duas categorias:</p>
    </div>
    <div class="container-content text-center row">
    	<div class="content-block col-md">
            <h1 class="TITLE-global">
                Soft Skills
            </h1>
         	<p>As soft skills são as habilidades interpessoais que não pode ser comprovada por meio de certificações, mas sim pela convivência diária. 
                Por isso, são difíceis de serem analisadas em um primeiro momento.</p>
            <p>Ex.: Liderança, ética, proatividade, empatia, etc.</p>
        </div>
        <div class="content-block col-md">
            <h1 class="TITLE-global">
                Hard Skills
            </h1>
            <p>As hard skills são competências técnicas obtidas por meio de cursos e treinamentos e que podem ser comprovadas por diplomas e certificados. 
                São requisitos necessários para ocupação de um determinado cargo.</p>
            <p>Ex.: Gestão de equipes, fluência em idiomas estrangeiros, conhecimento em programação, etc.</p>
        </div>
    </div>
    <div class="container-content text-center">
        <div class="content-block">
            <img src="/static/img/storyset/skills-resume.svg" width="35%">
            <p>Embora as hard skills possam ser demonstradas e testadas, as soft skills são mais sutis e são reveladas ao longo do tempo. 
                A combinação dessas habilidades é o que cria um profissional completo. Um bom profissional não é apenas aquele que sabe fazer, mas também quem ele é no ambiente de trabalho.</p>
            <p>As principais diferenças entre elas são: a maneira como é medida, como é adquirida e sua durabilidade. As soft skills não podem ser medidas como as hard skills. É 
                possível medir o conhecimento sobre dado assunto, porém não seria possível medir a liderança de um profissional. Já a maneira como são adquiridas, as hard skills podem
                ser desenvolvidas por cursos, porém não seria possível realizar um curso de empatia e aplicar o comportamento, pois depende de uma mudança interior. E por último, a durabilidade
                de hard skills pode se tornar obsoleta com o tempo, principalmente com novas tecnologias surgindo. Porém um desenvolvimento pessoal não será perdido.
            </p>
        </div>
        
        <div class="container-content d-flex justify-content-center flex-wrap">
            <div class="content-block">
                <a href="#" class="BTN-global">
                    <i class="bi bi-arrow-up-short"></i>
                </a>
            </div>
        
            <div class="content-block">
                <a href="/Conceitos" class="BTN-global">
                    Avançar <i class="bi bi-arrow-right-short"></i>
                </a>
            </div>
          </div>
            
        
    </div>
</div>







{% endblock %}