{% extends 'base.html'%}

{% block pageCss %}
<link rel="stylesheet" href="{{url_for('static' , filename='style/Modulo-2/jogoST.css')}}">
{% endblock %}

{% block pageTitle%} Scrum Team {% endblock %}



{% block pageContent %}

<!-- .:: Início de uma Nova Tela (0) ::. -->
<!-- Introdução -->
<section id="top" class="toggle-section">

    <div class="container-sm global-container">

        <div class="container-content text-center">
            <div class="content-block">
                <h1 class="TITLE-global">
                    Participe do Time de desenvolvimento!
                </h1>
                <p class="subtitle">Jogo Scrum Team </p>
            </div>
        </div>

        <div class="container-content text-center row">
            <div class="content-block col-md-4">
                <img src="{{url_for('static' , filename='img/storyset/Mod2-ST_1.svg')}}" alt=" " class="IMG-global">
            </div>

            <div class="content-block col-md-8">
                <div class="TXT-global-container">
                    <p class="TXT-global">
                        O Scrum Team, ou Time de Desenvolvimento, é um elemento-chave no jogo do método ágil Scrum. Este
                        time, caracterizado por sua auto-organização e multifuncionalidade, trabalha em conjunto para
                        atingir as metas de cada Sprint, entregando incrementos de “Pronto”, versões utilizáveis e
                        potencialmente liberáveis de um produto.
                    </p>
                    <p class="TXT-global">
                        Cada membro do time possui uma habilidade especializada, mas também é capaz de realizar
                        diferentes tipos de tarefas, tarefas essas criadas na Sprint Planning, da qual este jogo se
                        trata!
                        Você e o Time de desenvolvimento irão criar Tasks e SubTasks baseado no Product Backlog. Boa
                        sorte!
                    </p>
                </div>

                <div class="BTN-global" id="btn-return-trail" onclick="toggle_screens(0)"
                    style="background-color: #2E8F2C; color: white !important;">
                    INICIAR
                </div>

            </div>

        </div>

    </div>

</section>

<!-- Conversa Devs -->


<!-- .:: Início de uma Nova Tela (1) ::. -->
<!-- Apresentação dos Dev -->
<section class="toggle-section hidden">

    <h1 class="subtitle">
        Sprint Planning
    </h1>

    <!-- Área dos Devs (Parte de Cima) -->
    <div class="container-lg devs-container">

        <!-- Dev 1 -->
        <div class="row dev-row">

            <div class="container-content text-center row">
                <div class="content-block col-md">
                    <img src="{{url_for('static' , filename='img/storyset/Dev1.svg')}}" alt="" class="dev-img">
                    <img src="{{url_for('static' , filename='img/storyset/Dev2.svg')}}" alt="" class="dev-img">
                    <img src="{{url_for('static' , filename='img/storyset/Dev3.svg')}}" alt="" class="dev-img">
                    <img src="{{url_for('static' , filename='img/storyset/Dev4.svg')}}" alt="" class="dev-img">
                </div>
                <div class="content-block col-md">
                    <hr>
                    <p class="TXT-global">
                        Você e seus 4 colegas de trabalho irão discutir em relação as US escritas pelo PO, com a
                        finalidade de Descrevelás em tarefas menores. Vamos chamar a tarefa principal (derivada da User
                        Story) como Task, e as tarefas adjacentes como SubTask!
                    </p>
                    <hr>
                    <p class="TXT-global">
                        O intuíto da conversa é destrinchar o trabalho em tarefas menores para agilizar e estar sempre
                        em produtividade para o desenvolvimento do projeto, é de suma importancia este passo!
                    </p>
                </div>
            </div>

        </div>

        <!-- Área das Opções (Parte de Baixo) -->
        <div class="container-lg master-container">

            <!-- Área das Alternativas -->
            <div class="row d-flex justify-content-center options-area">

                <!-- Container das Alternativas -->
                <div class="col-lg-6 col-9 options-container">

                    <!-- Alternativa A -->
                    <div onclick="toggle_screens(1)">
                        <button class="btn22" alt="Então...">
                            <i>V</i>
                            <i>a</i>
                            <i>m</i>
                            <i>o</i>
                            <i>s</i>
                            <i>&nbsp;</i>
                            <i>C</i>
                            <i>o</i>
                            <i>m</i>
                            <i>e</i>
                            <i>ç</i>
                            <i>a</i>
                            <i>r</i>
                            <i>!</i>
                            <i>!</i>
                        </button>
                    </div>

                </div>

            </div>

        </div>

</section>

<!-- Apresentando Backlog -->

<!-- .:: Início de uma Nova Tela (2) ::. -->
<section class="toggle-section hidden">

    <!-- Área dos Devs (Parte de Cima) -->
    <div class="container-sm global-container">
        <div class="container-content text-center row">

            <div class="content-block col-md-8">
                <img src="{{url_for('static' , filename='img/cont/burndownapi.png')}}" alt="" class="IMG-global">
                <h1 class="SUB-global">
                    Este é o Backlog do produto, o primeiro e segundo dev iniciará mostrando como criar uma Task e uma
                    Subtask!
                </h1>
            </div>

            <div class="content-block col-md-4">
                <img height="70%" width="70%" src="{{url_for('static' , filename='img/storyset/Dev1.svg')}}" alt=""
                    class="IMG-global">
                <h4 class="dev-name">
                    Dev 1
                </h4>
            </div>
        </div>

        <hr>

        <!-- Área das Opções (Parte de Baixo) -->
        <div class="container-lg master-container">

            <!-- Área das Alternativas -->
            <div class="row d-flex justify-content-center options-area">

                <!-- Container das Alternativas -->
                <div class="col-lg-6 col-9 options-container">

                    <!-- Alternativa A -->
                    <div class="options-card" onclick="toggle_screens(2)">
                        <h1 class="card-text">
                            Beleza! Vamos começar pela primeira User Story?
                        </h1>
                    </div>

                </div>

            </div>

        </div>
    </div>
</section>


<!-- .:: Início de uma Nova Tela (3) ::. -->
<!-- Dev 1 Explicando-->
<section class="toggle-section hidden">

    <!-- Área dos Devs (Parte de Cima) -->
    <div class="container-sm global-container">
        <div class="container-content text-center row">

            <!-- Dev 1 -->

            <!-- Imagem e nome do Dev (Lado Esquerdo) -->
            <div class="content-block col-md">

                <div class="dev-card">
                    <img src="{{url_for('static' , filename='img/storyset/Dev1.svg')}}" alt="" class="IMG-global">
                    <h4 class="dev-name">
                        Dev 1
                    </h4>
                </div>

            </div>

            <!-- Balão de fala do Dev (Lado Direito) -->
            <div class="content-block col-md">
                <div class="speech-bubble">
                    <p class="sb-text">
                        1 - Como cliente externo, ter acesso às principais ferramentas de compra para facilitar a
                        navegação e a usabilidade.
                    </p>
                    <hr>

                    <p class="sb-text">
                        Como nós iremos desenvolver essa história do usuario, precisamos deixar claro para qualquer um
                        que a leia, ter noção do que fazer, como por exemplo: Criar ferramentas de compra visando a
                        facilidade da navegação!
                    </p>
                    <hr>
                    <p class="sb-text">
                        As SubTask servem para indicar o passo a passo do desenvolvimento, você tem alguma ideia de por
                        onde começar?
                    </p>

                </div>
            </div>


        </div>
    </div>

    <!-- Área das Opções (Parte de Baixo) -->
    <div class="container-lg master-container">

        <!-- Área da Pergunta -->
        <div class="row d-flex justify-content-center text-row">
            <div class="col-sm-6 col">

                <!-- Pergunta -->
                <h4 class="master-title text-center">
                    Escolha qual seria o primeiro passo ideal:
                </h4>

            </div>
        </div>

        <!-- Área das Alternativas -->
        <div class="row d-flex justify-content-center options-area">

            <!-- Container das Alternativas -->
            <div class="col-lg-6 col-9 options-container">

                <!-- Alternativa A -->
                <div class="options-card" onclick="toggle_screens(3)">
                    <h6 class="card-title">
                        Alternativa A
                    </h6>

                    <p class="card-text">
                        Conversar com o P.O e listar todas as ferramentas que devem ser implementadas.
                    </p>
                </div>

                <!-- Alternativa B -->
                <div class="options-card">
                    <h6 class="card-title">
                        Alternativa B
                    </h6>

                    <p class="card-text">
                        Criar a pagina web com o conteúdo.
                    </p>
                </div>

                <!-- Alternativa C -->
                <div class="options-card">
                    <h6 class="card-title">
                        Alternativa C
                    </h6>

                    <p class="card-text">
                        Observar outras ferramentas de sites relacionados e adicionar todas as ferramentas deles.
                    </p>
                </div>

            </div>

        </div>

    </div>

</section>

<!-- .:: Início de uma Nova Tela (4) ::. -->
<!-- Dev 2 Explicando-->
<section class="toggle-section hidden">

    <!-- Área dos Devs (Parte de Cima) -->
    <div class="container-sm global-container">
        <div class="container-content text-center row">

            <!-- Dev 2 -->

            <!-- Imagem e nome do Dev (Lado Esquerdo) -->
            <div class="content-block col-md">

                <div class="dev-card">
                    <img src="{{url_for('static' , filename='img/storyset/Dev2.svg')}}" alt="" class="IMG-global">
                    <h4 class="dev-name">
                        Dev 2
                    </h4>
                </div>

            </div>

            <!-- Balão de fala do Dev (Lado Direito) -->
            <div class="content-block col-md">
                <div class="speech-bubble">
                    <p class="sb-text">
                        Ceerto! Precisamos ter certeza que o que vamos desenvolver está de acordo com o que o
                        cliente precisa.
                    </p>
                    <hr>

                    <p class="sb-text">
                        Tive uma idéia da próxima SubTask, Criar o layout da página onde ficarão as ferramentas. O que
                        acha?
                    </p>
                    <hr>
                </div>
            </div>


        </div>
    </div>

    <!-- Área das Opções (Parte de Baixo) -->
    <div class="container-lg master-container">

        <!-- Área da Pergunta -->
        <div class="row d-flex justify-content-center text-row">
            <div class="col-sm-6 col">

                <!-- Pergunta -->
                <h4 class="master-title text-center">
                    Escolha sua resposta:
                </h4>

            </div>
        </div>

        <!-- Área das Alternativas -->
        <div class="row d-flex justify-content-center options-area">

            <!-- Container das Alternativas -->
            <div class="col-lg-6 col-9 options-container">

                <!-- Alternativa A -->
                <div class="options-card">
                    <h6 class="card-title">
                        Alternativa A
                    </h6>

                    <p class="card-text">
                        É uma má ideia, deveriamos escrever o código primeiro.
                    </p>
                </div>

                <!-- Alternativa B -->
                <div class="options-card">
                    <h6 class="card-title">
                        Alternativa B
                    </h6>

                    <p class="card-text">
                        É uma ideia ruim, não acho importante criar o layout.
                    </p>
                </div>

                <!-- Alternativa C -->
                <div class="options-card" onclick="toggle_screens(4)">
                    <h6 class="card-title">
                        Alternativa C
                    </h6>

                    <p class="card-text">
                        É uma boa ideia, e para finalizar, podemos implementar em código as ferramentas finalizando a
                        task!
                    </p>
                </div>

            </div>

        </div>

    </div>

</section>

<!-- .:: Início de uma Nova Tela (5) ::. -->
<section class="toggle-section hidden">

    <!-- Área dos Devs (Parte de Cima) -->
    <div class="container-sm global-container">
        <div class="container-content text-center row">

            <div class="content-block col-md-4">
                <img src="{{url_for('static' , filename='img/storyset/Dev2.svg')}}" alt="" class="IMG-global">
                <h4 class="dev-name">
                    Dev 2
                </h4>
            </div>

            <div class="content-block col-md-8">
                <div class="speech-bubble">
                    <p class="sb-text">
                        Então a primeira US ficou assim:
                    </p>
                    <p class="sb-text">
                        1 - Como cliente externo, ter acesso às principais ferramentas de compra para facilitar a
                        navegação e a usabilidade.
                    </p>

                    <hr>

                    <p class="sb-text">
                        Task - Criar ferramentas de compra visando a facilidade da navegação
                    </p>

                    <hr>

                    <p class="sb-text">
                        SubTask - Conversar com o P.O e listar todas as ferramentas que devem ser implementadas.
                    </p>

                    <p class="sb-text">
                        SubTask - Criar o layout da página onde ficarão as ferramentas.
                    </p>

                    <p class="sb-text">
                        SubTask - Implementar em código as ferramentas finalizando a task.
                    </p>

                </div>

            </div>
        </div>

        <!-- Área das Alternativas -->
        <div class="row d-flex justify-content-center options-area">

            <!-- Container das Alternativas -->
            <div class="col-lg-6 col-9 options-container">

                <!-- Alternativa A -->
                <div class="options-card" onclick="toggle_screens(5)">
                    <h6 class="card-title">
                        Alternativa A
                    </h6>

                    <p class="card-text">
                        Certo! Podemos finalizar esta User Story com todas as subtask prontas. Qual é a segunda US Dev 3?
                    </p>
                </div>

            </div>

        </div>
    </div>
</section>


<!-- .:: Início de uma Nova Tela (6) ::. -->
<section class="toggle-section hidden">

    <!-- Área dos Devs (Parte de Cima) -->
    <div class="container-sm global-container">
        <div class="container-content text-center row">

            <div class="content-block col-md-4">
                <img src="{{url_for('static' , filename='img/storyset/Dev3.svg')}}" alt="" class="IMG-global">
                <h4 class="dev-name">
                    Dev 3
                </h4>
            </div>

            <div class="content-block col-md-8">
                <div class="speech-bubble">
                    <p class="sb-text">
                        A Segunda US é:
                    </p>
                    <hr>
                    <p class="sb-text">
                       2 - Como UX Design, poder criar elementos e uma aparência moderna e chamativa, para cativar os possíveis clientes externos.
                    </p>

                    <hr>

                    <p class="sb-text">
                        Qual seria a Task para poder destrinchar essa US?
                    </p>
                </div>


            </div>
        </div>
    </div>

    <hr>

    <!-- Área das Opções (Parte de Baixo) -->
    <div class="container-lg master-container">

        <!-- Área das Alternativas -->
        <div class="row d-flex justify-content-center options-area">

            <!-- Container das Alternativas -->
            <div class="col-lg-6 col-9 options-container">

                <!-- Alternativa A -->
                <div class="options-card">
                    <h6 class="card-title">
                        Alternativa A
                    </h6>

                    <p class="card-text">
                    
                    </p>
                </div>

                <!-- Alternativa B -->
                <div class="options-card" onclick="toggle_screens(6)">
                    <h6 class="card-title">
                        Alternativa B
                    </h6>

                    <p class="card-text">
                        Criar elementos e uma aparência moderna e chamativa, para cativar os possíveis clientes externos.
                    </p>
                </div>

                <!-- Alternativa C -->
                <div class="options-card">
                    <h6 class="card-title">
                        Alternativa C
                    </h6>

                    <p class="card-text">
                    
                    </p>
                </div>

            </div>

        </div>

    </div>
    </div>
</section>






















<script>

    // Função que troca as telas
    function toggle_screens(n) {

        // Seleciona a tela atual
        let screen = document.getElementsByClassName("toggle-section")[n]
        screen.classList.add('hidden') //Oculta a tela atual

        // Seleciona a próxima tela
        let next_screen = document.getElementsByClassName("toggle-section")[n + 1]
        next_screen.classList.remove('hidden') //Exibe a próxima tela
    }

</script>

{% endblock %}