{% extends 'base.html' %}

{% block pageCss %}

<link rel="stylesheet" href="{{url_for('static', filename='style/jogopo.css')}}"> {% endblock %}

{% block pageTitle%}
{% endblock %}

{% block pageContent %}
<div class="container-content text-center titulo-jogo">
    <h1 class="TITLE-global">Atue como Product Owner</h1>
</div>
<section class="container-sm global-container d-flex bg-chat">
  
    <div class="left-side">
            <div class="container-sm d-flex cliente">
                <!-- aqui dentro vai o icone do cliente e sua fala  -->
                <!-- Elemento 1 -->
                    <img class="scrum-img img-fluid" src="{{url_for('static', filename='img/storyset/Character.svg')}}"
                        alt="img">
                    <div class="balao2">
                        <p class="TXT-global"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet nulla fugiat doloremque beatae eum mollitia sapiente quidem molestiae aut quo neque repudiandae, aperiam tempore, sit illo atque similique suscipit vitae!
                    </div>
            </div>
        <br>

        <div class="container-sm global-container cards-buttons">
            <!-- aqui dentro vão os cards em display flex column -->
            <h1 class="SUB-global"> Qual a melhor resposta?</h1>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Alternativa A</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur. </p>
                </div>
            </div> <br>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Alternativa B</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur. </p>
                </div>
            </div> <br>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Alternativa C</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur. </p>
                </div>
            </div>
        </div>

    </div>

    <div class="container-sm global-container task-list">
        <h1 class="SUB-global">Task-List</h1>
        <p class="TEXT-global">
            Requisito 1
        </p>
        <hr>
        <p class="TEXT-global">
            Requisito 2
        </p>
        <hr>
        <p class="TEXT-global">
            Requisito 3
        </p>
        <hr>
        <p class="TEXT-global">
            Requisito 4
        </p>
        <hr>
        <button type="button" class="validar">Validar <i class="bi bi-check"></i></button>
    </div>

</section>


{% endblock %}