{% extends "base.html" %}

{% block pageCss %}
<link rel="stylesheet" href="{{url_for('static', filename='style/jogobacklog.css')}}">{% endblock %}

{% block pageTitle%} Backlog {% endblock %}

{% block pageContent %}

<div class="container-content titulo-jogo">
    <h1 class="TITLE-global">Desenvolva o seu BackLog</h1>
    <h1 class="TXT-global">A partir dos requisitos encontrados durante a conversa com o cliente na etapa anterior, User Storys foram desenvolvida. Agora, monte o backlog do produto! <br>
        Dica: para colocar uma U.S no backlog, basta arrasta-la para a linha desejada...
    </h1>
</div>
<section class="container-sm global-container d-flex backlog">

    <div class="tabela">
        <div class="linha">
            <div class="item-titulo">
                <h1>Rank</h1>
            </div>
            <div class="item-titulo">
                <h1>Prioridade</h1>
            </div>
            <div class="item-titulo drop-zone">
                <h1>User Story</h1>
            </div>
            <div class="item-titulo">
                <h1>Estimativa</h1>
            </div>
        </div>
        <div class="linha 1">
            <div class="elemento">
                <h1>1</h1>
            </div>
            <div class="elemento">
                <h1>Alta</h1>
            </div>
            <div class="elemento drop-zone d-flex justify-content-center">
            </div>
            <div class="elemento"><select name="" id="estimativa">
                    <option value="">0</option>
                    <option value="">2</option>
                    <option value="">5</option>
                    <option value="">13</option>
                    <option value="">18</option>
                </select></div>
        </div>

        <div class="linha 2">
            <div class="elemento">
                <h1>2</h1>
            </div>
            <div class="elemento">
                <h1>Alta</h1>
            </div>
            <div class="elemento drop-zone d-flex justify-content-center">
            </div>
            <div class="elemento"><select name="" id="estimativa">
                    <option value="">0</option>
                    <option value="">2</option>
                    <option value="">5</option>
                    <option value="">13</option>
                    <option value="">18</option>
                </select></div>
        </div>

        <div class="linha 3">
            <div class="elemento">
                <h1>3</h1>
            </div>
            <div class="elemento">
                <h1>Alta</h1>
            </div>
            <div class="elemento drop-zone d-flex justify-content-center">
            </div>
            <div class="elemento"><select name="" id="estimativa">
                    <option value="">0</option>
                    <option value="">2</option>
                    <option value="">5</option>
                    <option value="">13</option>
                    <option value="">18</option>
                </select></div>
        </div>

        <div class="linha 4">
            <div class="elemento">
                <h1>4</h1>
            </div>
            <div class="elemento">
                <h1>Média</h1>
            </div>
            <div class="elemento drop-zone d-flex justify-content-center">
            </div>
            <div class="elemento"><select name="" id="estimativa">
                    <option value="">0</option>
                    <option value="">2</option>
                    <option value="">5</option>
                    <option value="">13</option>
                    <option value="">18</option>
                </select></div>
        </div>

        <div class="linha 5">
            <div class="elemento">
                <h1>5</h1>
            </div>
            <div class="elemento">
                <h1>Média</h1>
            </div>
            <div class="elemento drop-zone d-flex justify-content-center">
            </div>
            <div class="elemento"><select name="" id="estimativa">
                    <option value="">0</option>
                    <option value="">2</option>
                    <option value="">5</option>
                    <option value="">13</option>
                    <option value="">18</option>
                </select></div>
        </div>

        <div class="linha 6">
            <div class="elemento">
                <h1>6</h1>
            </div>
            <div class="elemento">
                <h1>Média</h1>
            </div>
            <div class="elemento drop-zone d-flex justify-content-center">
            </div>
            <div class="elemento"><select name="" id="estimativa">
                    <option value="">0</option>
                    <option value="">2</option>
                    <option value="">5</option>
                    <option value="">13</option>
                    <option value="">18</option>
                </select></div>
        </div>

        <div class="linha 7">
            <div class="elemento">
                <h1>7</h1>
            </div>
            <div class="elemento">
                <h1>Baixa</h1>
            </div>
            <div class="elemento drop-zone d-flex justify-content-center">
            </div>
            <div class="elemento"><select name="" id="estimativa">
                    <option value="">0</option>
                    <option value="">2</option>
                    <option value="">5</option>
                    <option value="">13</option>
                    <option value="">18</option>
                </select></div>
        </div>


        <div class="linha 8">
            <div class="elemento">
                <h1>8</h1>
            </div>
            <div class="elemento">
                <h1>Baixa</h1>
            </div>
            <div class="elemento drop-zone d-flex justify-content-center">
            </div>
            <div class="elemento"><select name="" id="estimativa">
                    <option value="">0</option>
                    <option value="">2</option>
                    <option value="">5</option>
                    <option value="">13</option>
                    <option value="">18</option>
                </select></div>
        </div>

    </div>

    <div class="cards-requisitos">
        <div class="grupo-requisito">
            <div class="requisito" draggable="true">
                <h1>Como cliente externo, ter acesso as principais ferramentas de compra para facilitar a navegação e a
                    usabilidade.</h1>
            </div>
            <div class="requisito" draggable="true">
                <h1> Como UX Design, poder criar elementos e uma aparência moderna e chamativa, para cativar os
                    possiveis clientes externos</h1>
            </div>
            <div class="requisito" draggable="true">
                <h1>Como Equipe de Desenvolvimento, criar funcionalidades para o Catálogo de livros para melhor busca
                    por filtragem dos usuarios do sistema.</h1>
            </div>
        </div>
        <div class="grupo-requisito">
            <div class="requisito" draggable="true">
                <h1>Como Equipe de Desenvolvimento, criar funcionalidades como o carrinho de compras e o Checkout para o
                    cliente ter facilidade ao utilizar o sistema.</h1>
            </div>
            <div class="requisito" draggable="true">
                <h1>Como Cliente Externo poder acompanhar a situação do meu pedido para garantia do recebimento do
                    produtos
                </h1>
            </div>
            <div class="requisito" draggable="true">
                <h1>Como equipe de desenvolvimetno, automatizar as atualizaçoes em relaçao ao pedido via email para o
                    cliente externo ter os prazos referente as entregas.</h1>
            </div>
        </div>
        <div class="grupo-requisito">
            <div class="requisito" draggable="true">
                <h1>Como Administrador, ter a identidade visual da minha empresa espelhada no site, para padronizar e
                    manter
                    elementos chaves fortalecendo a marca.</h1>
            </div>
            <div class="requisito" draggable="true">
                <h1>Como Desenvolvedor do Sistema, incluir videos ou trailer de alguns lancamentos de livros para
                    enriquecer
                    a experiencia do usuario</h1>
            </div>
        </div>
        <button type="button" class="validar">Validar <i class="bi bi-check"></i></button>
    </div>
</section>

<script>
    const columns = document.querySelectorAll(".drop-zone");

    document.addEventListener("dragstart", (e) => {
        e.target.classList.add("dragging");
    });

    document.addEventListener("dragend", (e) => {
        e.target.classList.remove("dragging");
    });

    columns.forEach((item) => {
        item.addEventListener("dragover", (e) => {
            const dragging = document.querySelector(".dragging");
            const applyAfter = getNewPosition(item, e.clientY);

            if (applyAfter) {
                applyAfter.insertAdjacentElement("afterend", dragging);
            } else {
                item.prepend(dragging);
            }
        });
    });

    function getNewPosition(column, posY) {
        const cards = column.querySelectorAll(".item:not(.dragging)");
        let result;

        for (let refer_card of cards) {
            const box = refer_card.getBoundingClientRect();
            const boxCenterY = box.y + box.height / 2;

            if (posY >= boxCenterY) result = refer_card;
        }

        return result;
    }
</script>
{% endblock %}