{% extends 'base.html' %}

{% block pageCss %}

<link rel="stylesheet" href="{{url_for('static', filename='style/jogopo.css')}}"> {% endblock %}

{% block pageTitle%} Product Owner
{% endblock %}

{% block pageContent %}
<!-- Introdução ao jogo -->
<section id="intro" class="container-sm global-container toggle-section">

    <div class="container-sm global-container">

        <div class="container-content text-center">
            <div class="content-block">
                <h1 class="TITLE-global">
                    Atue como Product Owner!
                </h1>
                <p class="subtitle">Jogo Product Owner </p>
            </div>
        </div>

        <div class="container-content text-center row">
            <div class="content-block col-md-4">
                <img src="{{url_for('static' , filename='img/storyset/jogopo.svg')}}" alt=" " class="IMG-global">
            </div>

            <div class="content-block col-md-8">
                <div class="TXT-global-container">
                    <p class="TXT-global">
                        Bem-vindo ao jogo de simulação interativa, que recria uma conversa típica entre o Product Owner
                        e o Cliente em um processo Scrum. Este exercício visa proporcionar uma experiência realista e
                        imersiva, permitindo que você se coloque no lugar de cada uma dessas importantes funções e
                        compreenda melhor os desafios e dinâmicas envolvidos.

                    </p>
                    <p class="TXT-global">
                        Ao longo deste jogo, você terá a oportunidade de assumir o papel do Product Owner, responsável
                        por definir e priorizar os requisitos do produto, em uma conversa com o Cliente, que apresenta
                        suas necessidades e expectativas.

                    </p>
                    <p class="TXT-global">
                        O objetivo é que, ao final da experiência, você tenha uma melhor compreensão do processo Scrum,
                        da importância da colaboração entre as partes e das habilidades necessárias para uma comunicação
                        produtiva e eficaz entre o Product Owner e o Cliente.

                    </p>
                    <p class="TXT-global">
                        Prepare-se para uma jornada desafiadora, mas enriquecedora, que irá aprimorar suas habilidades
                        no gerenciamento de projetos ágeis. Boa sorte e divirta-se!
                    </p>
                </div>
                <a href="#inicio" class="up-screen">
                    <div class="BTN-global" id="btn-return-trail" onclick="toggle_screens(0)"
                        style="background-color: #2E8F2C; color: white !important;">
                        INICIAR
                    </div>
                </a>
            </div>

        </div>

    </div>

</section>

<!--ROUNDS-->

<!--Inicio-->
<section id="inicio" class="container-sm global-container d-flex bg-chat toggle-section hidden">
    <div class="upside">

        <div class="container-sm d-flex cliente">
            <!-- aqui dentro vai o icone do cliente e sua fala  -->
            <img class="scrum-img img-fluid" src="{{url_for('static', filename='img/storyset/Character.svg')}}"
                alt="img">
            <div class="col-lg-8 bubble-container">
                <div class="speech-bubble">
                    <p class="sb-text">
                        Olá, Product Owner. Eu sou João, representando a empresa XYZ. Nós estamos interessados em
                        desenvolver um website de e-commerce voltado para a venda de livros. Nosso objetivo é criar uma
                        plataforma online onde os nossos clientes possam comprar livros de maneira fácil e conveniente.
                    </p>
                </div>
            </div>
        </div>
        <!--Task list-->
        <div class="container-sm global-container task-list">
            <h1 class="SUB-global">Task-List</h1>
        </div>

    </div>
    <!--Resposta PO clicar-->
    <div class="container-sm global-container cards-buttons">
        <a href="#pergunta-1" class="up-screen">
            <div class="card" onclick="toggle_screens(1)">
                <h5 class="card-title">Resposta:</h5>
                <p class="card-text">Olá João, prazer em conhece-lo! Gostaria de entender melhor algumas informações
                    sobre o seu negócio e os requisitos do projeto. Isso nos ajudará a planejar as próximas etapas de
                    maneira eficiente</p>
            </div>
        </a>
    </div>

</section>

<!--Round 1 Perg 1-->
<section id="pergunta-1" class="container-sm global-container d-flex bg-chat toggle-section hidden">
    <div class="upside">
        <div class="container-sm d-flex cliente">
            <!-- aqui dentro vai o icone do cliente e sua fala  -->
            <img class="scrum-img img-fluid" src="{{url_for('static', filename='img/storyset/Character.svg')}}"
                alt="img">
            <div class="col-lg-8 bubble-container">
                <div class="speech-bubble">
                    <p class="sb-text">
                        Algumas das principais funcionalidades que gostaríamos de ver no website são: catálogo de livros
                        com filtros de pesquisa, carrinho de compras, check-out seguro e painel de acompanhamento de
                        pedidos. Também é importante que o site tenha uma aparência moderna e intuitiva, que facilite a
                        navegação e a experiência do usuário. Temos um público-alvo diversificado, então a usabilidade e
                        a acessibilidade são aspectos cruciais. </p>
                </div>
            </div>
        </div>

        <!--Task list-->
        <div class="container-sm global-container task-list">
            <h1 class="SUB-global">Task-List</h1>
        </div>
    </div>

    <!--Pergunta 1 PO clicar-->
    <div class="container-sm global-container cards-buttons">
        <h1 class="SUB-global">PO: Entendi. Sobre o Catálogo de Livros,...</h1>
        <a href="#pergunta-2" class="up-screen">
            <div class="card" onclick="toggle_screens(2), correct_sound.play()">
                <h5 class="card-title">Alternativa A</h5>
                <p class="card-text">Como você imagina que o catálogo de livros e as opções de pesquisa devem ser
                    organizados e apresentados aos usuários? Você tem alguma preferência em relação à exibição das
                    informações de cada livro, como imagem, sinopse, avaliações, etc.? </p>
            </div>
        </a>
        <div class="card" onclick="wrong_sound.play()">
            <h5 class="card-title">Alternativa B</h5>
            <p class="card-text"> Você acha que seria interessante organizar o catálogo de livros por cores das capas?
            </p>
        </div>
        <div class="card" onclick="wrong_sound.play()">
            <h5 class="card-title">Alternativa C</h5>
            <p class="card-text">Você acha que seria interessante adicionar um sistema de apostas esportivas integrado
                ao catálogo de livros?</p>
        </div>
    </div>
</section>

<!--Round 2 - Resp Perg 1 - US 3 - Perg2-->
<section id="pergunta-2" class="container-sm global-container d-flex bg-chat toggle-section hidden">
    <div class="upside">
        <div class="container-sm d-flex cliente">
            <!-- aqui dentro vai o icone do cliente e sua fala  -->
            <img class="scrum-img img-fluid" src="{{url_for('static', filename='img/storyset/Character.svg')}}"
                alt="img">
            <div class="col-lg-8 bubble-container">
                <div class="speech-bubble">
                    <p class="sb-text">
                        Gostaríamos de ter o catálogo organizado por categorias como gênero, autor, idioma e faixa
                        etária. Além disso, filtros de pesquisa por título, autor, editora, preço e a opção de ordenar
                        os resultados por popularidade, data de lançamento ou classificação média seriam importantes
                        para ajudar os clientes a encontrar os livros desejados. Na exibição de cada livro, queremos
                        incluir a capa, sinopse, avaliações de clientes, informações sobre o autor e disponibilidade em
                        estoque.
                    </p>
                </div>
            </div>
        </div>

        <!--Task list-->
        <div class="container-sm global-container task-list">
            <h1 class="SUB-global">Task-List</h1>
            <p class="TEXT-global">
                1. Criar funcionalidades para o Catálogo de livros para melhor busca por filtragem dos usuarios do
                sistema.
            </p>

        </div>
    </div>

    <!--Pergunta 2 PO clicar-->
    <div class="container-sm global-container cards-buttons">
        <h1 class="SUB-global">PO: Agora sobre Carrinho de Compras e Checkout, ...</h1>
        <div class="card" onclick="wrong_sound.play()">
            <h5 class="card-title">Alternativa A</h5>
            <p class="card-text"> Você acha que seria interessante incluir um sistema de leilão para os produtos no
                carrinho, onde os clientes pudessem disputar os itens?
            </p>
        </div>

        <a href="#pergunta-3" class="up-screen">
            <div class="card" onclick="toggle_screens(3), correct_sound.play()">
                <h5 class="card-title">Alternativa B</h5>
                <p class="card-text"> Que funcionalidades você considera essenciais no carrinho de compras? </p>
            </div>
        </a>

        <div class="card" onclick="wrong_sound.play()">
            <h5 class="card-title">Alternativa C</h5>
            <p class="card-text"> Você acha que seria interessante incluir uma pesquisa de preferência política
                partidária dos clientes durante o processo de finalização da compra? </p>
        </div>
    </div>

</section>

<!--Round 3 - US 1 - Resp Perg 2 - Perg3-->
<section id="pergunta-3" class="container-sm global-container d-flex bg-chat toggle-section hidden">
    <div class="upside">
        <div class="container-sm d-flex cliente">
            <!-- aqui dentro vai o icone do cliente e sua fala  -->
            <img class="scrum-img img-fluid" src="{{url_for('static', filename='img/storyset/Character.svg')}}"
                alt="img">
            <div class="col-lg-8 bubble-container">
                <div class="speech-bubble">
                    <p class="sb-text">
                        No carrinho de compras, gostaríamos que os clientes pudessem adicionar, remover e alterar a
                        quantidade de itens. Também deve exibir o valor total do pedido e a opção de aplicar cupons de
                        desconto.</p>
                </div>
            </div>
        </div>

        <!--Task list-->
        <div class="container-sm global-container task-list">
            <h1 class="SUB-global">Task-List</h1>
            <p class="TEXT-global">
                1. Criar funcionalidades para o Catálogo de livros para melhor busca por filtragem dos usuarios do
                sistema.
            </p>
            <hr>
            <p class="TEXT-global">
                2. Acesso as principais ferramentas de compra para facilitar a navegação e a usabilidade.
            </p>
        </div>

    </div>

    <!--Pergunta 3 PO clicar-->
    <div class="container-sm global-container cards-buttons">
        <h1 class="SUB-global">PO: Ainda sobre Carrinho de Compras e Checkout, ...</h1>
        <a href="#pergunta-4" class="up-screen">
            <div class="card" onclick="toggle_screens(4), correct_sound.play()">
                <h5 class="card-title">Alternativa A</h5>
                <p class="card-text"> Quais etapas você imagina que o processo de checkout deve contemplar para oferecer
                    uma experiência de compra segura e eficiente? Você tem alguma preferência ou requisito específico
                    quanto aos métodos de pagamento que devem ser oferecidos?
                </p>
            </div>
        </a>

        <div class="card" onclick="wrong_sound.play()">
            <h5 class="card-title">Alternativa B</h5>
            <p class="card-text"> Você acha que seria interessante incluir uma opção de pagamento via trocas de serviços
                durante o processo de finalização da compra?
            </p>
        </div>

        <div class="card" onclick="wrong_sound.play()">
            <h5 class="card-title">Alternativa C</h5>
            <p class="card-text">
                Você acha que seria interessante adicionar um minigame ao carrinho de compras para entreter os clientes
                durante o processo de checkout?
            </p>
        </div>

    </div>
</section>

<!--Round 4 - US 4 - Resp perg 3 - Perg 4-->
<section id="pergunta-4" class="container-sm global-container d-flex bg-chat toggle-section hidden">
    <div class="upside">
        <div class="container-sm d-flex cliente">
            <!-- aqui dentro vai o icone do cliente e sua fala  -->
            <img class="scrum-img img-fluid" src="{{url_for('static', filename='img/storyset/Character.svg')}}"
                alt="img">
            <div class="col-lg-8 bubble-container">
                <div class="speech-bubble">
                    <p class="sb-text">
                        No processo de checkout, seria essencial ter etapas como seleção de endereço de entrega, escolha
                        do método de pagamento e confirmação do pedido.

                        Quanto aos métodos de pagamento, é importante oferecer as principais bandeiras de cartão de
                        crédito, além de outras opções como boleto bancário e PIX.
                    </p>
                </div>
            </div>
        </div>

        <!--Task list-->
        <div class="container-sm global-container task-list">
            <h1 class="SUB-global">Task-List</h1>
            <p class="TEXT-global">
                1. Criar funcionalidades para o Catálogo de livros para melhor busca por filtragem dos usuarios do
                sistema.
            </p>
            <hr>
            <p class="TEXT-global">
                2. Acesso as principais ferramentas de compra para facilitar a navegação e a usabilidade.
            </p>
            <hr>
            <p class="TEXT-global">
                3. criar funcionalidades como o carrinho de compras e o Checkout para o cliente ter facilidade ao
                utilizar o sistema.
            </p>
        </div>

    </div>

    <!--Pergunta 4 PO clicar-->
    <div class="container-sm global-container cards-buttons">
        <h1 class="SUB-global">PO: Certo, sobre o acompanhamento dos pedidos, ...</h1>
        <div class="card" onclick="wrong_sound.play()">
            <h5 class="card-title">Alternativa A</h5>
            <p class="card-text"> Você acha que seria interessante adicionar um sistema de jogos de azar no painel de
                acompanhamento de pedidos, onde os clientes pudessem apostar na entrega dos seus produtos? </p>
        </div>

        <div class="card" onclick="wrong_sound.play()">
            <h5 class="card-title">Alternativa B</h5>
            <p class="card-text"> Você acha que seria interessante incluir uma funcionalidade de doação para
                organizações políticas no painel de acompanhamento de pedidos dos clientes?
            </p>
        </div>

        <a href="#pergunta-5" class="up-screen">
            <div class="card" onclick="toggle_screens(5), correct_sound.play()">
                <h5 class="card-title">Alternativa C</h5>
                <p class="card-text"> Que informações você considera essenciais no painel de acompanhamento de pedidos
                    dos clientes?
                </p>
            </div>
        </a>

    </div>
</section>

<!--Round 5 - US 5 - Resp perg 4 - Perg 5-->
<section id="pergunta-5" class="container-sm global-container d-flex bg-chat toggle-section hidden">
    <div class="upside">
        <div class="container-sm d-flex cliente">
            <!-- aqui dentro vai o icone do cliente e sua fala  -->
            <img class="scrum-img img-fluid" src="{{url_for('static', filename='img/storyset/Character.svg')}}"
                alt="img">
            <div class="col-lg-8 bubble-container">
                <div class="speech-bubble">
                    <p class="sb-text">
                        No painel de acompanhamento, gostaríamos que os clientes pudessem visualizar o status do pedido
                        (processando, enviado, entregue), a data prevista de entrega e mais informações sobre o frete.
                    </p>
                </div>
            </div>
        </div>

        <!--Task list-->

        <div class="container-sm global-container task-list">
            <h1 class="SUB-global">Task-List</h1>
            <p class="TEXT-global">
                1. Criar funcionalidades para o Catálogo de livros para melhor busca por filtragem dos usuarios do
                sistema.
            </p>
            <hr>
            <p class="TEXT-global">
                2. Acesso as principais ferramentas de compra para facilitar a navegação e a usabilidade.
            </p>
            <hr>
            <p class="TEXT-global">
                3. criar funcionalidades como o carrinho de compras e o Checkout para o cliente ter facilidade ao
                utilizar o sistema.

            </p>
            <hr>
            <p class="TEXT-global">
                4. Acompanhar a situação do meu pedido para garantia do recebimento do produtos
            </p>
        </div>
    </div>
    </div>

    <!--Pergunta PO 5 clicar-->
    <div class="container-sm global-container cards-buttons">
        <h1 class="SUB-global">PO: Ainda sobre o acompanhamento dos pedidos….., ... </h1>
        <div class="card" onclick="wrong_sound.play()">
            <h5 class="card-title">Alternativa A</h5>
            <p class="card-text"> Você acha que seria interessante incluir uma funcionalidade de adoção de animais de
                estimação no painel de acompanhamento de pedidos, onde os clientes pudessem adotar diferentes tipos de
                animais durante o processo?
            </p>
        </div>

        <a href="#pergunta-6" class="up-screen">
            <div class="card" onclick="toggle_screens(6), correct_sound.play()">
                <h5 class="card-title">Alternativa B</h5>
                <p class="card-text"> Você imagina alguma funcionalidade específica que possa melhorar a transparência e
                    a satisfação dos clientes durante o processo de compra, como comunicação sobre o status dos pedidos?
                </p>
            </div>
        </a>

        <div class="card" onclick="wrong_sound.play()">
            <h5 class="card-title">Alternativa C</h5>
            <p class="card-text"> Você acha que seria interessante incluir uma funcionalidade de contato direto com o
                CEO da empresa no processo de checkout, onde os clientes pudessem ligar e conversar com ele sobre seus
                pedidos?
            </p>
        </div>
    </div>

</section>

<!--Round 6 - US 6 - Resp perg 5 - Perg 6-->
<section id="pergunta-6" class="container-sm global-container d-flex bg-chat toggle-section hidden">
    <div class="upside">
        <div class="container-sm d-flex cliente">
            <!-- aqui dentro vai o icone do cliente e sua fala  -->
            <img class="scrum-img img-fluid" src="{{url_for('static', filename='img/storyset/Character.svg')}}"
                alt="img">
            <div class="col-lg-8 bubble-container">
                <div class="speech-bubble">
                    <p class="sb-text">
                        Sim, é importante ter a opção de o cliente entrar em contato com o serviço de atendimento para
                        tirar dúvidas ou reportar problemas com o pedido. Além disso, uma funcionalidade que pode
                        melhorar a experiência é a possibilidade de o cliente receber atualizações por e-mail ou
                        notificações sobre o status do seu pedido, mantendo-o informado durante todo o processo.
                    </p>
                </div>
            </div>
        </div>

        <!--Task list-->
        <div class="container-sm global-container task-list">
            <h1 class="SUB-global">Task-List</h1>
            <div class="us d-flex">
                <div class="column-1">
                    <p class="TEXT-global">
                        1. Criar funcionalidades para o Catálogo de livros para melhor busca por filtragem dos usuarios
                        do sistema.
                    </p>
                    <hr>
                    <p class="TEXT-global">
                        2. Acesso as principais ferramentas de compra para facilitar a navegação e a usabilidade.
                    </p>
                    <hr>
                    <p class="TEXT-global">
                        3. criar funcionalidades como o carrinho de compras e o Checkout para o cliente ter facilidade
                        ao utilizar o sistema.
                    </p>
                    <hr>
                    <p class="TEXT-global">
                        4. Acompanhar a situação do meu pedido para garantia do recebimento do produtos
                    </p>
                </div>
                <div class="column-2">
                    <p class="TEXT-global">
                        5. Automatizar as atualizaçoes em relaçao ao pedido via email para o cliente externo ter os
                        prazos referente as entregas.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!--Pergunta PO 6 clicar-->
    <div class="container-sm global-container cards-buttons">
        <h1 class="SUB-global">PO: Ótimo, sobre o design ...</h1>
        <div class="card" onclick="wrong_sound.play()">
            <h5 class="card-title">Alternativa A</h5>
            <p class="card-text"> Você acha que seria interessante utilizar uma paleta de cores com tons neon e efeitos
                de luz pulsante no design do website, a fim de chamar mais a atenção dos clientes?
            </p>
        </div>

        <a href="#pergunta-7" class="up-screen">
            <div class="card" onclick="toggle_screens(7), correct_sound.play()">
                <h5 class="card-title">Alternativa B</h5>
                <p class="card-text"> Você tem alguma preferência ou sugestão em relação à paleta de cores e ao
                    alinhamento do design do website com a identidade visual da empresa?
                </p>
            </div>
        </a>


        <div class="card" onclick="wrong_sound.play()">
            <h5 class="card-title">Alternativa C</h5>
            <p class="card-text"> Você acha que seria uma boa ideia ter um layout assimétrico e caótico no website,
                com
                elementos flutuantes e sobrepostos, para criar uma sensação de dinamismo e movimento?
            </p>
        </div>

    </div>

</section>

<!--Round 7 US 7 US 2 - Resp perg 6 - perg 7-->
<section id="pergunta-7" class="container-sm global-container d-flex bg-chat toggle-section hidden">
    <div class="upside">
        <div class="container-sm d-flex cliente">
            <!-- aqui dentro vai o icone do cliente e sua fala  -->
            <img class="scrum-img img-fluid" src="{{url_for('static', filename='img/storyset/Character.svg')}}"
                alt="img">
            <div class="col-lg-8 bubble-container">
                <div class="speech-bubble">
                    <p class="sb-text">
                        Sim, gostaríamos de manter uma paleta de cores limpa e elegante, com predominância de tons
                        neutros como branco, cinza e preto, combinados com alguns toques de cores secundárias, como azul
                        ou verde, para dar maior destaque aos produtos. Além disso, é essencial que o design do website
                        esteja em harmonia com a identidade visual da nossa empresa, mantendo elementos-chave, como
                        logotipo, cores e estilo, para criar uma experiência coerente e fortalecer nossa marca.
                    </p>
                </div>
            </div>
        </div>

        <!--Task list-->
        <div class="container-sm global-container task-list">
            <h1 class="SUB-global">Task-List</h1>
            <div class="us d-flex">
                <div class="column-1">
                    <p class="TEXT-global">
                        1. Criar funcionalidades para o Catálogo de livros para melhor busca por filtragem dos usuarios
                        do sistema.
                    </p>
                    <hr>
                    <p class="TEXT-global">
                        2. Acesso as principais ferramentas de compra para facilitar a navegação e a usabilidade.
                    </p>
                    <hr>
                    <p class="TEXT-global">
                        3. criar funcionalidades como o carrinho de compras e o Checkout para o cliente ter facilidade
                        ao utilizar o sistema.

                    </p>
                    <hr>
                    <p class="TEXT-global">
                        4. Acompanhar a situação do meu pedido para garantia do recebimento do produtos
                    </p>
                </div>
                <div class="column-2">
                    <p class="TEXT-global">
                        5. Automatizar as atualizaçoes em relaçao ao pedido via email para o cliente externo ter os
                        prazos referente as entregas.
                    </p>
                    <hr>
                    <p class="TEXT-global">
                        6. Ter a identidade visual da empresa espelhada no site, para padronizar e manter elementos
                        chaves fortalecendo a marca.
                    </p>
                    <hr>
                    <p class="TEXT-global">
                        7. Criar elementos e uma aparência moderna e chamativa, para cativar os possiveis clientes
                        externos.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!--Pergunta PO 7 clicar-->
    <div class="container-sm global-container cards-buttons">
        <h1 class="SUB-global">PO: Certo, ainda sobre o design, ... </h1>
        <a href="#pergunta-8" class="up-screen">
            <div class="card" onclick="toggle_screens(8), correct_sound.play()">
                <h5 class="card-title">Alternativa A</h5>
                <p class="card-text"> Qual a sua expectativa em relação ao uso de imagens e outros elementos multimídia
                    no website?
                </p>
            </div>
        </a>

        <div class="card" onclick="wrong_sound.play()">
            <h5 class="card-title">Alternativa B</h5>
            <p class="card-text"> Você acha que seria interessante incluir vídeos com conteúdo violento e sangrento em
                todas as páginas do website, para criar uma atmosfera mais intensa e impactante?
            </p>
        </div>

            <div class="card" onclick="wrong_sound.play()">
                <h5 class="card-title">Alternativa C</h5>
                <p class="card-text"> Você acha que seria interessante incluir GIFs animados com conteúdo humorístico e
                    irônico em todas as páginas do website, para deixar a experiência do usuário mais divertida?
                </p>
            </div>

    </div>

</section>

<!--Fala de finalização PO Round 8-->
<section id="finalizacao" class="container-sm global-container d-flex bg-chat toggle-section hidden">
    <div class="upside">
        <div class="container-sm d-flex cliente">
            <!-- aqui dentro vai o icone do cliente e sua fala  -->
            <img class="scrum-img img-fluid" src="{{url_for('static', filename='img/storyset/Character.svg')}}"
                alt="img">
            <div class="col-lg-8 bubble-container">
                <div class="speech-bubble">
                    <p class="sb-text">
                        É muito importante que as imagens dos livros sejam de alta qualidade e destaquem bem as capas e
                        detalhes dos produtos. Além disso, seria interessante incluir pequenos vídeos ou trailers de
                        alguns lançamentos, para enriquecer a experiência do usuário.
                    </p>
                </div>
            </div>
        </div>

        <div class="container-sm global-container task-list">
            <h1 class="SUB-global">Task-List</h1>
            <div class="us d-flex">
                <div class="column-1">
                    <p class="TEXT-global">
                        1. Criar funcionalidades para o Catálogo de livros para melhor busca por filtragem dos usuarios
                        do sistema.
                    </p>
                    <hr>
                    <p class="TEXT-global">
                        2. Acesso as principais ferramentas de compra para facilitar a navegação e a usabilidade.
                    </p>
                    <hr>
                    <p class="TEXT-global">
                        3. criar funcionalidades como o carrinho de compras e o Checkout para o cliente ter facilidade
                        ao utilizar o sistema.

                    </p>
                    <hr>
                    <p class="TEXT-global">
                        4. Acompanhar a situação do meu pedido para garantia do recebimento do produtos
                    </p>
                </div>
                <div class="column-2">
                    <p class="TEXT-global">
                        5. Automatizar as atualizaçoes em relaçao ao pedido via email para o cliente externo ter os
                        prazos referente as entregas.
                    </p>
                    <hr>
                    <p class="TEXT-global">
                        6. Ter a identidade visual da empresa espelhada no site, para padronizar e manter elementos
                        chaves fortalecendo a marca.
                    </p>
                    <hr>
                    <p class="TEXT-global">
                        7. Criar elementos e uma aparência moderna e chamativa, para cativar os possiveis clientes
                        externos.
                    </p>
                    <hr>
                    <p class="TEXT-global">
                        8. incluir videos ou trailer de alguns lancamentos de livros para enriquecer a experiencia do
                        usuario.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-sm global-container cards-buttons">

        <a href="#final" class="up-screen">
            <div class="card" onclick="toggle_screens(9)">
                <h5 class="card-title">Resposta:</h5>
                <p class="card-text">Perfeito, essas informações são muito importantes para que possamos definir um
                    plano de desenvolvimento adequado. Vou anotar todos esses detalhes e, em seguida, compartilharei uma
                    proposta inicial com você, contemplando o escopo, o cronograma e os próximos passos.
                </p>
            </div>
        </a>

    </div>
</section>


<!--Ultima resposta do Cliente Round 9-->
<section id="final" class="container-sm global-container d-flex bg-chat toggle-section ">
    <div class="upside">
        <div class="container-sm d-flex cliente">
            <!-- aqui dentro vai o icone do cliente e sua fala  -->
            <img class="scrum-img img-fluid" src="{{url_for('static', filename='img/storyset/Character.svg')}}"
                alt="img">
            <div class="col-lg-8 bubble-container">
                <div class="speech-bubble">
                    <p class="sb-text">
                        Excelente. Estou ansioso para ver a sua proposta. Tenho certeza de que poderemos trabalhar
                        juntos de forma produtiva para entregar este projeto com sucesso.
                    </p>
                </div>
            </div>
        </div>

        <!--Task list-->
        <div class="container-sm global-container task-list">
            <h1 class="SUB-global">Task-List</h1>
            <div class="us d-flex">
                <div class="column-1">
                    <p class="TEXT-global">
                        1. Criar funcionalidades para o Catálogo de livros para melhor busca por filtragem dos usuarios
                        do sistema.
                    </p>
                    <hr>
                    <p class="TEXT-global">
                        2. Acesso as principais ferramentas de compra para facilitar a navegação e a usabilidade.
                    </p>
                    <hr>
                    <p class="TEXT-global">
                        3. criar funcionalidades como o carrinho de compras e o Checkout para o cliente ter facilidade
                        ao utilizar o sistema.
                    </p>
                    <hr>
                    <p class="TEXT-global">
                        4. Acompanhar a situação do meu pedido para garantia do recebimento do produtos
                    </p>
                </div>
                <div class="column-2">
                    <p class="TEXT-global">
                        5. Automatizar as atualizaçoes em relaçao ao pedido via email para o cliente externo ter os
                        prazos referente as entregas.
                    </p>
                    <hr>
                    <p class="TEXT-global">
                        6. Ter a identidade visual da empresa espelhada no site, para padronizar e manter elementos
                        chaves fortalecendo a marca.
                    </p>
                    <hr>
                    <p class="TEXT-global">
                        7. Criar elementos e uma aparência moderna e chamativa, para cativar os possiveis clientes
                        externos.
                    </p>
                    <hr>
                    <p class="TEXT-global">
                        8. incluir videos ou trailer de alguns lancamentos de livros para enriquecer a experiencia do
                        usuario.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="botao-validar botao-1">
        <a href="/jogoBacklog">
            <button type="button" class="validar">Validar<i class="bi bi-check"></i></button>
        </a>
    </div>

    <div class="botao-validar botao-2">
        <a href="/trilha">
            <button type="button" class="validar">Validar<i class="bi bi-check"></i></button>
        </a>
    </div>
</section>

<script>
    function toggle_screens(n) {

        let screen = document.getElementsByClassName("toggle-section")[n]
        screen.classList.add('hidden')

        let next_screen = document.getElementsByClassName("toggle-section")[n + 1]
        next_screen.classList.remove('hidden')
    }

    var correct_sound = new Audio();
    correct_sound.src = "{{ url_for('static', filename='sounds/correct-answer.mp3')}}";

    var wrong_sound = new Audio();
    wrong_sound.src = "{{ url_for('static', filename='sounds/wrong-answer.mp3')}}"
</script>
{% endblock %}