{% extends 'base.html'%}

{% block pageCss %} 
    <link rel="stylesheet" href="{{url_for('static' , filename='style/Modulo-2/jogoSM.css')}}">
{% endblock %}

{% block pageTitle%} Scrum Master {% endblock %}




<!-- Conteúdo -->
{% block pageContent %}


<!-- .:: Início de uma Nova Tela (0) ::. -->
<!-- Introdução -->
<section class="toggle-section">

    <div class="container-sm global-container">

        <div class="container-content text-center">
            <div class="content-block">
                <h1 class="TITLE-global">
                    Seja um Scrum Master!
                </h1>
            </div>
        </div>
            
        <div class="container-content text-center row">
            <div class="content-block col-md-4">
                <img src="{{url_for('static' , filename='img/storyset/Select-amico.svg')}}" alt=" " class="IMG-global">
            </div>

            <div class="content-block col-md-8">
                <div class="TXT-global-container">
                    <p class="TXT-global">
                        Bem-vindo ao mundo dinâmico e desafiador do Scrum Master! Neste jogo, você terá a oportunidade única de mergulhar no papel essencial de um Scrum Master, liderando uma equipe em busca da excelência no desenvolvimento ágil de software.
                    </p>
                    <p class="TXT-global">
                        Esteja pronto para aprender e adaptar-se com sabedoria enquanto você se aventura neste desafio. Boa sorte!
                    </p>
                </div>

                <div class="BTN-global" id="btn-return-trail" onclick="toggle_screens(0)" style="background-color: #2E8F2C; color: white !important;">
                    INICIAR
                </div>

            </div>

        </div>
        
    </div>

</section>


<!-- PRIMEIRO TURNO -->


<!-- .:: Início de uma Nova Tela (1) ::. -->
<!-- perguntas da daily 1 pro dev 1 -->
<section class="toggle-section hidden">
    
    <!-- Dia da Daily (Turno) -->
    <h1 class="day-display first-daily-display">
        Daily do Primeiro Dia
    </h1>

    <!-- Área dos Devs (Parte de Cima) -->
    <div class="container-lg devs-container">

        <!-- Dev 1 -->
        <div class="row dev-row disabled">

            <!-- Imagem e nome do Dev (Lado Esquerdo) -->
            <div class="col-3">
                <div class="dev-card">
                    <img src="{{url_for('static' , filename='img/storyset/Eyes-amico.svg')}}" alt="" class="dev-img">
                    <h4 class="dev-name">
                        Dev 1
                    </h4>
                </div>
            </div>

            <!-- Balão de fala do Dev (Lado Direito) -->
            <div class="col-lg-6 col-9 bubble-container">
                <div class="speech-bubble">
                    <p class="sb-text">

                    </p>
                </div>
            </div>

        </div>

    </div>
    
    <!-- Área das Opções (Parte de Baixo) -->
    <div class="container-lg master-container">

        <!-- Área da Pergunta -->
        <div class="row d-flex justify-content-center text-row">
            <div class="col-sm-6 col">

                <!-- Pergunta -->
                <h4 class="master-title text-center">
                    Como um Scrum Master: Faça as perguntas da Daily 1!
                </h4>
                
            </div>
        </div>

        <!-- Área das Alternativas -->
        <div class="row d-flex justify-content-center options-area">

            <!-- Container das Alternativas -->
            <div class="col-lg-6 col-9 options-container">

                <!-- Alternativa A -->
                <div class="options-card" onclick="toggle_screens(1)">
                    <h6 class="card-title">
                        Alternativa A
                    </h6>

                    <p class="card-text">
                        Olá Dev 1, vamos conversar sobre o andamento da sua parte no projeto! O que você fez ontem? O que planeja fazer hoje? Há algum impedimento?
                    </p>
                </div>

            </div>

        </div>

    </div>

</section>


<!-- .:: Início de uma Nova Tela (2) ::. -->
<!-- resposta do dev 1 -->
<section class="toggle-section hidden">

    <!-- Dia da Daily (Turno) -->
    <h1 class="day-display">
        Daily do Primeiro Dia
    </h1>

    <!-- Área dos Devs (Parte de Cima) -->
    <div class="container-lg devs-container">

        <!-- Dev 1 -->
        <div class="row dev-row">

            <!-- Imagem e nome do Dev (Lado Esquerdo) -->
            <div class="col-3">
                <div class="dev-card">
                    <img src="{{url_for('static' , filename='img/storyset/Eyes-amico.svg')}}" alt="" class="dev-img">
                    <h4 class="dev-name">
                        Dev 1
                    </h4>
                </div>
            </div>

            <!-- Balão de fala do Dev (Lado Direito) -->
            <div class="col-lg-6 col-9 bubble-container">
                <div class="speech-bubble">
                    <p class="sb-text">
                        Minha parte é fazer a NaveBar e o Footer responsivos do site. Ontem fiz a NavBar, e hoje irei fazer o Footer, não há impedimentos ou dúvidas.
                    </p>
                </div>
            </div>
        </div>

    </div>
       
    <!-- Área das Opções (Parte de Baixo) -->
    <div class="container-lg master-container">
        
        <!-- Área da Pergunta -->
        <div class="row d-flex justify-content-center text-row">
            <div class="col-sm-6 col">

                <!-- Pergunta -->
                <h4 class="master-title text-center">
                    Responda sobre o desempenho:
                </h4>
                
            </div>
        </div>

        <!-- Área das Alternativas -->
        <div class="row d-flex justify-content-center options-area">

            <!-- Container das Alternativas -->
            <div class="col-lg-6 col-9 options-container">

                <!-- Alternativa A -->
                <div class="options-card" onclick="toggle_screens(2)">
                    <h6 class="card-title">
                        Alternativa A
                    </h6>

                    <p class="card-text">
                        Ótimo desempenho Dev 1! Dispensado.
                    </p>
                </div>

            </div>

        </div>

    </div>

</section>


<!-- .:: Início de uma Nova Tela (3) ::. -->
<!-- pergunta da daily pro dev 2 -->
<section class="toggle-section hidden">
    
    <!-- Dia da Daily (Turno) -->
    <h1 class="day-display">
        Daily do Primeiro Dia
    </h1>

    <!-- Área dos Devs (Parte de Cima) -->
    <div class="container-lg devs-container">

        <!-- Dev 2 -->
        <div class="row dev-row disabled">

            <!-- Imagem e nome do Dev (Lado Esquerdo) -->
            <div class="col-3">
                <div class="dev-card">
                    <img src="{{url_for('static' , filename='img/storyset/Eyes-pana.svg')}}" alt="" class="dev-img">
                    <h4 class="dev-name">
                        Dev 2
                    </h4>
                </div>
            </div>

            <!-- Balão de fala do Dev (Lado Direito) -->
            <div class="col-lg-6 col-9 bubble-container">
                <div class="speech-bubble">
                    <p class="sb-text">

                    </p>
                </div>
            </div>
        </div>

    </div>
    
    <!-- Área das Opções (Parte de Baixo) -->
    <div class="container-lg master-container">

        <!-- Área da Pergunta -->
        <div class="row d-flex justify-content-center text-row">
            <div class="col-sm-6 col">

                <!-- Pergunta -->
                <h4 class="master-title text-center">
                    Faça as perguntas da Daily
                </h4>
                
            </div>
        </div>

        <!-- Área das Alternativas -->
        <div class="row d-flex justify-content-center options-area">

            <!-- Container das Alternativas -->
            <div class="col-lg-6 col-9 options-container">

                <!-- Alternativa A -->
                <div class="options-card" onclick="toggle_screens(3)">
                    <h6 class="card-title">
                        Alternativa A
                    </h6>

                    <p class="card-text">
                        Olá Dev 2, vamos conversar sobre o andamento da sua parte no projeto! O que você fez ontem? O que planeja fazer hoje? Há algum impedimento?
                    </p>
                </div>

            </div>

        </div>

    </div>

</section>


<!-- .:: Início de uma Nova Tela (4) ::. -->
<!-- resposta do dev 2 (problema de sobrecarga)-->
<section class="toggle-section hidden">
    
    <!-- Dia da Daily (Turno) -->
    <h1 class="day-display">
        Daily do Primeiro Dia
    </h1>

    <!-- Área dos Devs (Parte de Cima) -->
    <div class="container-lg devs-container">

        <!-- Dev 2 -->
        <div class="row dev-row">

            <!-- Imagem e nome do Dev (Lado Esquerdo) -->
            <div class="col-3">
                <div class="dev-card">
                    <img src="{{url_for('static' , filename='img/storyset/Eyes-pana.svg')}}" alt="" class="dev-img">
                    <h4 class="dev-name">
                        Dev 2
                    </h4>
                </div>
            </div>

            <!-- Balão de fala do Dev (Lado Direito) -->
            <div class="col-lg-6 col-9 bubble-container">
                <div class="speech-bubble">
                    <p class="sb-text">
                        Minha parte é fazer a Homepage e o cadastro dos livros no banco de dados. Ontem eu comecei o cadastro dos livros, mas são muitos, então hoje planejo continuar. Meu impedimento nessa sprint é não conseguir entregar a homepage no prazo, pois estou utilizando muito tempo e esforço na primeira tarefa. Acho que me sobrecarreguei 😓
                    </p>
                </div>
            </div>
        </div>

    </div>
    
    <!-- Área das Opções (Parte de Baixo) -->
    <div class="container-lg master-container">

        <!-- Área da Pergunta -->
        <div class="row d-flex justify-content-center text-row">
            <div class="col-sm-6 col">

                <!-- Pergunta -->
                <h4 class="master-title text-center">
                    Como Scrum Master qual a melhor opção para solucionar esse problema? 
                </h4>
                
            </div>
        </div>

        <!-- Área das Alternativas -->
        <div class="row d-flex justify-content-center options-area">

            <!-- Container das Alternativas -->
            <div class="col-lg-6 col-9 options-container">

                <!-- Alternativa A -->
                <div class="options-card" onclick="wrong_sound.play()">
                    <h6 class="card-title">
                        Alternativa A
                    </h6>

                    <p class="card-text">
                        Aconselhar o Dev a se esforçar mais e terminar a tarefa logo.
                    </p>
                </div>

                <!-- Alternativa B -->
                <div class="options-card" onclick="toggle_screens(4), correct_sound.play()">
                    <h6 class="card-title">
                        Alternativa B
                    </h6>

                    <p class="card-text">
                        Distribuir a tarefa da homepage ao Dev 1, que já esta adiantado, para ajuda-lo, e tornar o processo ágil.
                    </p>
                </div>

                <!-- Alternativa C -->
                <div class="options-card" onclick="wrong_sound.play()">
                    <h6 class="card-title">
                        Alternativa C
                    </h6>

                    <p class="card-text">
                        Sugerir que gaste menos tempo na tarefa de cadastro e comece a homepage.
                    </p>
                </div>

            </div>

        </div>

    </div>

</section>


<!-- .:: Início de uma Nova Tela (5) ::. -->
<!-- Dev 1 aceita ajudar Dev 2 -->
<section class="toggle-section hidden">
    
    <!-- Dia da Daily (Turno) -->
    <h1 class="day-display">
        Daily do Primeiro Dia
    </h1>
    
    <!-- Área dos Devs (Parte de Cima) -->
    <div class="container-lg devs-container">

        <!-- Dev 1 -->
        <div class="row dev-row">

            <!-- Imagem e nome do Dev (Lado Esquerdo) -->
            <div class="col-3">
                <div class="dev-card">
                    <img src="{{url_for('static' , filename='img/storyset/Eyes-amico.svg')}}" alt="" class="dev-img">
                    <h4 class="dev-name">
                        Dev 1
                    </h4>
                </div>
            </div>

            <!-- Balão de fala do Dev (Lado Direito) -->
            <div class="col-lg-6 col-9 bubble-container">
                <div class="speech-bubble">
                    <p class="sb-text">
                        É claro que ajudo!
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Área das Opções (Parte de Baixo) -->
    <div class="container-lg master-container">
        
        <!-- Área da Pergunta -->
        <div class="row d-flex justify-content-center text-row">
            <div class="col-sm-6 col">

                <!-- Pergunta -->
                <h4 class="master-title text-center">
                    Resposta
                </h4>
                
            </div>
        </div>

        <!-- Área das Alternativas -->
        <div class="row d-flex justify-content-center options-area">

            <!-- Container das Alternativas -->
            <div class="col-lg-6 col-9 options-container">

                <!-- Alternativa A -->
                <div class="options-card" onclick="toggle_screens(5)">
                    <h6 class="card-title">
                        Alternativa A
                    </h6>

                    <p class="card-text">
                        Ótimo, agradeço a ajuda Dev 1!
                    </p>
                </div>

            </div>

        </div>

    </div>

</section>


<!-- .:: Início de uma Nova Tela (6) ::. -->
<!-- pergunta da daily pro dev 3 -->
<section class="toggle-section hidden">
    
    <!-- Dia da Daily (Turno) -->
    <h1 class="day-display">
        Daily do Primeiro Dia
    </h1>

    <!-- Área dos Devs (Parte de Cima) -->
    <div class="container-lg devs-container">

        <!-- Dev 3 -->
        <div class="row dev-row disabled">

            <!-- Imagem e nome do Dev (Lado Esquerdo) -->
            <div class="col-3">
                <div class="dev-card">
                    <img src="{{url_for('static' , filename='img/storyset/Eyes-cuate.svg')}}" alt="" class="dev-img">
                    <h4 class="dev-name">
                        Dev 3
                    </h4>
                </div>
            </div>

            <!-- Balão de fala do Dev (Lado Direito) -->
            <div class="col-lg-6 col-9 bubble-container">
                <div class="speech-bubble">
                    <p class="sb-text">

                    </p>
                </div>
            </div>
        </div>

    </div>
    
    <!-- Área das Opções (Parte de Baixo) -->
    <div class="container-lg master-container">

        <!-- Área da Pergunta -->
        <div class="row d-flex justify-content-center text-row">
            <div class="col-sm-6 col">

                <!-- Pergunta -->
                <h4 class="master-title text-center">
                    Faça as perguntas da Daily
                </h4>
                
            </div>
        </div>

        <!-- Área das Alternativas -->
        <div class="row d-flex justify-content-center options-area">

            <!-- Container das Alternativas -->
            <div class="col-lg-6 col-9 options-container">

                <!-- Alternativa A -->
                <div class="options-card" onclick="toggle_screens(6)">
                    <h6 class="card-title">
                        Alternativa A
                    </h6>

                    <p class="card-text">
                        Olá Dev 3, vamos conversar sobre o andamento da sua parte no projeto! O que você fez ontem? O que planeja fazer hoje? Há algum impedimento?
                    </p>
                </div>

            </div>

        </div>

    </div>

</section>


<!-- .:: Início de uma Nova Tela (7) ::. -->
<!-- resposta do dev 3 -->
<section class="toggle-section hidden">
    
    <!-- Dia da Daily (Turno) -->
    <h1 class="day-display">
        Daily do Primeiro Dia
    </h1>

    <!-- Área dos Devs (Parte de Cima) -->
    <div class="container-lg devs-container">

        <!-- Dev 3 -->
        <div class="row dev-row ">

            <!-- Imagem e nome do Dev (Lado Esquerdo) -->
            <div class="col-3">
                <div class="dev-card">
                    <img src="{{url_for('static' , filename='img/storyset/Eyes-cuate.svg')}}" alt="" class="dev-img">
                    <h4 class="dev-name">
                        Dev 3
                    </h4>
                </div>
            </div>

            <!-- Balão de fala do Dev (Lado Direito) -->
            <div class="col-lg-6 col-9 bubble-container">
                <div class="speech-bubble">
                    <p class="sb-text">
                        Minha parte é fazer a página de contato do site. Ontem comecei a desenvolver e hoje planejo continuar a tarefa, mas meu impedimento é que não sei fazer o formulário de questões pessoais para o contato, mesmo pesquisando. 
                    </p>
                </div>
            </div>
        </div>

    </div>
    
    <!-- Área das Opções (Parte de Baixo) -->
    <div class="container-lg master-container">

        <!-- Área da Pergunta -->
        <div class="row d-flex justify-content-center text-row">
            <div class="col-sm-6 col">

                <!-- Pergunta -->
                <h4 class="master-title text-center">
                    Como Scrum Master qual a melhor opção para solucionar esse problema? 
                </h4>
                
            </div>
        </div>

        <!-- Área das Alternativas -->
        <div class="row d-flex justify-content-center options-area">

            <!-- Container das Alternativas -->
            <div class="col-lg-6 col-9 options-container">

                <!-- Alternativa A -->
                <div class="options-card"  onclick="toggle_screens(7), correct_sound.play()">
                    <h6 class="card-title">
                        Alternativa A
                    </h6>

                    <p class="card-text">
                        Oferecer ajuda e material bibliográfico específico para entendimento da tarefa.
                    </p>
                </div>

                <!-- Alternativa B -->
                <div class="options-card" onclick="wrong_sound.play()">
                    <h6 class="card-title">
                        Alternativa B
                    </h6>

                    <p class="card-text">
                        Sugerir que utilize um código pronto do formulário da internet.
                    </p>
                </div>

                <!-- Alternativa C -->
                <div class="options-card" onclick="wrong_sound.play()">
                    <h6 class="card-title">
                        Alternativa C
                    </h6>

                    <p class="card-text">
                        Recomendar que continue pesquisando na Wikipedia. 
                    </p>
                </div>

            </div>

        </div>

    </div>

</section>


<!-- SEGUNDO TURNO -->


<!-- .:: Início de uma Nova Tela (8) ::. -->
<!-- daily 2 -->
<section class="toggle-section hidden">
    
    <!-- Dia da Daily (Turno) -->
    <h1 class="day-display first-daily-display">
        Daily do Segundo Dia
    </h1>

    <!-- Área dos Devs (Parte de Cima) -->
    <div class="container-lg devs-container">

        <!-- Dev 1 -->
        <div class="row dev-row disabled">
            <!-- Imagem e nome do Dev (Lado Esquerdo) -->
            <div class="col-3">
                <div class="dev-card">
                    <img src="{{url_for('static' , filename='img/storyset/Eyes-amico.svg')}}" alt="" class="dev-img">
                    <h4 class="dev-name">
                        Dev 1
                    </h4>
                </div>
            </div>

            <!-- Balão de fala do Dev (Lado Direito) -->
            <div class="col-lg-6 col-9 bubble-container">
                <div class="speech-bubble">
                    <p class="sb-text">
                    </p>
                </div>
            </div>
        </div>

    </div>
    
    <!-- Área das Opções (Parte de Baixo) -->
    <div class="container-lg master-container">

        <!-- Área da Pergunta -->
        <div class="row d-flex justify-content-center text-row">
            <div class="col-sm-6 col">

                <!-- Pergunta -->
                <h4 class="master-title text-center">
                    Como um Scrum Master: Faça as perguntas da Daily 2!
                </h4>
                
            </div>
        </div>

        <!-- Área das Alternativas -->
        <div class="row d-flex justify-content-center options-area">

            <!-- Container das Alternativas -->
            <div class="col-lg-6 col-9 options-container">

                <!-- Alternativa A -->
                <div class="options-card" onclick="toggle_screens(8)">
                    <h6 class="card-title">
                        Alternativa A
                    </h6>

                    <p class="card-text">
                        Olá Dev 1, vamos conversar sobre o andamento da sua parte no projeto! O que você fez ontem? O que planeja fazer hoje? Há algum impedimento?
                    </p>
                </div>

            </div>

        </div>

    </div>

</section>


<!-- .:: Início de uma Nova Tela (9) ::. -->
<!-- resposta do dev 1 -->
<section class="toggle-section hidden">
    
    <!-- Dia da Daily (Turno) -->
    <h1 class="day-display">
        Daily do Segundo Dia
    </h1>

    <!-- Área dos Devs (Parte de Cima) -->
    <div class="container-lg devs-container">

        <!-- Dev 1 -->
        <div class="row dev-row">

            <!-- Imagem e nome do Dev (Lado Esquerdo) -->
            <div class="col-3">
                <div class="dev-card">
                    <img src="{{url_for('static' , filename='img/storyset/Eyes-amico.svg')}}" alt="" class="dev-img">
                    <h4 class="dev-name">
                        Dev 1
                    </h4>
                </div>
            </div>

            <!-- Balão de fala do Dev (Lado Direito) -->
            <div class="col-lg-6 col-9 bubble-container">
                <div class="speech-bubble">
                    <p class="sb-text">
                        Ontem finalizei o Footer, e hoje irei começar a homepage. Não há impedimentos.
                    </p>
                </div>
            </div>
        </div>

    </div>

    <!-- Área das Opções (Parte de Baixo) -->
    <div class="container-lg master-container">

        <!-- Área da Pergunta -->
        <div class="row d-flex justify-content-center text-row">
            <div class="col-sm-6 col">

                <!-- Pergunta -->
                <h4 class="master-title text-center">
                    Responda sobre o desempenho
                </h4>
                
            </div>
        </div>

        <!-- Área das Alternativas -->
        <div class="row d-flex justify-content-center options-area">

            <!-- Container das Alternativas -->
            <div class="col-lg-6 col-9 options-container">

                <!-- Alternativa A -->
                <div class="options-card" onclick="toggle_screens(9)">
                    <h6 class="card-title">
                        Alternativa A
                    </h6>

                    <p class="card-text">
                        Ótimo desempenho Dev 1! Dispensado.
                    </p>
                </div>

            </div>

        </div>

    </div>
    
</section>


<!-- .:: Início de uma Nova Tela (10) ::. -->
<!-- pergunta da daily pro dev 2 -->
<section class="toggle-section hidden">
    
    <!-- Dia da Daily (Turno) -->
    <h1 class="day-display">
        Daily do Segundo Dia
    </h1>

    <!-- Área dos Devs (Parte de Cima) -->
    <div class="container-lg devs-container">

        <!-- Dev 2 -->
        <div class="row dev-row disabled">

            <!-- Imagem e nome do Dev (Lado Esquerdo) -->
            <div class="col-3">
                <div class="dev-card">
                    <img src="{{url_for('static' , filename='img/storyset/Eyes-pana.svg')}}" alt="" class="dev-img">
                    <h4 class="dev-name">
                        Dev 2
                    </h4>
                </div>
            </div>

            <!-- Balão de fala do Dev (Lado Direito) -->
            <div class="col-lg-6 col-9 bubble-container">
                <div class="speech-bubble">
                    <p class="sb-text">

                    </p>
                </div>
            </div>
        </div>

    </div>
    
    <!-- Área das Opções (Parte de Baixo) -->
    <div class="container-lg master-container">

        <!-- Área da Pergunta -->
        <div class="row d-flex justify-content-center text-row">
            <div class="col-sm-6 col">

                <!-- Pergunta -->
                <h4 class="master-title text-center">
                    Faça as perguntas da Daily
                </h4>
                
            </div>
        </div>

        <!-- Área das Alternativas -->
        <div class="row d-flex justify-content-center options-area">

            <!-- Container das Alternativas -->
            <div class="col-lg-6 col-9 options-container">

                <!-- Alternativa A -->
                <div class="options-card" onclick="toggle_screens(10)">
                    <h6 class="card-title">
                        Alternativa A
                    </h6>

                    <p class="card-text">
                        Olá Dev 2, vamos conversar sobre o andamento da sua parte no projeto! O que você fez ontem? O que planeja fazer hoje? Há algum impedimento?
                    </p>
                </div>

            </div>

        </div>

    </div>

</section>


<!-- .:: Início de uma Nova Tela (11) ::. -->
<!-- resposta do dev 2 (problema de sobrecarga)-->
<section class="toggle-section hidden">
    
    <!-- Dia da Daily (Turno) -->
    <h1 class="day-display">
        Daily do Segundo Dia
    </h1>

    <!-- Área dos Devs (Parte de Cima) -->
    <div class="container-lg devs-container">

        <!-- Dev 2 -->
        <div class="row dev-row">

            <!-- Imagem e nome do Dev (Lado Esquerdo) -->
            <div class="col-3">
                <div class="dev-card">
                    <img src="{{url_for('static' , filename='img/storyset/Eyes-pana.svg')}}" alt="" class="dev-img">
                    <h4 class="dev-name">
                        Dev 2
                    </h4>
                </div>
            </div>

            <!-- Balão de fala do Dev (Lado Direito) -->
            <div class="col-lg-6 col-9 bubble-container">
                <div class="speech-bubble">
                    <p class="sb-text">
                        Ontem retomei os cadastros dos livros e hoje continuarei com essa tarefa. Não há impedimentos.
                    </p>
                </div>
            </div>
        </div>

    </div>
    
    <!-- Área das Opções (Parte de Baixo) -->
    <div class="container-lg master-container">

        <!-- Área da Pergunta -->
        <div class="row d-flex justify-content-center text-row">
            <div class="col-sm-6 col">

                <!-- Pergunta -->
                <h4 class="master-title text-center">
                    Responda sobre o desempenho
                </h4>
                
            </div>
        </div>

        <!-- Área das Alternativas -->
        <div class="row d-flex justify-content-center options-area">

            <!-- Container das Alternativas -->
            <div class="col-lg-6 col-9 options-container">

                <!-- Alternativa A -->
                <div class="options-card" onclick="toggle_screens(11)">
                    <h6 class="card-title">
                        Alternativa A
                    </h6>

                    <p class="card-text">
                        Ótimo desempenho Dev 2! Dispensado
                    </p>
                </div>

            </div>

        </div>

    </div>

</section>


<!-- .:: Início de uma Nova Tela (12) ::. -->
<!-- pergunta da daily pro dev 3 -->
<section class="toggle-section hidden">
    
    <!-- Dia da Daily (Turno) -->
    <h1 class="day-display">
        Daily do Segundo Dia
    </h1>

    <!-- Área dos Devs (Parte de Cima) -->
    <div class="container-lg devs-container">

        <!-- Dev 3 -->
        <div class="row dev-row disabled">

            <!-- Imagem e nome do Dev (Lado Esquerdo) -->
            <div class="col-3">
                <div class="dev-card">
                    <img src="{{url_for('static' , filename='img/storyset/Eyes-cuate.svg')}}" alt="" class="dev-img">
                    <h4 class="dev-name">
                        Dev 3
                    </h4>
                </div>
            </div>

            <!-- Balão de fala do Dev (Lado Direito) -->
            <div class="col-lg-6 col-9 bubble-container">
                <div class="speech-bubble">
                    <p class="sb-text">

                    </p>
                </div>
            </div>
        </div>

    </div>
    
    <!-- Área das Opções (Parte de Baixo) -->
    <div class="container-lg master-container">

        <!-- Área da Pergunta -->
        <div class="row d-flex justify-content-center text-row">
            <div class="col-sm-6 col">

                <!-- Pergunta -->
                <h4 class="master-title text-center">
                    Faça as perguntas da Daily
                </h4>
                
            </div>
        </div>

        <!-- Área das Alternativas -->
        <div class="row d-flex justify-content-center options-area">

            <!-- Container das Alternativas -->
            <div class="col-lg-6 col-9 options-container">

                <!-- Alternativa A -->
                <div class="options-card" onclick="toggle_screens(12)">
                    <h6 class="card-title">
                        Alternativa A
                    </h6>

                    <p class="card-text">
                        Olá Dev 3, vamos conversar sobre o andamento da sua parte no projeto! O que você fez ontem? O que planeja fazer hoje? Há algum impedimento?
                    </p>
                </div>

            </div>

        </div>

    </div>

</section>


<!-- .:: Início de uma Nova Tela (13) ::. -->
<!-- resposta do dev 3 -->
<section class="toggle-section hidden">
    
    <!-- Dia da Daily (Turno) -->
    <h1 class="day-display">
        Daily do Segundo Dia
    </h1>

    <!-- Área dos Devs (Parte de Cima) -->
    <div class="container-lg devs-container">

        <!-- Dev 3 -->
        <div class="row dev-row ">

            <!-- Imagem e nome do Dev (Lado Esquerdo) -->
            <div class="col-3">
                <div class="dev-card">
                    <img src="{{url_for('static' , filename='img/storyset/Eyes-cuate.svg')}}" alt="" class="dev-img">
                    <h4 class="dev-name">
                        Dev 3
                    </h4>
                </div>
            </div>

            <!-- Balão de fala do Dev (Lado Direito) -->
            <div class="col-lg-6 col-9 bubble-container">
                <div class="speech-bubble">
                    <p class="sb-text">
                        Ontem após o estudo do material bibliográfico, entendi como irei fazer o formulário no projeto e hoje planejo começar sua implementação. Meu impedimento é que precisarei de um tempo maior que o previsto, tipo mais um dia. 
                    </p>
                </div>
            </div>
        </div>

    </div>
    
    <!-- Área das Opções (Parte de Baixo) -->
    <div class="container-lg master-container">

        <!-- Área da Pergunta -->
        <div class="row d-flex justify-content-center text-row">
            <div class="col-sm-6 col">

                <!-- Pergunta -->
                <h4 class="master-title text-center">
                    Como Scrum Master qual a melhor opção para solucionar esse problema? 
                </h4>
                
            </div>
        </div>

        <!-- Área das Alternativas -->
        <div class="row d-flex justify-content-center options-area">

            <!-- Container das Alternativas -->
            <div class="col-lg-6 col-9 options-container">

                <!-- Alternativa A -->
                <div class="options-card" onclick="wrong_sound.play()">
                    <h6 class="card-title">
                        Alternativa A
                    </h6>

                    <p class="card-text">
                        Sugerir ao supervisor do trabalho o desligamento do Dev 3 por sua incompetência.
                    </p>
                </div>

                <!-- Alternativa B -->
                <div class="options-card" onclick="wrong_sound.play()">
                    <h6 class="card-title">
                        Alternativa B
                    </h6>

                    <p class="card-text">
                        Propor que utilize um código pronto do formulário da internet para adiantar o processo.
                    </p>
                </div>

                <!-- Alternativa C -->
                <div class="options-card" onclick="toggle_screens(13), correct_sound.play()">
                    <h6 class="card-title">
                        Alternativa C
                    </h6>

                    <p class="card-text">
                        Oferecer a extensão do prazo para ajudar na realização da tarefa.
                    </p>
                </div>

            </div>

        </div>

    </div>

</section>


<!-- TERCEIRO TURNO -->


<!-- .:: Início de uma Nova Tela (14) ::. -->
<!-- perguntas da daily 3 pro dev 1 -->
<section class="toggle-section hidden">
    
    <!-- Dia da Daily (Turno) -->
    <h1 class="day-display first-daily-display">
        Daily do Terceiro Dia
    </h1>

    <!-- Área dos Devs (Parte de Cima) -->
    <div class="container-lg devs-container">

        <!-- Dev 1 -->
        <div class="row dev-row disabled">
            <!-- Imagem e nome do Dev (Lado Esquerdo) -->
            <div class="col-3">
                <div class="dev-card">
                    <img src="{{url_for('static' , filename='img/storyset/Eyes-amico.svg')}}" alt="" class="dev-img">
                    <h4 class="dev-name">
                        Dev 1
                    </h4>
                </div>
            </div>

            <!-- Balão de fala do Dev (Lado Direito) -->
            <div class="col-lg-6 col-9 bubble-container">
                <div class="speech-bubble">
                    <p class="sb-text">
                    </p>
                </div>
            </div>
        </div>

    </div>
    
    <!-- Área das Opções (Parte de Baixo) -->
    <div class="container-lg master-container">

        <!-- Área da Pergunta -->
        <div class="row d-flex justify-content-center text-row">
            <div class="col-sm-6 col">

                <!-- Pergunta -->
                <h4 class="master-title text-center">
                    Como um Scrum Master: Faça as perguntas da Daily 3!
                </h4>
                
            </div>
        </div>

        <!-- Área das Alternativas -->
        <div class="row d-flex justify-content-center options-area">

            <!-- Container das Alternativas -->
            <div class="col-lg-6 col-9 options-container">

                <!-- Alternativa A -->
                <div class="options-card" onclick="toggle_screens(14)">
                    <h6 class="card-title">
                        Alternativa A
                    </h6>

                    <p class="card-text">
                        Olá Dev 1, vamos conversar sobre o andamento da sua parte no projeto! O que você fez ontem? O que planeja fazer hoje? Há algum impedimento?
                    </p>
                </div>

            </div>

        </div>

    </div>

</section>


<!-- .:: Início de uma Nova Tela (15) ::. -->
<!-- resposta do dev 1 -->
<section class="toggle-section hidden">
    
    <!-- Dia da Daily (Turno) -->
    <h1 class="day-display">
        Daily do Terceiro Dia
    </h1>

    <!-- Área dos Devs (Parte de Cima) -->
    <div class="container-lg devs-container">

        <!-- Dev 1 -->
        <div class="row dev-row">

            <!-- Imagem e nome do Dev (Lado Esquerdo) -->
            <div class="col-3">
                <div class="dev-card">
                    <img src="{{url_for('static' , filename='img/storyset/Eyes-amico.svg')}}" alt="" class="dev-img">
                    <h4 class="dev-name">
                        Dev 1
                    </h4>
                </div>
            </div>

            <!-- Balão de fala do Dev (Lado Direito) -->
            <div class="col-lg-6 col-9 bubble-container">
                <div class="speech-bubble">
                    <p class="sb-text">
                        Ontem terminei todas minhas tarefas e hoje planejo entregá-las. Sem impedimentos. 
                    </p>
                </div>
            </div>
        </div>

    </div>

    <!-- Área das Opções (Parte de Baixo) -->
    <div class="container-lg master-container">

        <!-- Área da Pergunta -->
        <div class="row d-flex justify-content-center text-row">
            <div class="col-sm-6 col">

                <!-- Pergunta -->
                <h4 class="master-title text-center">
                    Responda sobre o desempenho
                </h4>
                
            </div>
        </div>

        <!-- Área das Alternativas -->
        <div class="row d-flex justify-content-center options-area">

            <!-- Container das Alternativas -->
            <div class="col-lg-6 col-9 options-container">

                <!-- Alternativa A -->
                <div class="options-card" onclick="toggle_screens(15)">
                    <h6 class="card-title">
                        Alternativa A
                    </h6>

                    <p class="card-text">
                        Ótimo desempenho Dev 1! Dispensado
                    </p>
                </div>

            </div>

        </div>

    </div>

</section>


<!-- .:: Início de uma Nova Tela (16) ::. -->
<!-- pergunta da daily pro dev 2 -->
<section class="toggle-section hidden">
    
    <!-- Dia da Daily (Turno) -->
    <h1 class="day-display">
        Daily do Terceiro Dia
    </h1>

    <!-- Área dos Devs (Parte de Cima) -->
    <div class="container-lg devs-container">

        <!-- Dev 2 -->
        <div class="row dev-row disabled">

            <!-- Imagem e nome do Dev (Lado Esquerdo) -->
            <div class="col-3">
                <div class="dev-card">
                    <img src="{{url_for('static' , filename='img/storyset/Eyes-pana.svg')}}" alt="" class="dev-img">
                    <h4 class="dev-name">
                        Dev 2
                    </h4>
                </div>
            </div>

            <!-- Balão de fala do Dev (Lado Direito) -->
            <div class="col-lg-6 col-9 bubble-container">
                <div class="speech-bubble">
                    <p class="sb-text">

                    </p>
                </div>
            </div>
        </div>

    </div>
    
    <!-- Área das Opções (Parte de Baixo) -->
    <div class="container-lg master-container">

        <!-- Área da Pergunta -->
        <div class="row d-flex justify-content-center text-row">
            <div class="col-sm-6 col">

                <!-- Pergunta -->
                <h4 class="master-title text-center">
                    Faça as perguntas da Daily
                </h4>
                
            </div>
        </div>

        <!-- Área das Alternativas -->
        <div class="row d-flex justify-content-center options-area">

            <!-- Container das Alternativas -->
            <div class="col-lg-6 col-9 options-container">

                <!-- Alternativa A -->
                <div class="options-card" onclick="toggle_screens(16)">
                    <h6 class="card-title">
                        Alternativa A
                    </h6>

                    <p class="card-text">
                        Olá Dev 2, vamos conversar sobre o andamento da sua parte no projeto! O que você fez ontem? O que planeja fazer hoje? Há algum impedimento?
                    </p>
                </div>

            </div>

        </div>

    </div>

</section>

    
<!-- .:: Início de uma Nova Tela (17) ::. -->
<!-- resposta do dev 2 (problema de sobrecarga)-->
<section class="toggle-section hidden">
    
    <!-- Dia da Daily (Turno) -->
    <h1 class="day-display">
        Daily do Terceiro Dia
    </h1>

    <!-- Área dos Devs (Parte de Cima) -->
    <div class="container-lg devs-container">

        <!-- Dev 2 -->
        <div class="row dev-row">

            <!-- Imagem e nome do Dev (Lado Esquerdo) -->
            <div class="col-3">
                <div class="dev-card">
                    <img src="{{url_for('static' , filename='img/storyset/Eyes-pana.svg')}}" alt="" class="dev-img">
                    <h4 class="dev-name">
                        Dev 2
                    </h4>
                </div>
            </div>

            <!-- Balão de fala do Dev (Lado Direito) -->
            <div class="col-lg-6 col-9 bubble-container">
                <div class="speech-bubble">
                    <p class="sb-text">
                        Ontem finalizei todas minhas tarefas e hoje vou enviá-las. Não há impedimentos.
                    </p>
                </div>
            </div>
        </div>

    </div>

    <!-- Área das Opções (Parte de Baixo) -->
    <div class="container-lg master-container">

        <!-- Área da Pergunta -->
        <div class="row d-flex justify-content-center text-row">
            <div class="col-sm-6 col">

                <!-- Pergunta -->
                <h4 class="master-title text-center">
                    Responda sobre o desempenho
                </h4>
                
            </div>
        </div>

        <!-- Área das Alternativas -->
        <div class="row d-flex justify-content-center options-area">

            <!-- Container das Alternativas -->
            <div class="col-lg-6 col-9 options-container">

                <!-- Alternativa A -->
                <div class="options-card" onclick="toggle_screens(17)">
                    <h6 class="card-title">
                        Alternativa A
                    </h6>

                    <p class="card-text">
                        Ótimo desempenho Dev 2! Dispensado
                    </p>
                </div>

            </div>

        </div>

    </div>

</section>


<!-- .:: Início de uma Nova Tela (18) ::. -->
<!-- pergunta da daily pro dev 3 -->
<section class="toggle-section hidden">
    
    <!-- Dia da Daily (Turno) -->
    <h1 class="day-display">
        Daily do Terceiro Dia
    </h1>

    <!-- Área dos Devs (Parte de Cima) -->
    <div class="container-lg devs-container">

        <!-- Dev 3 -->
        <div class="row dev-row disabled">

            <!-- Imagem e nome do Dev (Lado Esquerdo) -->
            <div class="col-3">
                <div class="dev-card">
                    <img src="{{url_for('static' , filename='img/storyset/Eyes-cuate.svg')}}" alt="" class="dev-img">
                    <h4 class="dev-name">
                        Dev 3
                    </h4>
                </div>
            </div>

            <!-- Balão de fala do Dev (Lado Direito) -->
            <div class="col-lg-6 col-9 bubble-container">
                <div class="speech-bubble">
                    <p class="sb-text">

                    </p>
                </div>
            </div>
        </div>

    </div>
    
    <!-- Área das Opções (Parte de Baixo) -->
    <div class="container-lg master-container">

        <!-- Área da Pergunta -->
        <div class="row d-flex justify-content-center text-row">
            <div class="col-sm-6 col">

                <!-- Pergunta -->
                <h4 class="master-title text-center">
                    Faça as perguntas da Daily
                </h4>
                
            </div>
        </div>

        <!-- Área das Alternativas -->
        <div class="row d-flex justify-content-center options-area">

            <!-- Container das Alternativas -->
            <div class="col-lg-6 col-9 options-container">

                <!-- Alternativa A -->
                <div class="options-card" onclick="toggle_screens(18)">
                    <h6 class="card-title">
                        Alternativa A
                    </h6>

                    <p class="card-text">
                        Olá Dev 3, vamos conversar sobre o andamento da sua parte no projeto! O que você fez ontem? O que planeja fazer hoje? Há algum impedimento?
                    </p>
                </div>

            </div>

        </div>

    </div>

</section>


<!-- .:: Início de uma Nova Tela (19) ::. -->
<!-- resposta do dev 3 -->
<section class="toggle-section hidden">
    
    <!-- Dia da Daily (Turno) -->
    <h1 class="day-display">
        Daily do Terceiro Dia
    </h1>

    <!-- Área dos Devs (Parte de Cima) -->
    <div class="container-lg devs-container">

        <!-- Dev 3 -->
        <div class="row dev-row ">

            <!-- Imagem e nome do Dev (Lado Esquerdo) -->
            <div class="col-3">
                <div class="dev-card">
                    <img src="{{url_for('static' , filename='img/storyset/Eyes-cuate.svg')}}" alt="" class="dev-img">
                    <h4 class="dev-name">
                        Dev 3
                    </h4>
                </div>
            </div>

            <!-- Balão de fala do Dev (Lado Direito) -->
            <div class="col-lg-6 col-9 bubble-container">
                <div class="speech-bubble">
                    <p class="sb-text">
                        Ontem progredi na tarefa do formulário e irei terminá-la e entregar tudo hoje. Sem nenhum impedimento. 
                    </p>
                </div>
            </div>
        </div>

    </div>

     <!-- Área das Opções (Parte de Baixo) -->
     <div class="container-lg master-container">
        
        <!-- Área da Pergunta -->
        <div class="row d-flex justify-content-center text-row">
            <div class="col-sm-6 col">

                <!-- Pergunta -->
                <h4 class="master-title text-center">
                    Fim de Jogo!
                </h4>
                
            </div>
        </div>

        <!-- Área das Alternativas -->
        <div class="row d-flex justify-content-center options-area">

            <!-- Container das Alternativas -->
            <div class="col-lg-6 col-9 options-container">

                <!-- Alternativa A -->
                <div class="options-card" onclick="correct_sound.play()">
                    <h6 class="card-title">
                        Conclusão
                    </h6>

                    <p class="card-text">
                        Parabéns, você realizou com êxito o papel de um Scrum Master, alinhando o time e resolvendo os conflitos
                    </p>
                </div>

            </div>
        </div>

    </div>

</section>

    
<script>

    // Função que troca as telas
    function toggle_screens(n){

        // Seleciona a tela atual
        let screen = document.getElementsByClassName("toggle-section")[n]
        screen.classList.add('hidden') //Oculta a tela atual

        // Seleciona a próxima tela
        let next_screen = document.getElementsByClassName("toggle-section")[n + 1]
        next_screen.classList.remove('hidden') //Exibe a próxima tela
    }

    // Função Som

    var correct_sound = new Audio();
    correct_sound.src = "{{ url_for('static', filename='sounds/correct-answer.mp3')}}";

    var wrong_sound = new Audio();
    wrong_sound.src = "{{ url_for('static', filename='sounds/wrong-answer.mp3')}}"

</script>

{% endblock %}