.capitulo-scrum{
    text-align: center;
}

.col-7{
    font-size:15px;
    flex: 0 0 auto;
    width: 100%;
}

.lista-conteudos{
    list-style-type: none;
}


a.links{
    color: #92A3FF;
    text-decoration: none;
    font-weight: 500;
}