@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

body {
    display: block;
    background-image: linear-gradient(115deg, rgba(60, 60, 201, 0.5), rgba(25, 25, 201, 0.5)), url(../img/cont/laptopBG.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

header {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    max-width: auto;
    font-family: Poppins;
    color: white;
    padding: 10px;
}

#title {
    font-size: 35px;
    font-weight: 550;
    margin-bottom: 0;
    margin-top: 0;
}

#description {
    font-size: 20px;
    font-style: oblique;
    margin-top: 0;
    margin-bottom: 20px;
}

#survey-form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 10px;
    background-color: rgba(10, 3, 34, 0.9);
    padding: 2.5rem;
    max-width: 50%;
    font-size: 22px;
    color: rgb(233, 219, 219);
    font-family: Poppins;
}

.preencher {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-bottom: 20px;
}

.preencher input {
    height: 30px;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 15px;
    font-family: Poppins;
    margin-bottom: 10px;
}

.preencher input:last-of-type {
    margin-bottom: 0;
}

#dropdown {
    height: 30px;
    border: none;
    border-radius: 5px;
    font-family: Poppins;
    font-size: 15px;
    color: rgb(71, 71, 71);
    padding-left: 10px;
    margin-bottom: 20px;
}

.radio-buttons {
    margin: 0;
    font-size: 18px;
    display: inline;
    margin-bottom: 25px;
}

.radio-buttons label {
    font-size: 22px;
    margin: 1% 0;
}

.radio-buttons input {
    border: initial;
    height: 20px;
    width: 20px;
    vertical-align: middle;
    margin: 0;
    color: rgb(71, 71, 71);
}

.rating{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%) rotateY(180deg);
    display: flex;
  }
  
.rating input{
    display: none;
  }
  
.rating label{
      display: block;
      cursor: pointer;
      width: 50px;
  }
  
.rating label:before{
    content: '\f005';
    font-family: fontAwesome;
    position: relative;
    display: block;
    font-size: 50px;
    color: #0e1316;
  }
  
.rating label:after{
    content: '\f005';
    font-family: fontAwesome;
    position: absolute;
    display: block;
    font-size: 50px;
    color: #f8f800e7;
    top: 0;
    opacity: 0;
    transition: .5;
    text-shadow: 0 4px 5px rgba(0, 0, 0, .5);
  }
  .rating label:hover:after,
  .rating label:hover ~ label:after,
  .rating input:checked ~ label:after{
    opacity: 1;
  }

textarea {
    min-height: 100px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-family: Poppins;
    padding-left: 10px;
    resize: vertical;
    margin-top: 5px;
    margin-bottom: 20px;
    resize: none;
}

button {
    border: none;
    border-radius: 5px;
    color: white;
    background-color: rgb(37, 148, 37);
    height: 40px;
    font-size: 15px;
    font-family: Poppins;
}

label {
    margin: 1% 0;
}


placeholder {
    font-family: poppins;
    color: rgb(71, 71, 71);
}



.modal-header {
    color: black;
}

.modal-body {
    color: black;
}


/* .:: FORMULÁRIO ::.  */

form#QUIZform{
    margin-top: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

    #QUIZform .QUIZform-container{
        width: 100%;
        max-width: 750px;
    }
    
    /* #first-question{

    }
    
    #second-question{

    }
    
    #third-question{

    } */

    

/* Área da Pergunta (Parte de Cima) */

        #QUIZform .QUIZ-question{
            justify-content: center;
        }
        
            #QUIZform .QUIZ-question > *{
                padding: 0;
            }

            #QUIZform .question-number h5{
                margin: 10px 0;

                font-size: 3.5rem;
                font-weight: 700;
                text-align: center;
            }

                #QUIZform .question-text > .TXT-global{      
                    margin: 15px 15px 0;
                    
                    font-size: 1.2rem;
                    font-weight: 600;
                }
            
                #QUIZform .LIST-global{
                    list-style: upper-roman inside;
                }
                
                    #QUIZform .LIST-global li{
                        padding-bottom: 5px;
                        display: list-item;
                    }



/* Área da Resposta (Parte de Baixo) */
#QUIZform .QUIZ-answers{
    margin-top: 10px;

    justify-content: center;
}
            
#QUIZform .answer-container{
    padding: 0 40px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Alternativas */
#QUIZform .asnwer-card{
    background-color: #1d1e7b;
    padding: 15px 30px;
    
    flex-grow: 1;

    border: 2px solid #2d2da7;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);

    cursor: pointer;

    transition: all 200ms ease-out;
}

#QUIZform .asnwer-card .TXT-global{
    display: inline-block;

    text-align: left;
}

#QUIZform .asnwer-card:hover{
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.5);
    
    transform: scale(1.02);
}

#QUIZform input[type='radio']{
display: none;
}
                   
#QUIZform input[type='radio']:checked + .asnwer-card{
    background-color: #2d2da7;

    border: 2px solid white;

    transform: scale(1.035);
}

#QUIZform input[type='radio']:checked + .asnwer-card .TXT-global{
    font-weight: 500;        
}



/* .:: MODAL DO QUIZ ::. */
#QUIZmodal.modal-dialog{
    max-width: 650px;
    padding: 0 30px;
}

#QUIZmodal .modal-content{
    width: 100%;
    background-color: #1F1F5F;
    border-radius: 15px;
}

#QUIZmodal .modal-body{
    padding: 10px 20px;
}

#QUIZmodal .modal-body .content-block.col-sm-5{
    padding: 0;
}

#QUIZmodal .modal-body .content-block.col-sm-7{
    padding: 10px 5px;
    display: flex;
    flex-direction: column;

    justify-content: space-between;
}

#QUIZmodal .modal-body .IMG-global{
    margin: 0;
}

#QUIZmodal .modal-body .SUB-global{
    font-size: 1.7rem;
}

#QUIZmodal .modal-body .TXT-global{
    font-size: 1.1rem;
    text-align: left;
}

#QUIZmodal .modal-btn-container{
    display: flex;
    justify-content: end;
    gap: 10px;
}

#QUIZmodal .BTN-global{
    border: none;
    border-radius: 10px;
}

#QUIZmodal .modal-return-btn{
    background-color: #2E8F2C;
}