/*Serve para mudar os caracteres da lista da questão 2 para romanos*/
#first-question{
    list-style-type: upper-roman;
}

/*Os dois CSS abaixo servem para mudar a cor da letra do modal para preto*/
.modal-header {
    color: black;
}

.modal-body {
    color: black;
}

ul > li{
    text-align: justify;
}