.scrum-method-img {
    width: 40vw;
    align-self: center;
}

.content-block li{
    font-size: 20px;
    font-weight: 600;
    line-height: 2.5rem;
}

.upgrade-img {
    width: 75%;
    margin-bottom: 30px;
}

.puzzle-img{
    width: 80%;
}