@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap');

* {
    font-family: Poppins, sans-serif;
    color: white;
}

.title {
    font-weight: 600;
    font-style: normal;
    font-size: 30px;
    text-align: center;
    margin-bottom: 40px;
}

.text {
    font-weight: 400;
    font-style: normal;
    font-size: 19px;
    text-align: justify;
}


/* hover dos botões azuis */
.btn:hover {
    background-color: #4141DD;
    transform: scale(1.1);
    background-position: -60px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}