.scrum-img {
    width: 420px;
}

section,
.introducion-ava,
.introducion-scrum,
.vantagens {
    margin-top: 5%;
}

.redirecionamento-ava {
    margin-bottom: 5%;
}

.introducion-scrum .content {
    gap: 20px;
    justify-content: center;
}


.cards {
    justify-content: center;
    gap: 50px;
}

.card-column {
    gap: 50px;
}

.card {
    background-color: #020234;
    border-radius: 25px;
    border: none;
    width: 50%;
    box-shadow: 1px 2px rgba(0, 0, 0, 0.30);
}

.card:hover {
    transform: scale(1.1);
    transition: 0.3s;
    background-position: -60px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.card i {
    color: #4141DD;
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 40px;
}

.card-title {
    margin: 0;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
    color: white;
}

.card-text {
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    margin-bottom: 10px;
}


.ava-img {
    width: 420px;
}

.introducion-ava .content {
    gap: 80px;
    justify-content: center;
}

.ava-button {
    justify-content: center;
}

.btn {
    background-color: #4141DD;
    border: none;
    border-radius: 50px;
    width: 350px;
    height: 80px;
    font-weight: 600;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
}

@media (min-width: 768px) and (max-width: 1024px) {

    .cards {
        width: 100%;
        margin: 0 auto;
    }

    .card-column,
    .cards {
        gap: 25px;
    }

}

@media (max-width: 768px) {
    .content {
        flex-direction: column;
    }

    .content img {
        margin: 0 auto;
    }

    .cards {
        flex-direction: column;
        justify-content: center;
    }
}

@media (max-width: 426px) {
    .card-column {
        flex-direction: column;
        justify-content: center;
    }

    .card {
        width: 80%;
        margin: 0 auto;
    }

    .content img {
        width: 80%;
    }

    .text {
        font-size: 1rem;
        text-align: justify;
    }

    .title {
        font-size: 1.8rem;
    }
}