.bg-chat {
    padding: 50px;
    flex-direction: column;
    margin-top: 0;
}

.up-screen {
    text-decoration: none;
}

.titulo-jogo {
    margin-top: 30px;
    margin-bottom: 20px;
}

hr {
    margin: 0 5px;
}

.scrum-img {
    width: 180px;
    margin-right: 20px;
}

.list {
    margin: 20px 0;
}

.upside {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.task-list {
    background-color: #2D2DA8;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 30px;
    width: 45%;
    border: none;
    box-shadow: 3px 2px rgba(0, 0, 0, 0.336);
    height: 60%;
    padding: 0;
}

.TITLE-global {
    margin-bottom: 10px;
}

.SUB-global {
    text-align: center;
    text-indent: 0px;
    width: 100%;
    margin-bottom: 20px;
    color: white;
}

.task-list .SUB-global {
    background-color: #020234;
    padding: 10px 0;
    text-align: center;
    border-radius: 20px 20px 0 0;
    margin-bottom: 0px;
    margin-top: 0px;
}

.task-list .TEXT-global {
    font-size: 12px;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

.botao-validar {
    width: 100%;
}

.botao-validar a {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.validar { 
    text-decoration: none;
    background-color: #2E8F2C;
    width: 15%;
    height: 50px;
    border: none;
    border-radius: 30px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.267);
}


.validar:hover {
    background-color: #1e691c;
    transform: scale(1.2);
    transition: 0.2s;
}

.bubble-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.speech-bubble {
    background-color: #1D1D7C;
    padding: 20px 25px;
    position: relative;
    border: 3px solid #2D2DA8;
    border-radius: 15px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    width: 100%;
}

.speech-bubble::before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: 10px;
    left: -17px;
    border-top: 25px solid #2D2DA8;
    border-left: 17px solid transparent;
}

.sb-text {
    margin-bottom: 0;
    font-size: .9rem;
    font-weight: 300;
    word-spacing: 3px;
    line-height: 25px;
}

.card {
    background-color: #020234;
    border-radius: 25px;
    border: none;
    width: 100%;
    max-height: 400px;
    box-shadow: 1px 2px rgba(0, 0, 0, 0.30);
    padding: 25px;
    margin-top: 20px;
}

.card:hover {
    transform: scale(1.05);
    transition: 0.3s;
    background-position: -60px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}


.card-title {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
    color: white;
}

.card-text {
    font-weight: 300;
    font-size: 13px;
    text-align: center;
    margin-bottom: 10px;
}

.hidden {
    opacity: 0;
    overflow: hidden;
    margin: 0;
    height: 0;
    transition: margin 350ms;
    padding: 0;
}

.column-1,
.column-2 {
    width: 50%;
}

.column-1 {
    border-right: 1px solid rgba(231, 225, 225, 0.445);
}

@media (min-width:768px) and (max-width:1024px) {
    .bg-chat {
        padding: 20px;

    }

    .task-list, .cliente {
        margin-right: 0px;
    }

}

@media (min-width: 425px) and (max-width:768px) {
    .bg-chat {
        width: 80%;
        flex-direction: column;
    }

    .cliente {
        width: 100%;
    }

    .speech-bubble {
        padding: 10px 15px;
    }

    .speech-bubble::before {
        content: '';
        width: 0;
        height: 0;

        position: absolute;
        top: 10px;
        left: -13px;

        border-top: 25px solid #2D2DA8;
        border-left: 13px solid transparent;
    }

    .sb-text {
        margin-bottom: 0;

        font-size: .8rem;
        font-weight: 300;

        word-spacing: 1px;
        line-height: 19px;
    }

    .upside {
        width: 100%;
        flex-direction: column;
    }

    .cards-buttons {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .task-list {
        width: 70%;
        margin: 40px auto 0px;
    }

    .us {
        flex-direction: column;
    }

    hr {
        color: #ffffff00;
    }

    .column-1,
    .column-2 {
        width: 100%;
        border: none;
    }

    .validar {
        width: 100px;
        margin: 30px auto;
    }
}

@media (max-width: 425px) {

    .cliente, .upside{ 
        flex-direction: column;
        justify-content: center;
    }

    .scrum-img {
        width: 60%;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .bg-chat{
        width: 90%;
        margin: 0 auto;
        padding: 10px;
    }

    .task-list{
        width: 100%;
    }

    .task-list {
        width: 70%;
        margin: 40px auto 0px;
    }

    .us {
        flex-direction: column;
    }

    hr {
        color: #ffffff00;
    }

    .column-1,
    .column-2 {
        width: 100%;
        border: none;
    }

    .validar {
        width: 150px;
        margin: 30px auto;
    }
}