.backlog {
    background-color: #1D1D7C;
    border-radius: 0 50px;
    padding: 30px;
    border: ridge 5px rgba(81, 7, 255, 0.233);
    box-shadow: 3px 2px rgba(0, 0, 0, 0.336);
}

.titulo-jogo {
    margin-top: 30px;
}

.tabela {
    margin-right: 20px;
}

.linha {
    display: flex;
    flex-direction: row;
}
 
.elemento{
    background-color: #020234;
}

.item-titulo, .elemento{
    padding: 30px;
    text-align: center;
    margin: 3px;
    font-size: 8px;
    width: 120px;
}

.item-titulo {
    background-color: #3B3B82;
}

.linha select {
    background-color: rgba(39, 35, 35, 0.952);
    border: none;
    padding: 5px;
    font-size: 18px;
}

.requisito {
    background-color: #2d2daf;
    width: 320px;
    border: 1px solid #0202346b;
    border-radius: 10px;
    color: rgb(190, 188, 188);
    box-shadow: 2px 3px rgba(0, 0, 0, 0.493);
    margin: 0;
}

.requisito h1 {
    font-size: 12px;
    text-align: center;
}

.requisito:hover {
    transform: scale(1.1);
    transition: 0.2s;
}

.cards-requisitos {
    gap: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.validar {
    background-color: #2E8F2C;
    width: 150px;
    height: 50px;
    margin: 5   0px auto;
    margin-top: 50px;
    border: none;
    border-radius: 30px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.267);
}

.validar:hover {
    background-color: #1e691c;
    transform: scale(1.2);
    transition: 0.2s;
}

.drop-zone {
    width: 330px;
}

@media (max-width: 768px) {
    .backlog {
        width: 80%;
        flex-direction: column;
        justify-content: center;
    }

    .cards-requisitos {
        margin-left: 0;
    }

    .requisito {
        margin: auto;
        margin-top: 30px;
    }
}