body {
    background-image: linear-gradient(to bottom right, rgb(9, 9, 66), rgb(31, 31, 128));
}

section {
    margin-top: 70px;
    margin-bottom: 80px;
    font-size: 20px;
}

#scum-method-pana{
    width:420px;
}

h2{
    text-align: center;
}

.content{
    display: flex;
    gap: 40px;
}

#second-question{
    list-style:upper-roman;
}

.modal-header{
    color: black;
}
.modal-body{
    color: black;
}
