#scrum-master-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.scrum-master-function{
    display: flex;
}

.nav-footer-bar{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.button-nav-bar{
    background-color: #0A0A23;
    color: white;
    padding: 10px 10px;
    border-radius: 25px;
}

#call-for-video{
    text-align: center;
}