.title-sobre {
    font-weight: 600;
    font-style: normal;
    font-size: 30px;
    text-align: center;

}

.cdb-img {
    width: 340px;
   
}

.scrum-img {
    width: 270px;
}

.sobre-scrum .content {
    gap: 30px;
    justify-content: center;
    margin-left: auto;
    align-items: center;
}

section {
    margin-top: 70px;
    margin-bottom: 70px;
    
}

.val {
    text-align: center;
    margin: 0 50px
}

.val .subtitle {
    font-size: 25px;
    align-items: center;
}

.cards {
    gap: 50px;
    justify-content: center;
}

.card {
    background-color: #020234;
    border-radius: 25px;
    border: none;
    max-width: 190px;
    max-height: 270px;
    box-shadow: 1px 2px rgba(0, 0, 0, 0.30);
}

.card:hover {
    transform: scale(1.1);
    background-position: -60px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.card img {
    height: 35px;
    margin-top: 40px;
    margin-bottom: 20px;
    justify-content: center;
}

.card-title {
    margin: 0;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
    color: white;
}

.card-text {
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    margin-bottom: 10px;
}

.pg-button {
    justify-content: center;
}

.btn {
    background-color: #4141DD;
    border: none;
    border-radius: 50px;
    padding: 15px 50px;
    font-weight: 600;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
    margin-top: 50px;
}

@media (max-width: 900px) {
    .btn {
        padding: 10px 50px;
        font-weight: 600;
        font-size: 13px;
        margin-top: 20px;
    }
    .title-sobre {
        font-size: 1.8rem;
    }

      .val{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top:  50px;
         gap: 20px;
            
    }
    
.text {
    font-size: 1rem;
    text-align: justify;
    border: none;
}

    .cards{
        display: flex;
        justify-content: center;
        margin-top:  40px;
        gap: 20px;
        
       }
   .card{
    margin: 0 auto;
    width: 175px;
   }
    
   .card:hover {
    opacity: 60%;
        padding: 12px 20px;
}

.card-title {
    font-size: 14px;
}

.card-text {
    font-size: 12px;
}

.scrum-img {
    width: 50%;
}
}

@media(max-width: 600px) {
    .cards{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top:  50px;
        gap: 20px;
        
       }
   .card{
    margin: 0 auto;
    width: 180px;
   }
   
   .card:hover {
    opacity: 60%;
        padding: 12px 20px;
}

.card-title {
    font-size: 14px;
}

.card-text {
    font-size: 12px;
}

.scrum-img {
    display: none;
}

.title-sobre {
    font-size: 1.8rem;
}

.cdb-img {
    display: none;

}

section {
    padding: 0%;
}

.sobre-scrum .content {
    align-content: center;
    text-indent: 10px;

}

.text {
    font-size: 1rem;
    text-align: justify;
}

}