{% extends 'base.html' %}

{% block pageCss %}
<link rel="stylesheet" href="{{url_for('static', filename='style/adm.css')}}">{% endblock %}

{% block pageTitle%} {% endblock %}

{% block pageContent %}

<main>
    <div class="search-filter">
        <div class="search-container">
            <input type="search" name="search-bar" id="search-bar" placeholder="Pesquisar..."> 
            <i class="bi bi-search"></i>
        </div>
    </div>


    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>RA</th>
                <th>Nota</th>
                <th>Comentário</th>
            </tr>
        </thead>
        <tbody>
            {% for comentario in Comentarios %}
                <tr>
                    <td>{{ comentario.Nome }}</td>
                    <td>{{ comentario.RA }}</td>
                    <td>{{ comentario.Nota }}</td>
                    <td>{{ comentario.Comentario }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock %}