<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Ícones Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"> 

    <!-- CSS do Boostrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">

    <!-- CSS Global do Projeto -->
    <link rel="stylesheet" href="{{url_for('static', filename='style/global.css')}}">

    <link rel="stylesheet" href="../static/style/global.css">

<!-- CSS LOCAL feito para identificar melhor a disposição de conteúdo nos layouts (este style deve ser ignorado na hora de montar sua página) -->
    <style>
        body{
            background-image: linear-gradient(to bottom right, #090942 , #1A1A76);
            background-repeat: no-repeat;
        }

        .content-block{
            background-image: linear-gradient(rgba(0, 0, 0, 0.3) , rgba(0, 0, 0, 0.1));
            border: 1px dashed rgba(255, 255, 255, 0.3);
        }

        .container-content{
            margin-bottom: 20px;
        }
    </style>



<!-- 
.:: LAYOUTS DISPONÍVEIS ::.
-->

    <div class="container-sm">

<!-- CENTRALIZAÇÃO DE VÁRIOS ELEMENTOS -->
        <div class="container-content d-flex justify-content-center flex-wrap">
            <!-- Elemento 1 -->
            <div class="content-block">
                Elemento
            </div>
            <!-- Elemento 2 -->
            <div class="content-block">
                Elemento
            </div>
            <!-- Elemento 3 -->
            <div class="content-block">
                Elemento
            </div>
        </div>



<!-- UM BLOCO PRA CONTEÚDO -->
        <div class="container-content text-center">
            <!-- Bloco 1 -->
            <div class="content-block">
                Bloco
            </div>
        </div>



<!-- DOIS BLOCOS: [4x8] -->
        <div class="container-content text-center row">
            <!-- Bloco 1 -->
            <div class="content-block col-md-4">
                Bloco [4x8]
            </div>

            <!-- Bloco 2 -->
            <div class="content-block col-md-8">
                Bloco [4x8]
            </div>
        </div>



<!-- DOIS BLOCOS: [6x6] -->   
        <div class="container-content text-center row">
            <!-- Bloco 1 -->
            <div class="content-block col-md">
                Bloco [6x6]
            </div>

            <!-- Bloco 2 -->
            <div class="content-block col-md">
                Bloco [6x6]
            </div>
        </div>



<!-- DOIS BLOCOS: [8x4] -->
        <div class="container-content text-center row">
            <!-- Bloco 1 -->
            <div class="content-block col-md-8">
                Bloco [8x4]
            </div>

            <!-- Bloco 2 -->
            <div class="content-block col-md-4">
                Bloco [8x4]
            </div>
        </div>
        


<!-- TRÊS BLOCOS: [4x4x4] -->   
        <div class="container-content text-center row">
            <!-- Bloco 1 -->
            <div class="content-block col-md">
                Bloco [4x4x4]
            </div>

            <!-- Bloco 2 -->
            <div class="content-block col-md">
                Bloco [4x4x4]
            </div>

            <!-- Bloco 3 -->
            <div class="content-block col-md">
                Bloco [4x4x4]
            </div>
        </div>

    </div>
    









<!-- 
.:: ELEMENTOS DISPONÍVEIS ::. 
-->

        <div class="container-md">
            
<!-- TÍTULOS -->
                <h1 class="TITLE-global">
                    Título
                </h1>
<!-- /TÍTULOS -->

        <br>


<!-- SUBTÍTULOS -->
                <h2 class="SUB-global">
                    Subtítulo
                </h2>
<!-- /SUBTÍTULOS -->

        <br>


<!-- PARÁGRAFOS -->
            <div class="TXT-global-container">
                <p class="TXT-global">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat inventore amet vero dolorem sapiente nemo eos possimus pariatur, neque omnis?
                </p>
            </div>
<!-- /PARÁGRAFOS -->

        <br>


<!-- LISTA -->       
            <ol class="LIST-global list-group list-group-numbered">
                <p class="TXT-global">Texto de Lista (opicional)</p>
                <li class="list-group-item">Um item da lista</li>
                <li class="list-group-item">Um item da lista</li>
                <li class="list-group-item">Um item da lista</li>
            </ol>
<!-- /LISTA -->

        <br>


<!-- IMAGEM -->
                <img src="../static/img/storyset/teamwork-rafiki.svg" alt="" class="IMG-global">
<!--  /IMAGEM -->   

        <br>


                <p class="TXT-global">
                    Texto para exemplificação do uso de um
<!-- POP UP -->
                <span class="POP-global" data-bs-toggle="popover" data-bs-placement="top" data-bs-trigger="hover" data-bs-custom-class="custom-popover"
                    data-bs-title="Título do Pop Up"
                    data-bs-content="Texto do Pop Up">
                        pop up
                </span>
<!-- /POP UP -->
                    , fim do texto.
                </p>  

        <br>


<!-- BOTÕES -->

    <!-- Botão voltar ao topo da página -->
        <a href="#" class="BTN-global">
            <i class="bi bi-arrow-up-short"></i>
        </a>
                      
    <!-- Botão ir para próxima página -->
        <a href="" class="BTN-global">
            Avançar <i class="bi bi-arrow-right-short"></i>
        </a>
              
    <!-- Botão voltar para a trilha de aprendizagem -->
        <a href="" class="BTN-global" id="btn-return-trail">
            <i class="bi bi-arrow-return-left"></i> Voltar a Trilha
        </a>
<!-- /BOTÕES -->

    </div>










<!-- 
.:: Um exemplo de uso de LAYOUT + ELEMENTOS ::.
-->


    <div class="container-md">

        <div class="container-content text-center">
            <div class="content-block">
                <h1 class="TITLE-global">
                    Título
                </h1>
            </div>
        </div>

        <div class="container-content text-center row">
            <div class="content-block col-md-4">
                <img src="../static/img/storyset/teamwork-rafiki.svg" alt="" class="IMG-global">
            </div>

            <div class="content-block col-md-8">
                <h3 class="SUB-global">
                    Lorem ipsum dolor sit amet.
                </h3>
                <div class="TXT-global-container">
                    <p class="TXT-global">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat inventore amet vero dolorem sapiente nemo eos possimus pariatur, neque omnis?
                    </p>
                    <p class="TXT-global">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non architecto,
                            <span class="POP-global" data-bs-toggle="popover" data-bs-placement="top" data-bs-trigger="hover" data-bs-custom-class="custom-popover"
                            data-bs-title="Título do Pop Up"
                            data-bs-content="Texto do Pop Up">
                                pop up
                            </span>
                        aliquam temporibus earum facilis omnis. Autem quasi porro ut expedita.
                    </p>
                </div>
                <h3 class="SUB-global">
                    <div class="TXT-global-container">
                        <p class="TXT-global">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat inventore amet vero dolorem sapiente nemo eos possimus pariatur, neque omnis?
                        </p>
                        
                        <ol class="LIST-global list-group list-group-numbered">
                            <p class="TXT-global">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas, fuga.</p>
                            <li class="list-group-item">A list item</li>
                            <li class="list-group-item">A list item</li>
                            <li class="list-group-item">A list item</li>
                        </ol>
                    </div>
                </h3>
        </div>

        <div class="container-content text-center row">

        </div>

        <div class="container-content d-flex justify-content-center flex-wrap">

            <div class="content-block">
                <a href="#" class="BTN-global">
                    <i class="bi bi-arrow-up-short"></i>
                </a>  
            </div>

            <div class="content-block">    
                <a href="#" class="BTN-global">
                    Avançar <i class="bi bi-arrow-right-short"></i>
                </a>
            </div>
            
        </div>




    

    <!-- JavaScript do Boostrap -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    <script>
        const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
        const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
        const popover = new bootstrap.Popover('.popover-dismiss', {
        trigger: 'mouseover'
        })
    </script>
        
</body>
</html>