<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Games Interativos</title>
    <link rel="stylesheet" text="text/css" href="{{url_for('static', filename='style/interactive-games.css')}}">
    <link rel="stylesheet" text="text/css" href="{{url_for('static', filename='style/main.css')}}">
</head>
<body>
    <header class="header-style">
        <div>
            <img alt="Logo do grupo" class="logo" src="{{url_for('static', filename='images/logo.jpg')}}" width="50px">
        </div>
    </header>

    <h1 class="interactives-games">
        Games Interativos
    </h1>

    <div>
        Este é o ambiente preparado para você praticar os elementos do Scrum. Temos os seguintes jogos estudados e desenvolvidos para que você compreenda o método de forma prática, dinâmica e segura. Se cometer erros, não se preocupe, este é o lugar para isso. Aproveite!
    </div>

    <h3>
        Game 1: Desenvolva seu Product Backlog
    </h3>
    <p>
        Um cliente fictício irá fornecer os requisitos, e você irá montar o seu Sprint Backlog com base no que foi ensinado no curso, incluindo 3 User Stories por sprint, juntamente com seus respectivos dados.
    </p>

    <a href="/Quiz de conhecimento">
        <div id="play">
            <span>
                Jogar
            </span>

            <span class="play-button-icon">
                
                <img  src="{{url_for('static', filename='images/play-button-icon-white.png')}}" width="12px">
            </span>
        </div>
    </a>

    <h3>
        Game 2: Desenvolva seu Sprint Backlog
    </h3>

    <p>
        Um cliente fictício irá fornecer os requisitos, e você irá montar o seu Sprint Backlog com base no que foi ensinado no curso, incluindo 3 User Stories por sprint, juntamente com seus respectivos dados.
    </p>

    <a href="/Quiz de conhecimento">
        <div id="play">
            <span>
                Jogar
            </span>

            <span class="play-button-icon">
                <img  src="{{url_for('static', filename='images/play-button-icon-white.png')}}" width="12px">
            </span>
        </div>
    </a>

    <h3>
        Game 3: Aja como Scrum Master
    </h3>

    <p>
        Um cliente fictício irá fornecer os requisitos, e você irá montar o seu Sprint Backlog com base no que foi ensinado no curso, incluindo 3 User Stories por sprint, juntamente com seus respectivos dados.
    </p>
    <a href="/Quiz de conhecimento">
        <div id="play">
            <span>
                Jogar
            </span>

            <span class="play-button-icon">
                <img  src="{{url_for('static', filename='images/play-button-icon-white.png')}}" width="12px">
            </span>
        </div>
    </a>


    <div class="footer-background">
        <img alt="Logo do grupo" class="logo" src="{{url_for('static', filename='images/logo.jpg')}}" width="50px" height="50px">
        <p id="slogan">"Code Don't Blow: Where Innovations Unfolds!"</p>
        <img alt="Logo do Github" class="github-logo" src="{{url_for('static', filename='images/github-icon-white.png')}}" width="40px" height="40px">
    </div>

    <footer>
        <div class="container1">
            <span class="footer-items" id="copyright">Copyright©2024</span>
            <span class="footer-items" id="group-name">CodeDontBlow</span>
        </div>

        <div class="container2">
            <span class="footer-items" id="footer-home"><a>Homepage</a></span>
            <span class="footer-items" id="about-us"><a>Sobre nós</a></span>
        </div>
    </footer>
</body>
</html>