{% extends 'base.html' %}

    {% block pageCss %}
        <link rel="stylesheet" href="{{url_for('static', filename='style/introducionstyle.css')}}">
    {% endblock %} 

    {% block pageTtile %} Introdução ao Scrum {% endblock %}

    {% block pageContent %}

    <section class="container-fluid introducion-scrum">
      <h1 class="title">O que é o Método Scrum?</h1>
      <div class="content d-flex">
        <img class="img-fluid scrum-img" src="{{url_for('static', filename='img/storyset/scrum-rafiki.svg')}}" alt="">
        <p class="text col-7">O Scrum é um método ágil de gerenciamento de projetos que se baseia em ciclos curtos de
          trabalho, chamados de Sprints, nos quais equipes multifuncionais realizam entregas incrementais. Durante esses
          períodos, a equipe se reúne regularmente para discutir o progresso, ajustar prioridades e identificar
          melhorias, enfatizando transparência, comunicação aberta e adaptação contínua para uma condução mais eficaz e
          responsiva aos desafios.</p>
      </div>
    </section>

    <section class="vantagens">
      <h1 class="title">Quais são as vantagens de usar o Scrum?</h1>
      <div class="cards d-flex">
        <div class="card col-3">
          <img src="{{url_for('static', filename='img/icons/flexicon.svg')}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Flexibilidade</h5>
            <p class="card-text">O Scrum é flexível, permitindo adaptação a mudanças em vez de seguir um plano fixo, o
              que facilita atender a requisitos em constante evolução e demandas dos clientes.</p>
          </div>
        </div>
        <div class="card col-3">
          <img src="{{url_for('static', filename='img/icons/handleicon.svg')}}" class="card-img-top" style="height: 30px;" alt="...">
          <div class="card-body">
            <h5 class="card-title">Colaboração</h5>
            <p class="card-text">O Scrum promove colaboração e comunicação durante reuniões diárias, agilizando a
              detecção de problemas e facilitando decisões rápidas.</p>
          </div>
        </div>
        <div class="card col-3">
          <img src="{{url_for('static', filename='img/icons/graphicupicon.svg')}}" class="card-img-top" style="height: 30px;" alt="...">
          <div class="card-body">
            <h5 class="card-title">Melhoria continua</h5>
            <p class="card-text">O Scrum promove melhorias contínuas através de retrospectivas ao final de cada Sprint,
              incentivando aprendizado e evolução do processo de desenvolvimento.</p>
          </div>
        </div>
        <div class="card col-3">
          <img src="{{url_for('static', filename='img/icons/mirroricon.svg')}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Transparência</h5>
            <p class="card-text">O Scrum proporciona visibilidade do progresso do projeto por meio do quadro Scrum,
              promovendo transparência e facilitando o monitoramento para todos os envolvidos.</p>
          </div>
        </div>
      </div>
    </section>

    <section class="introducion-ava">
      <h1 class="title">Introdução as Ambiente Virtual de Aprendizado</h1>
      <div class="content d-flex">
        <img class="img-fluid ava-img col-4" src="{{url_for('static', filename='img/storyset/education-amico.svg')}}" alt="">
        <p class="text col-6"> Boas-vindas ao Ambiente Virtual de Aprendizado - AVA. No AVA, teremos a oportunidade de
          padronizar conceitos que já utilizamos no nosso dia a dia, atualizar algumas ideias, aperfeiçoarmos processos,
          enfim, falar a mesma língua em todos os níveis. Mas não se preocupe, o AVA foi desenvolvido para ser direto ao
          ponto, sem rodeios, com exemplos práticos de situações do cotidiano.
          O Ambiente está dividido em três módulos de aprendizado: o primeiro focado em padronizar o que já sabemos
          sobre
          metodologia ágil aplicada ao Scrum, o segundo com dinâmicas interativas sobre processos reais e, por fim, um
          módulo de exames. Não se preocupe, ao longo dos Módulos I e II, haverá uma trilha de quizzes que te ajudarão
          no
          módulo final.</p>
      </div>
    </section>

    <section class="redirecionamento-ava">
      <h1 class="title">Agora que você já foi introduzido ao Scrum, que tal começar?</h1>
      <div class="ava-button d-flex">
        <a class="btn btn-primary d-flex" href="/trilha" role="button">Trilhas de Aprendizado</a>
      </div>
    </section>

    {% endblock %}