<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Introdução ao Scrum
    </title>
    <link rel="stylesheet" text="text/css" href="{{url_for('static', filename='style/main.css')}}">
</head>
<body>

    <header class="header-style">
        <div>
            <img alt="Logo do grupo" class="logo" src="{{url_for('static', filename='images/logo.jpg')}}" width="50px">
        </div>
    </header>


    
    <h1>O que é o Método Scrum?</h1>

    <p>
        O Método Scrum é um framework ágil para gestão e desenvolvimento de projetos, caracterizado por ciclos curtos e repetitivos chamados de "sprints". Durante cada sprint, a equipe trabalha em uma lista de tarefas prioritárias, entregando um incremento de produto funcional ao final do período. O Scrum enfatiza transparência, inspeção e adaptação contínuas, promovendo colaboração, auto-organização e foco na entrega de valor ao cliente de forma rápida e iterativa.
    </p>


    <h2>Quais são as vantagens de usar o Scrum?</h2>
    <p>
        O Método Scrum oferece diversas vantagens para equipes e organizações, incluindo flexibilidade para se adaptar a mudanças rapidamente, entregas iterativas que possibilitam feedback constante dos clientes e ajustes contínuos do produto, além de proporcionar maior visibilidade do progresso do projeto através de reuniões regulares. Ele promove colaboração entre as equipes, resultando em maior qualidade do produto final e envolvimento das partes interessadas. Além disso, o Scrum ajuda na redução de riscos ao identificar e mitigar problemas mais cedo no ciclo de desenvolvimento, tornando-se uma abordagem eficaz e adaptável para o desenvolvimento de projetos.
    </p>
    <h2>
        O que é importante ao usar o Scrum?
    </h2>

    <p>
        Ao utilizar o Scrum, é essencial priorizar o comprometimento da equipe, promover uma comunicação eficaz e garantir transparência em todo o processo. Focar na entrega de valor ao cliente de maneira iterativa, enquanto se mantém aberto à inspeção e adaptação contínuas, é fundamental. Respeitar os papéis e responsabilidades definidos pelo Scrum, incluindo o Scrum Master, Product Owner e membros da equipe, é crucial para o sucesso do projeto. Ao manter esses princípios centrais, as equipes podem maximizar sua eficácia e alcançar melhores resultados em seus projetos.
    </p>

    <div>
        Agora que você possui uma compreensão básica do que é o Scrum e de sua utilidade, estamos prontos para começar a aprender. 
        Que tal iniciarmos?
    </div>

    <a href="Trilhas de Aprendizagem">
        <scan class="click-to-start">
            Trilhas de Aprendizado
        </scan>
    </a>

    <div class="footer-background">
        <img alt="Logo do grupo" class="logo" src="{{url_for('static', filename='images/logo.jpg')}}" width="50px" height="50px">
        <p id="slogan">"Code Don't Blow: Where Innovations Unfolds!"</p>
        <img alt="Logo do Github" class="github-logo" src="{{url_for('static', filename='images/github-icon-white.png')}}" width="40px" height="40px">
    </div>

    <footer>
        <div class="container1">
            <span class="footer-items" id="copyright">Copyright©2024</span>
            <span class="footer-items" id="group-name">CodeDontBlow</span>
        </div>

        <div class="container2">
            <span class="footer-items" id="footer-home"><a>Homepage</a></span>
            <span class="footer-items" id="about-us"><a>Sobre nós</a></span>
        </div>
    </footer>
</body>
</html>