<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trilhas de Aprendizagem</title>
    <link rel="stylesheet" text="text/css" href="{{url_for('static', filename='style/main.css')}}">
</head>
<body>
    <header class="header-style">
        <div>
            <img alt="Logo do grupo" class="logo" src="{{url_for('static', filename='images/logo.jpg')}}" width="50px">
        </div>
    </header>

    <h1>Seja bem-vindo a Trilha de Aprendizado</h1>

    <p>
        Essa trilha foi preperada especialmente para te proporcionar a melhor experiencia e compreensão do método scrum! 
        Bons Estudos!
    </p>

    <h2>
        Seção 1: Definições e Origem
    </h2>

    <ul>
        <li>Fundamentos do Scrum;</li>
        <li>Manifesto ágil;</li>
        <li>Pilares do Método</li>
        <li>Quiz de conhecimento: Definições e origem;</li>
    </ul>

    <hr/>


    <h2>
        Seção 2: Papéis Scrum
    </h2>

    <ul>
        <li>Scrum Team;</li>
        <li><a href="Scrum Master">Scrum Master;</a></li>
        <li>Product Owner;</li>
        <li>Development Team;</li>
        <li>Quiz de conhecimento: Papéis Scrum;</li>
    </ul>

    <hr/>

    <h2>
        Seção 3: Eventos e Artefatos
    </h2>

    <ul>
        <li>Sprint;</li>
        <li>Daily Scrum;</li>
        <li>Release Planning Meeting;</li>
        <li>Sprint e Product Backlog;</li>
        <li>MVP (Mínimo Produto Viável);</li>
        <li>Definition of Done (DoD);</li>
        <li>Burndown Charts;</li>
        <li>Quiz de conhecimento: Eventos e Artefatos;</li>
    </ul>
    <hr/>

    <div class="footer-background">
        <img alt="Logo do grupo" class="logo" src="{{url_for('static', filename='images/logo.jpg')}}" width="50px" height="50px">
        <p id="slogan">"Code Don't Blow: Where Innovations Unfolds!"</p>
        <img alt="Logo do Github" class="github-logo" src="{{url_for('static', filename='images/github-icon-white.png')}}" width="40px" height="40px">
    </div>

    <footer>
        <div class="container1">
            <span class="footer-items" id="copyright">Copyright©2024</span>
            <span class="footer-items" id="group-name">CodeDontBlow</span>
        </div>

        <div class="container2">
            <span class="footer-items" id="footer-home"><a>Homepage</a></span>
            <span class="footer-items" id="about-us"><a>Sobre nós</a></span>
        </div>
    </footer>

    
    
</body>
</html>