{% extends 'base.html' %}
{% block pageCss %}
<link rel="stylesheet" href="{{url_for('static', filename='style/trilha.css')}}">
{% endblock %}

{% block pageTitle %} Trilha {% endblock %}

{% block pageContent %}
<section>
    <h1 class="title">
        Seja bem-vindo a Trilha de Aprendizado!
    </h1>
    <div class="container d-flex justify-content-center container-sm trilha-scrum">
        <h1 class="text" style="text-align: center;"> Essa trilha foi preparada especialmente para te proporcionar a
            melhor experiência e compreensão do Método Scrum
            <br>
            Bons Estudos!
        </h1>
    </div>
</section>
<hr id="Modulo-1">
<br>

<!--Seção do módulo 1-->
<section>
    <h1 class="title"><i class="bi bi-pin-fill"></i>
        Módulo 1
    </h1>
    <div class="container-content text-center row">

        <div class="content-block col-md-4">
            <img class="img-fluid scrum-img" src="{{url_for('static', filename='img/storyset/paper.svg')}}" alt="sobre">
        </div>

        <div class="content-block col-md-8">
            <ul class="list-content">
                <li class="text">
                    <i class="bi bi-book"></i>
                    <a class="links" href="/Capitulo1">
                        Capítulo 1: Definição e Origem
                    </a>
                </li><br>

                <li class="text"><i class="bi bi-book"></i>
                    <a class="links" href="/Capitulo2">
                        Capítulo 2: Responsabilidade e Papéis
                    </a>
                </li><br>

                <li class="text"><i class="bi bi-book"></i>
                    <a class="links" href="/Capitulo3">
                        Capítulo 3: Eventos e Artefatos
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
<hr id="Modulo-2">

<!--Seção do módulo 2-->
<span>
    <section>
        <h1 class="title"><i class="bi bi-pin-fill"></i>
            Módulo 2
        </h1>

        <div class="container-content text-center row">
            <div class="content-block col-md-4">
                <img class="img-fluid scrum-img" src="{{url_for('static', filename='img/storyset/scrum-game.svg')}}"
                    alt="sobre">
            </div>

            <div class="content-block col-md-8">
                <ul class="list-content">
                    <li class="text"><i class="bi bi-controller"></i><a class="links" href="/jogoPO">
                            Rodada 1 - Product Owner
                    </li>
                    </a><br>
                    <li class="text"><i class="bi bi-controller"></i><a class="links" href="/jogoSM">
                            Rodada 2 - Scrum Master
                    </li>
                    </a><br>
                    <li class="text"><i class="bi bi-controller"></i><a class="links" href="/jogoST">
                            Rodada 3 - Scrum Team
                    </li>
                    </a><br>
                </ul>
            </div>
        </div>
    </section>
</span>
<hr id="Modulo-3">

<!--Seção do módulo 3-->
<span id="Mod3">
    <section>
        <h1 class="title">
            <i class="bi bi-pin-fill"></i>
            Módulo 3
        </h1>

        <div class="container-content text-center row">
            <div class="content-block col-md-4">
                <img class="img-fluid scrum-img" src="{{url_for('static', filename='img/storyset/test.svg')}}"
                    alt="sobre">
            </div>

            <div class="content-block col-md-8">
                <ul class="list-content">
                    <li class="text"><i class="bi bi-pencil"></i>
                        <!-- BOTÃO PARA O MODAL ALERTA -->
                        <a class="links" data-bs-toggle="modal" data-bs-target="#alertModal">
                            Exame Final: Teste de Aptidão
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        
        <!-- MODAL ALERTA -->
        <div class="modal fade" id="alertModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body">
                        <i class="bi bi-exclamation-triangle alert-icon"></i>
                        <h2 class="alert-title">ATENÇÃO!</h2>
                        <h5 class="alert-text">A sua nota final do curso será calculada a partir das respostas dadas na primeira vez que você realizar este Exame.</h5>
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-secondary" data-bs-dismiss="modal">Responder mais Tarde</a>
                        <a class="btn btn-primary" href="/Exame final">Continuar</a>
                    </div>
                </div>
            </div>
        </div>

    </section>
</span>


{% endblock %}